{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        <span>{{ object.bodyTextExcerpt(100) | trans({}, 'CapcoAppBundle') }}</span>
    </div>
{% endblock %}
