{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        <p><a href="{{ object | capco_url(true) }}">
                {{ object | capco_url(true) }}
            </a></p>
    </div>
{% endblock %}
