{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <span><a href="{{ path('admin_capco_app_reporting_show', {'id': object.id}) }}">{{ object.relatedObject }}</a></span>
    </div>
{% endblock %}
