{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {%  set labels = field_description.options.statusLabels %}
    <div>
        <span>{{ labels[object.status] | trans({}, 'CapcoAppBundle')  }}</span>
    </div>
{% endblock %}
