{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        {% if(object.Opinion is not null) %}
            <span>{{ 'admin.fields.reporting.opinion'|trans({}, 'SonataAdminBundle') }}</span>
        {% elseif (object.Source is not null) %}
            <span>{{ 'admin.fields.reporting.source'|trans({}, 'SonataAdminBundle') }}</span>
        {% elseif (object.Argument is not null) %}
            <span>{{ 'admin.fields.reporting.argument'|trans({}, 'SonataAdminBundle') }}</span>
        {% elseif (object.Idea is not null) %}
            <span>{{ 'admin.fields.reporting.idea'|trans({}, 'SonataAdminBundle') }}</span>
        {% endif %}
    </div>
{% endblock %}