{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        {{ include('@CapcoApp/DataCollector/elasticsearch_logo.svg.twig') }}
        <span class="sf-toolbar-value">Elasticsearch</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Queries</b>
            <span>10</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig') }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">{{ include('@CapcoApp/DataCollector/elasticsearch_logo.svg.twig') }}</span>
        <strong>Elasticsearch</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Elasticsearch</h2>
{% endblock %}
