{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {%  if object is not null and object.isTrashed() %}
        {% if object.getTrashedStatus() == 'invisible' %}
            <span class="label label-danger">{{ 'admin.fields.proposal.state.choices.hidden_content'|trans }}</span>
        {% else %}
            <span class="label label-danger">{{ 'project.trash'|trans }}</span>
        {% endif %}
    {%  endif %}
{% endblock %}
