{# Remove me when we don't need sonata translate anymore #}
{% set object = block_context.settings.object %}
{% set admin  = block_context.settings.admin %}
{% set locale_switcher_route = block_context.settings.locale_switcher_route %}
{% set locale_switcher_route_parameters = block_context.settings.locale_switcher_route_parameters %}


{#
 We check if SonataTranslatableInterface
 and for SiteParameter is `isTranslatable` is true
 because some are translatable and not others
#}
{% if is_translatable(admin.class) %}
    {% set currentLocale = object.traductionKey|default(null) %}
    {% set availableLocales = [] %}

    {% if locale_switcher_route is empty %}
        {% if object.id %}
            {% set locale_switcher_route = 'edit' %}
        {% else %}
            {% set locale_switcher_route = 'create' %}
        {% endif %}
    {% endif %}
    {% for extension in admin.extensions %}
        {% if extension.translatableLocale is defined %}
            {% set currentLocaleCode = extension.translatableLocale(admin) %}
            {% for locale in extension.getEnabledTranslationLocales() %}
                {% set redirect = admin.generateUrl(
                    locale_switcher_route,
                    {
                        'id': admin.id(object),
                        'tl': locale.code
                    }|merge(locale_switcher_route_parameters)
                    )
                %}
                {% set availableLocale = locale|merge({'redirect': redirect}) %}
                {% set availableLocales = availableLocales|merge([availableLocale]) %}
                {% if currentLocaleCode == locale.code %}
                    {% set currentLocale = locale.traductionKey %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <span class="mr-30 mt-15" style="text-align: right">
        {% spaceless %}
            {% include '@CapcoApp/redux_store.html.twig' %}
            {{ react_render_component('LanguageButtonApp', {
                'props': {
                    'onChange': null,
                    'languages': availableLocales,
                    'currentLanguage': currentLocale,
                    'pullRight': true
                }
            }) }}
        {% endspaceless %}
    </span>
{% endif %}
