{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {%  set types = field_description.options.questionTypes %}
    <div>
        <p>
            {{ types[object.type] | trans({}, 'CapcoAppBundle')  }}
        </p>
    </div>
{% endblock %}
