{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-news-block-recent-post box">
        <div class="box-header">
            <h3 class="sonata-news-block-recent-post box-title">{{ settings.title|trans({}, 'CapcoAppBundle') }}</h3>
        </div>

        <div class="box-body">
            {{ 'administration-help-text'|trans({}, 'CapcoAppBundle')|raw }}
        </div>
    </div>
{% endblock %}
