{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="sonata-news-block-recent-post box">
        <div class="box-header">
            <h3 class="sonata-news-block-recent-post box-title">{{ settings.title|trans({}, 'CapcoAppBundle') }}</h3>
        </div>

        <div class="box-body">
            <ul>
                <li>Documentation : <a href="https://aide.cap-collectif.com/" target="_blank">aide.cap-collectif.com</a>
                </li>
                <li>Assistance : <a href="mailto:assistance@cap-collectif.com">assistance@cap-collectif.com</a></li>
                <li>Demande de prestations d'accompagnement : <a href="mailto:coucou@cap-collectif.com">coucou@cap-collectif.com</a>
                </li>
                <ul>
                    <li>Formation à l'utilisation de l'interface d'administration</li>
                    <li>Accompagnement méthodologique</li>
                    <li>Développement de fonctionnalité spécifique</li>
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}
