node_modules
codemod
flow-typed
features
spec
doc
docs
benchmarks
jest
coverage
.php_cs
.php_cs.cache
.prettierignore
.blackfire.yml
.gherkin-lintrc
phpstan.neon
fabfile.py
.scss-lint.yml
.eslintrc.js
jest-setup.js
.storybook
behat.yml
app/config/parameters.yml

# We don't ignore public/fonts folder to keep non-generated fonts public
/public/bundles/
/public/images/*
/public/css/*
/public/js/*
/public/media/*
/public/uploads/*
/public/export/*
/public/app_dev.php
/public/app_test.php

translations/*
app/config/parameters.ini
app/config/parameters/*

# ide config
jsconfig.json
ide.config.js

# infra
infrastructure/environments/current.yml
infrastructure/services/databasefixtures/dump.sql

/var
/vendor/
