node_modules
codemod
flow-typed
features
spec
doc
docs
benchmarks
jest
coverage
.php_cs
.php_cs.cache
.prettierignore
.blackfire.yml
.gherkin-lintrc
phpstan.neon
fabfile.py
.scss-lint.yml
.eslintrc.js
jest-setup.js
.storybook
behat.yml
app/config/parameters.yml
/web/bundles/
/web/images/*
/web/fonts/*
/web/css/*
/web/js/*
/web/media/*
/web/uploads/*
/web/export/*
translations/*
app/config/parameters.ini
app/config/parameters/*
/web/app_dev.php
/web/app_test.php

# ide config
jsconfig.json
ide.config.js

# infra
infrastructure/environments/current.yml
infrastructure/services/databasefixtures/dump.sql

/var
/vendor/
