{
  "extends": "jolicode",
  "plugins": [
    "react"
  ],
  "globals": {
    "$": true,
    "google": true,
    "CKEDITOR": true,
    "React": true,
    "document": true,
    "Modernizr": true,
    "jQuery": true,
  },
  "rules": {
    "no-nested-ternary": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-closing-bracket-location": 0,
  }
}
