{
  "extends": "airbnb",
  "globals": {
    "$": true,
    "google": true,
    "CKEDITOR": true,
    "JsDiff": true,
    "autosize": true,
    "React": true,
    "ReactRouter": true,
    "ReactIntl": true,
    "ReactBootstrap": true,
    "ReactRouterBootstrap": true,
    "Flux": true,
    "EventEmitter",
    "document": true,
    "classNames": true,
    "Modernizr": true,
    "Quill": true,
    "moment": true,
    "jQuery": true,
  },
  "rules": {
    "no-nested-ternary": 0,
    "id-length": 0,
    "react/prefer-es6-class": 1,
    "react/jsx-closing-bracket-location": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 1,
  }
}
