{
  "extends": "airbnb",
  "globals": {
    "$": true,
    "google": true,
    "CKEDITOR": true,
    "JsDiff": true,
    "autosize": true,
    "React": true,
    "ReactRouter": true,
    "ReactIntl": true,
    "ReactBootstrap": true,
    "ReactRouterBootstrap": true,
    "Flux": true,
    "EventEmitter",
    "document": true,
    "classNames": true,
    "Modernizr": true,
    "moment": true,
  },
  "rules": {
    "no-nested-ternary": 0,
    "id-length": 0,
  }
}
