__generated__
node_modules
features
benchmarks

# Ignore WYSIWYG files (because we uninstall draft-js & his friends, its too heavy)
frontend/js/components/AdminEditor/**/*.ts
frontend/js/components/AdminEditor/**/*.tsx
