{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "rules": {
      "selector-pseudo-element-colon-notation": "single",
      "no-descending-specificity": null,
      "declaration-colon-newline-after": null
  }
}
