includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 7
    checkClassCaseSensitivity: true
    checkThisOnly: true
    paths:
        - src
        - tests
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 16
        minimumNumberOfJobsPerProcess: 2
        processTimeout: 300.0
    symfony:
        constant_hassers: true
    reportUnmatchedIgnoredErrors: false
