includes:
  - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/app/AppKernel.php
        - %currentWorkingDirectory%/app/config/parameters.php
        - %currentWorkingDirectory%/app/DoctrineMigrations/*
        - %currentWorkingDirectory%/app/DoctrineMigrations/*
        - %currentWorkingDirectory%/src/Capco/UserBundle/Security/DrupalEncoder.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/DataFixtures/ORM/*
        - %currentWorkingDirectory%/src/Capco/AdminBundle/*
        - %currentWorkingDirectory%/src/Capco/AdminBundle/Controller/*
        - %currentWorkingDirectory%/src/Capco/AppBundle/Controller/Api/*
        - %currentWorkingDirectory%/src/Capco/AppBundle/Controller/Site/*
        - %currentWorkingDirectory%/src/Capco/UserBundle/Controller
        - %currentWorkingDirectory%/src/Capco/AppBundle/Validator/Constraints
        - %currentWorkingDirectory%/src/Capco/AppBundle/Behat
        - %currentWorkingDirectory%/src/Capco/AppBundle/EventListener/DynamicRelationSubscriber.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/EventListener/ReferenceEventListener.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/Entity/Steps/AbstractStep.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/Resolver/ProjectStatsResolver.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/Traits/TimestampableTrait.php
        - %currentWorkingDirectory%/src/Capco/AppBundle/Command/Maker/templates/*
        - %currentWorkingDirectory%/src/Capco/AppBundle/Command/Paris/*
        - %currentWorkingDirectory%/src/Capco/AppBundle/Notifier/ContributionNotifier
        - %currentWorkingDirectory%/src/Capco/AppBundle/Mailer/Message/Contribution/ContributionModerationMessage
