url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
docker-compose = ">=1.23.0"
docker = "*"
pyaml = ">=4.2b1"
Fabric = ">=1.13.1,<2.0"
paramiko = "*"
pycodestyle = "*"

[requires]
python_version = "2.7"
