.ranking__spot {
    width: 100%;
    min-height: 45px;
}

.ranking__item {
    background-color: #f5f5f5;
    cursor: move;
    margin-bottom: 5px !important;
}

.ranking__item.disabled {
    opacity: 0.5;
    cursor: auto;
}

.ranking__choice-box {
    position: relative;
}

.ranking__pick-box__choices {
    border: 1px dashed #d3d3d3;
}

.ranking__choice-box__choices {
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    border: 1px dashed #d3d3d3;
}

.ranking__choice-box__placeholder {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px;
    color: #808080;
    text-align: center;
}

.ranking__item__icon {
    margin-right: 5px;
    color: #808080;
}

.ranking__item__arrows {
    margin-top: 10px;
}

.ranking__item__image {
    max-width: 100%;
}
