/* ===============================================================
    $ADMIN
================================================================*/

// This line is absolutely needed by bootstrap-sass to find the fonts associated.
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "base/variables",
  "base/tools",
  "base/utils",
  "base/bootstrap4",
  "~fonts/_fonts.scss",
  "base/sonata",
  "base/base",
  "modules/social-block",
  "modules/alert",
  "modules/form",
  "modules/buttons",
  "modules/slick"
;

body {
    font-family: "openSans", sans-serif;
}

.movable-element {
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #e0d9d9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

.sidebar--app__version {
    padding: 10px;
    font-size: 1.25rem;
    color: $white;
    opacity: 0.5;
    text-align: center;
    width: 100%;
    @media (min-height: $max-bo-navbar-height) {
        position: absolute;
        bottom: 0;
    }
}

#beamerSelector {
    display: none;
}

.uppy-StatusBar:not(.is-waiting) {
    width: 340px;
}

.jodit-dialog__panel a.jodit-button[data-ref='editImage'] {
    display: none;
  }

.jodit_sticky>.jodit-toolbar__box {
    z-index: 1050 !important;
}

// #region -- this styles need to be in sync with Jodit.tsx Box styles
.jodit h1 {
    font-size: 36px !important;
}

.jodit h2 {
    font-size: 30px !important;
}

.jodit h3 {
    font-size: 24px !important;
}

.jodit h4 {
    font-size: 18px !important;
}

.jodit-wysiwyg {
    ul, ol {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}
// #endregion -- this styles need to be in sync with Jodit.tsx Box styles

.cap-link:before { display:none; }