{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% thumbnail object.Media, 'small' with {'title': object.title, 'alt': object.title} %}
    </div>
{% endblock %}
