{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        <img
            title={{ object.title }}
            alt={{ object.title }}
            src={{ media_public_url(object.media, 'default_small') }}
        />
    </div>
{% endblock %}
