{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {%  set labels = field_description.options.statusesLabels %}
    <div>
        <p>
            {% if labels[object.status] is defined %}
                {{ labels[object.status] | trans({}, 'CapcoAppBundle')  }}
            {% else %}
                {{ 'global.no_status'|trans({}, 'CapcoAppBundle') }}
            {% endif %}
        </p>
    </div>
{% endblock %}
