{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {%  set labels = field_description.options.statusesLabels %}
    {% if object.status != null %}
    <div>
        <p>
            {{ labels[object.status] | trans({}, 'CapcoAppBundle')  }}
        </p>
    </div>
    {% endif %}
{% endblock %}