.form-group {
    input,
    textarea,
    select,
    select.form-control,
    .select2-container :not(.select2-container-active),
    .form-group > .list-group > .list-group-item {
        border-radius: 3px;
        background-color: $light-bgc;
    }

    .editor {
        .ql-toolbar, .ql-container {
            border: 1px solid $border-color;
        }

        .ql-toolbar {
            border-radius: 3px 3px 0 0;
         }

        .ql-container {
            border-radius: 0 0 3px 3px;
            border-top: none;
            background-color: $light-bgc;

            .ql-editor {
                min-height: 100px;
            }
        }
    }

    .image-uploader {
        .image-uploader__dropzone-label {
            text-align: center;
            padding: 10px;
            border: 1px dashed $border-color;
            background-color: $light-bgc;

            p {
                margin: 5px 0;
            }
        }

        .image-uploader__label-info {
            margin-bottom: 5px;
        }
    }
}

.sonata-ba-form {
    .box-primary {
        padding: 0 20px 20px;
    }

    .box-header {
        padding: 10px 0;

        h3.box-title {
            margin: 15px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
            font-size: 24px;
            width: 100%;
        }

        a.link {
            position: absolute;
            right: 10px;
            top: 30px;
        }
    }

    .box-content {
        &.box-content__notation-form,
        &.box-content__status-form {
            .box-content__toolbar {
                margin-top: 20px;
            }
        }

        .list-group {
            margin-bottom: 0;
        }

        .panel-heading {
            a:hover {
                color: currentColor;
            }

            h4 {
                margin: 0;
                line-height: 31px;
            }

            .form-group {
                margin: 5px 0 0;
            }
        }

        .panel-body .form-group:last-child {
            margin-bottom: 0;
        }

        .form-group .checkbox {
            margin-top: 0;
        }

        .box-content__toolbar:not(button) {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $border-color;
            margin-left: 0;

            >.btn:first-child {
                margin-left: 0;
            }
        }

        button.box-content__toolbar {
            margin-top: 20px;
        }
    }
}
