.admin_proposal_form {
    .box-primary {
        padding: 0 20px 20px;
    }

    .box-header {
        padding: 10px 0;

        h3.box-title {
            margin: 15px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
            font-size: 24px;
            width: 100%;
        }

        a.link {
            position: absolute;
            right: 10px;
            top: 30px;
        }
    }

    .box-content {
        input,
        textarea,
        select,
        select.form-control,
        .ql-container,
        .form-group > .list-group > .list-group-item {
            background-color: $light-bgc;
        }

        &.box-content__notation-form,
        &.box-content__status-form {
            .box-content__toolbar {
                margin-top: 20px;
            }
        }

        .editor {
            border: 1px solid $border-color;
        }

        .ql-container {
            min-height: 100px;
        }

        .list-group {
            margin-bottom: 0;
        }

        .panel-heading {
            a:hover {
                color: currentColor;
            }

            h4 {
                margin: 0;
                line-height: 31px;
            }

            .form-group {
                margin: 5px 0 0;
            }
        }

        .panel-body .form-group:last-child {
            margin-bottom: 0;
        }

        .form-group .checkbox {
            margin-top: 0;
        }

        .image-uploader {
            .image-uploader__dropzone-label {
                text-align: center;
                background-color: $light-bgc;
                padding: 10px;
                border: 1px dashed $border-color;

                p {
                    margin: 5px 0;
                }
            }

            .image-uploader__label-info {
                margin-bottom: 5px;
            }
        }

        .box-content__toolbar:not(button) {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $border-color;
            margin-left: 0;

            >.btn:first-child {
                margin-left: 0;
            }
        }

        button.box-content__toolbar {
            margin-top: 20px;
        }
    }
}
