#proposal-admin-page-tabs {
    .box-header {
        h3.box-title {
            margin: 15px 0 10px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
            font-size: 24px;
            width: 100%;
        }

        a.link {
            position: absolute;
            right: 10px;
            top: 30px;
        }
    }

    .box-content {
        padding: 10px;

        .editor {
            border: 1px solid $border-color;
        }

        .list-group {
            margin-bottom: 0;
        }

        .image-uploader {
            .image-uploader__dropzone-label {
                text-align: center;
                background-color: #fafafa;
                padding: 10px;
                border: 1px dashed #E3E3E3;

                p {
                    margin: 5px 0;
                }
            }

            .image-uploader__label-info {
                margin-bottom: 5px;
            }
        }

        .box-content__toolbar {
            margin-top: 40px;
        }

    }
}
