{% extends "CapcoAppBundle::base.html.twig" %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': 'Developper',
        'url':   url('app_developer')
    } only %}
{% endblock %}

{% block body %}
<style>
.graphiql-wrapper {
    height:715px
}

iframe#graphiql {
    width:100%;
    height:inherit;
    border:1px solid #ddd
}
</style>

<div class="container  developers__container">

{% include 'CapcoAppBundle:Developer:header.html.twig' with {'active': 'explorer'} only %}

<div class="row">
<div class="col-md-12">
  <div class="graphiql-wrapper" style="margin-top: 15px">
    <iframe id="graphiql" scrolling="no" src="{{url('graphiql_endpoint')}}">
      <p>You must have iframes enabled to use this feature.</p>
    </iframe>
  </div>
</div>
</div>

</div>
{% endblock %}
