<div class="row">
    <div class="col-xs-12">
        <div class="mb-40">
            <h1>Cap Collectif Developers <span>- GraphQL API</span></h1>
        </div>
        <div class="well well-lg mt-15">
<p>Thank you for your interest in our public API !</p>
<p>
This is an <strong>early release</strong>… We will progressively enhance the documentation (including more examples !) and complete what can be retrieved via the public API, throughout the following weeks.
Thank you in advance for your patience and do not hesitate to return regularly to this documentation to see its evolution.
<p>
<p>
Please notice, you <strong>do not need an API key</strong> to read public data.
</p>    
<p>
The technical team of Cap Collectif.
</p>
</div>
        {% include 'CapcoAppBundle:Developer:menu.html.twig' with {'active': active} %}
    </div>
</div>

