<div class="row">
    <div class="col-xs-12">
        <div class="mb-40">
            <h1>Cap Collectif Developers <span>- GraphQL API</span></h1>
        </div>
        {% include 'CapcoAppBundle:Developer:menu.html.twig' with {'active': active} %}
    </div>
</div>

