<ul class="nav nav-tabs">
  <li {% if active == "reference" %}class="active"{% endif %}><a href="/developer">Reference <span class="label badge-pill label-default">Alpha</span></a></li>
  <li {% if active == "guides" %}><a href="/developer/guides/">Guides <span class="label badge-pill label-default">Alpha</span></a></li>
  <li {% if active == "explorer" %}class="active"{% endif %}><a href="/developer/explorer/">Explorer <span class="label badge-pill label-default">Alpha</span></a></li>
  {# <li><a href="/developer/changelog/">Changelog</a></li> #}
</ul>

<div class="well well-lg mt-15">
<p>Thank you for your interest in our public API !</p>
<p>
This is an early release… We will progressively enhance the documentation (including some examples !) and complete what can be retrieved via the public API, throughout the following weeks.
Thank you in advance for your patience and do not hesitate to return regularly to this documentation to see its evolution.
<p>
<p>
Please notice, you <strong>do not need an API key</strong> to read public data.
</p>    
<p>
The technical team of Cap Collectif.
</p>
</div>
