<ul class="nav nav-tabs">
  <li {% if active == "reference" %}class="active"{% endif %}><a href="/developer">Reference <span class="label badge-pill label-default">Alpha</span></a></li>
  <li {% if active == "guides" %} class="active"{% endif %}><a href="/developer/guides/">Guides <span class="label badge-pill label-default">Alpha</span></a></li>
  <li {% if active == "explorer" %}class="active"{% endif %}><a href="/developer/explorer/">Explorer <span class="label badge-pill label-default">Alpha</span></a></li>
  {# <li><a href="/developer/changelog/">Changelog</a></li> #}
</ul>

