<ul class="nav nav-tabs">
  <li {% if active == "reference" %}class="active"{% endif %}><a href="{{ path('app_developer') }}">Reference</a></li>
  <li {% if active == "guides" %} class="active"{% endif %}><a href="{{ path('app_developer_guides') }}">Guides</a></li>
  <li {% if active == "explorer" %}class="active"{% endif %}><a href="{{ path('app_developer_explorer')}}">Explorer</a></li>
  {# <li><a href="/developer/changelog/">Changelog</a></li> #}
</ul>

