    <div class="alert alert-info mt-15">
      <p>This part of the schema is currently available for developers to preview. During this preview period, the API may change <strong>without any advance notice</strong>. Please see <a href="{{ path('app_developer_category', { 'category': 'previews' })}}">Schema previews</a> for more details.</p>
    </div>
