.meta__step__navigation {
    top: 51px;
    z-index: 1000;
}

#panel-account {
  .panel-heading {
    height: 90px;
    font-weight: bold;
  }

  .list-group {
    margin: 0;
  }

  .nav-pills {
    li {
      background-color: $white;
      color: $black;
      margin: 0;

      a {
        padding: 0;

        .list-group-item {
          color: $primary-color;
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid $border-dropdown-color;

          .icon {
            margin-right: 10px;
            color: $border-color;
          }
        }
      }
    }

    li.active {
      a {
        .list-group-item {
          color: $black;
          font-weight: bold;
          border-left: $black solid 3px;

          .icon {
            color: $black;
          }
        }
      }
    }
  }

  .panel-body {
    padding: 0;
  }
}
