/* ===============================================================
   $Profile
================================================================*/
.profile .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile__values .container {
  padding-top: 0;
  padding-bottom: 0;
}

.profile {
  .share-button-dropdown {
    margin-top: 15px;
  }

  position: relative;

  .profile__picture img {
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .profile__name {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 15px;
    color: $dark;
  }

  .profile__infos {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    & > li {
      line-height: 1.5;
    }
  }

  .profile__values {
    background-color: $white;
    border-bottom: 1px solid $border-color;
  }

  .profile__value {
    float: none;
    display: inline-block;
    text-align: center;

    &.active a,
    &.active a:hover,
    a:hover {
      background-color: $white;
      color: $dark;
      border-radius: 0;
      @include box-shadow(0 -3px 0 $primary-color inset);
    }
  }

  .profile__value__number {
    font-size: 20px;
  }

  .profile__value__label {
    text-transform: uppercase;
    font-size: 12px;
  }

  .profile__value__number,
  .profile__value__label {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs-max) {

    .profile__picture {
      padding-bottom: 0;
      text-align: center;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .profile__name {
      text-align: center;
    }

    .profile__values--mobile {
      padding-top: 15px;

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

.profile__contribution {
  padding: 15px;

  .opinion__header {
    border-bottom: 1px solid $border-color;
  }
}

.profile__contribution__list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;

  .opinion {
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  .opinion:first-child {
    border-top: 1px solid $border-color;
  }

  .opinion--argument {
    .opinion__header__title {
      margin-top: 0;
    }

    .opinion__text {
      padding-top: 0 !important;
    }
  }
}

.profile__contribution__icon {
  font-size: 30px;
}

.profile__contribution__title {
  margin-bottom: 0;
}

.profile__contribution__date {
  margin-top: 0;
}

.phone__confirm-code {
    &__form {
        display: flex;
        align-items: flex-start;
        margin: 5px 0;

        .form-group {
            flex: 1;
            margin-bottom: 0;

            input {
               border-radius: 4px 0 0 4px;

            }
        }
    }

    &__btn {
        margin-top: 27px;
        flex: 2;

        @media (max-width: $screen-sm-max) {
            flex: none;
        }

        button {
            border-radius: 0 4px 4px 0;
        }
    }
}

#personal-data {
  .alert-info {
    display: flex;
    .cap-information {
      font-size: 26px;
    }
  }
  #project-participation-collected-data {
    display: flex;
  }
}

#capco_horizontal_form {
  color: black;

  .horizontal_field_with_border_top {
    clear: both;
    border-top: solid 0.5px $table-border-color;
    margin: 0;
    padding: 10px 0;

    .well {
      margin-top: 20px;
    }

    label.control-label {
      text-align: right;
      float: left;
    }

    div.col-sm-12 {
      padding: 10px 0;
    }

    div.personal-data-address {
      clear: both;
    }
  }
}

#personal-data-date-of-birth {
  padding-left: 0;

  #personal-data-date-of-birth-day {
    padding-left: 0;
    padding-right: 2px;
  }

  #personal-data-date-of-birth-month, #personal-data-date-of-birth-year {
    padding: 0 2px;
  }
}

#profile-alert-form {
  .alert__form {
    &_succeeded-message, &_invalid-field, &_server-failed-message {
      padding: 6px 12px;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

#profile-account {
  min-height: 90px;
  .error-block {
    margin-left: 15px;
  }
}

.personal-data-delete-field {
  color: $primary-color;
}
.inception__panel {
    font-size: 10px;
    margin-top: 10px;
}

.delete__example {
    padding-left: 0;
}

.delete__content__choice {
    padding-left: 20px;
    margin-bottom: 0px;
}

.delete__panel__checked {
    background-color: #d9edf7;
}

.delete__modal__icon {
    font-size: 25px;
    padding-left: 8px;
}

.profile-header {
    padding-left: 0;
    padding-bottom: 0;
    h1 {
        margin-bottom: 10px;
    }
}
