/* ===============================================================
$THEME
================================================================*/
.bg--theme {
    background-color: $primary-color;
    padding-top: 45px;
    padding-bottom: 45px;
}

.theme {
    text-align: center;

    &:hover {
        background-color: $page-bgc;
    }

    .theme__title {
        padding: 0 0 10px;
        margin: 0;
        font-size: 20px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

}

.theme__image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    // aspect-ratio: 5 / 4;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.theme__status {
    margin-top: 20px;
}

.theme__counters {
    height: 44px;
    margin-bottom: 10px;
}

.theme__counters__list {
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    &--counter {
        &:after {
            content: "•";
            padding: 0 .1em;
        }
        &:last-child:after {
            content: '';
            padding: 0;
        }
        display: inline;
    }


}
