/* ===============================================================
   $User settings
================================================================*/
.settings__nav {

    border-top: 1px solid $border-color;

    li a {
        border-radius: 0;
        color: $dark;
    }
}

.settings__form label {
    color: $dark-gray;
    font-size: 15px;
    text-align: left !important;
}

.settings__del-button {
    @media (max-width: $screen-sm-max) {
        float: none !important;
        margin-top: 10px;
    }
}
