{% if projects|length > 0 %}
    <div class="row">
        {% for project in projects %}
            {% include '@CapcoApp/Project/blockProject.html.twig' with {'project': project} only %}
        {% endfor %}
    </div>
    <a href="{{ path('app_project') }}" class="btn  btn-primary  btn--outline">{{ 'project.see_all'|trans({}, 'CapcoAppBundle') }}</a>
{% else %}
    <p>{{ 'project.none'|trans({}, 'CapcoAppBundle') }}</p>
{% endif %}
