{% set token = csrf_token('argument_vote') %}
{%  set currentUser = app.user %}
{% if arguments|length > 0 %}
    <ul class="media-list">
        {% for argument in arguments %}
            {% include 'CapcoAppBundle:Argument:blockArgument.html.twig' with {'argument': argument, 'profile': true, 'classes': 'block block--bordered  opinion--argument--white'} only %}
        {% endfor %}
    </ul>
{% else %}
    <div class="consultation__empty-block  text-center">
        <p class="icon cap-bubble-star-2"></p>
        <p>{{ 'argument.none'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
