{% if comments|length > 0 %}
    {% set token = csrf_token('comment_vote') %}
    <ul class="media-list  opinion__list">
        {% for comment in comments %}
            {% include 'CapcoAppBundle:Comment:blockComment.html.twig' with {'profile': true} %}
        {% endfor %}
{% else %}
    <div class="consultation__empty-block  text-center">
        <p class="icon  cap-bubble-star-2"></p>
        <p>{{ 'comment.none'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
