{% extends "CapcoUserBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - {{ "user.profile.show.jumbotron" | trans({}, 'CapcoAppBundle')}} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ "user.profile.edit.jumbotron" | trans({}, 'CapcoAppBundle')}}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <div class="container  container--custom">
        <div class="row">
            {% include '@CapcoUser/Profile/action.html.twig' %}
            <div class="col-xs-12 col-sm-8 col-md-9">
                {{ react_render_component('PhoneProfileApp') }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
