{% extends "CapcoUserBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - {{ "user.profile.show.jumbotron" | trans({}, 'CapcoAppBundle')}} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ "user.profile.edit.jumbotron" | trans({}, 'CapcoAppBundle')}}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <section class="section--custom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-12">
                    {{ react_render_component('EditProfileApp') }}
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
{% endblock fos_user_content %}
