{% if ideas|length > 0 %}
    <div class="row">
        {% for idea in ideas %}
            {% include 'CapcoAppBundle:Idea:blockIdea.html.twig' with {'idea': idea} only %}
        {% endfor %}
    </div>
{% else %}
    <div class="project__empty-block  text-center">
        <p class="icon  cap-bubble-star-2"></p>
        <p>{{ 'user.profile.show.no_ideas'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
