{% if versions|length > 0 %}
<div class="block block--bordered">
    <ul class="media-list  opinion__list">
        {% for version in versions %}
            {% include 'CapcoAppBundle:Opinion:blockOpinion.html.twig' with {
                'opinion': version,
                'isVersion': true,
                'profile': true
            } only %}
        {% endfor %}
    </ul>
</div>
{% else %}
    <div class="consultation__empty-block text-center">
        <p class="icon cap-bubble-attention-6"></p>
        <p>{{ 'user.profile.show.no_opinions_versions'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
