{% if projectsCount > 0 %}
    <div
        id="render-projects-list"
        data-projects='{{ projects | escape }}'
    >
        <p class="text-center">{{ 'global.loading' | trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% else %}
    <div class="project__empty-block  text-center">
        <p class="icon  cap-bubble-star-2"></p>
        <p>{{ 'user.profile.show.no_projects'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
