{% if projectsCount > 0 %}
    {{ react_intl_component('ProjectsListApp', {
      'props': projectsProps,
      'rendering': 'client_side',
      })
    }}
{% else %}
    <div class="project__empty-block  text-center">
        <p class="icon  cap-bubble-star-2"></p>
        <p>{{ 'user.profile.show.no_projects'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
