{% set page_class = "profile-page" %}
{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('capco_user_profile_show_projects', {'slug': user.slug}) }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'user.profile.show.title'|trans({'%name%': user.username }, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}{% endblock %}

{% block fos_user_content %}
    {% include '@CapcoUser/Profile/showProfile.html.twig' %}
    <section class="section--custom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12" id="details">
                    {% include '@CapcoUser/Profile/projects.html.twig' with {
                        'user': user
                    } only %}
                </div>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.pieChart();
    </script>
{% endblock %}
