{% if sources|length > 0 %}
    <ul class="media-list  opinion__list">
        {% for source in sources %}
            <div class="block  block--bordered">
                {% include 'CapcoAppBundle:Source:blockSource.html.twig' with {'source': source, 'opinion': source.opinion, 'opinionType': source.opinion.opinionType, 'project': source.opinion.step.project, 'profile': true } only %}
            </div>
        {% endfor %}
    </ul>
{% else %}
    <div class="project__empty-block  text-center">
        <p class="icon  cap-bubble-attention-6"></p>
        <p>{{ 'source.none'|trans({}, 'CapcoAppBundle') }}</p>
    </div>
{% endif %}
