{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and ( is_granted('ROLE_SUPER_ADMIN') or 'ROLE_SUPER_ADMIN' not in object.roles ) %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_edit'|trans({}, 'CapcoAppBundle') }}">
        <i class="glyphicon glyphicon-edit"></i>
        {{ 'action_edit'|trans({}, 'CapcoAppBundle') }}
    </a>
{% endif %}
