{% extends admin.templateRegistry.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
        {% if value %}
            <a href="{{ path('admin_capco_user_user_edit', {id: object.id}) }}">
                {{ value | trans({}, 'CapcoAppBundle') }}
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
