parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_user: ~
    mailer_password: ~
    mailer_host: ~
    mailer_port: ~

    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true

    facebook_app_id: xxxx
    facebook_app_secret: xxxx
    google_app_id: xxxx
    google_app_secret: xxxx
    twitter_app_id: xxxx
    twitter_app_secret: xxxx

    redis_prefix: dev

    shield_login: ***REMOVED***
    shield_pwd: ***REMOVED***

    base.url: http://127.0.0.1:8000/

    jwt_private_key_path: %kernel.root_dir%/var/jwt/private.pem   # ssh private key path
    jwt_public_key_path:  %kernel.root_dir%/var/jwt/public.pem    # ssh public key path
    jwt_key_pass_phrase:  'iamapassphrase'                        # ssh key pass phrase
    jwt_token_ttl:        86400

    language_analyzer: french                                     # language analyzer to use for elasticsearch

    remember_secret: '***REMOVED***'                           # secret for remember me functionality
