{% extends 'CapcoAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
setTimeout(function() {
  jQuery("input[type='checkbox']").iCheck('destroy');
}, 200)
</script>
{% endblock %}

{% block content %}
    {% include '@CapcoApp/redux_store.html.twig' %}
    {{ react_render_component('AdminModalsApp') }}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1>{{ 'admin.label.pages.registration' | trans({}, 'CapcoAppBundle') }}</h1>
            </div>
            {{
              react_render_component(
                'RegistrationAdminApp',
                {
                  'props': {},
                  'rendering': 'client_side'
                }
              )
            }}
        </div>
    </div>
{% endblock %}
