{% extends 'CapcoAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        setTimeout(function() {
            jQuery("input[type='checkbox']").iCheck('destroy');
        }, 200)
    </script>
{% endblock %}

{% block form %}
    {% include '@CapcoApp/redux_store.html.twig' %}
    <div class="box box-primary container-fluid">
        <div class="box-header">
            <h3 class="box-title">
                <span>{{ 'admin.label.pages.shield' | trans({}, 'CapcoAppBundle') }}</span>
            </h3>
        </div>
    </div>
{% endblock %}
