<div class="col-lg-3  col-md-4  col-sm-6  col-xs-12">
    <div class="theme  block">
        <h2 class="theme__title  h3"><a href="{{ path('app_theme_show', {'slug': theme.slug}) }}">{{ theme.title }}</a></h2>
        {% set nbConsultations = theme.countEnabledConsultations() %}
        {% set nbIdeas = theme.countEnabledIdeas() %}
        <p class="excerpt">
            {% transchoice nbConsultations with {'%count%': nbConsultations} from 'CapcoAppBundle' %}
            theme.index.consultations
            {% endtranschoice %}
            {% if is_feature_enabled('ideas') %}
                •
                {% transchoice nbIdeas with {'%count%': nbIdeas} from 'CapcoAppBundle' %}
                theme.index.ideas
                {% endtranschoice %}
            {% endif %}
        </p>
    </div>
</div>
