{% if consultations|length > 0 %}
    <div class="row">
        {% for consultation in consultations %}
            {% include '@CapcoApp/Consultation/blockConsultation.html.twig' with {'consultation': consultation} only %}
        {% endfor %}
    </div>
    {% if nbConsultations > max %}
        <a href="{{ path('app_consultation_search', {'theme': theme.slug, 'sort': 'date'}) }}" class="btn  btn-primary  btn--outline">{{ 'consultation.see_all'|trans({}, 'CapcoAppBundle') }}</a>
    {% endif %}
{% else %}
    <p>{{ 'consultation.none'|trans({}, 'CapcoAppBundle') }}</p>
{% endif %}
