{% if consultations|length > 0 %}
    <div class="row">
        {% for consultation in consultations %}
            {% include '@CapcoApp/Consultation/blockConsultation.html.twig' %}
        {% endfor %}
    </div>
    <a href="{{ path('app_consultation') }}" class="btn  btn-primary  btn--outline">{{ 'consultation.see_all'|trans({}, 'CapcoAppBundle') }}</a>
{% else %}
    <p>{{ 'consultation.none'|trans({}, 'CapcoAppBundle') }}</p>
{% endif %}