{% if ideas|length > 0 %}
    <div class="row">
        {% for idea in ideas %}
            {% include '@CapcoApp/Idea/blockIdea.html.twig' %}
        {% endfor %}
    </div>
    <a href="{{ path('app_idea') }}" class="btn  btn-primary  btn--outline">{{ 'idea.see_all'|trans({}, 'CapcoAppBundle') }}</a>
{% else %}
    <p>{{ 'idea.none'|trans({'%startlink%': '<a href="'~ path('app_idea_create') ~'">', '%endlink%': '</a>'}, 'CapcoAppBundle')|raw }}</p>
{% endif %}
