{% if topics|length > 0 %}
    <section class="section--custom">
        <div class="container">
            <h2 class="h2">{{ 'homepage.themes.last'|trans({}, 'CapcoAppBundle') }}</h2>
            <div class="row">
                {% for theme in topics %}
                    {% include '@CapcoApp/Theme/blockTheme.html.twig' with {'theme': theme} only %}
                {% endfor %}
            </div>
            <a href="{{ path('app_theme') }}" class="btn  btn-primary  btn--outline">{{ 'theme.see_all'|trans({}, 'CapcoAppBundle') }}</a>
        </div>
    </section>
{% endif %}
