{% if projects|length > 0 %}
    <div class="row">
        {% for project in projects %}
            {% include '@CapcoApp/Project/blockProject.html.twig' with {'project': project} only %}
        {% endfor %}
    </div>
    {% if nbProjects > max %}
        <a href="{{ path('app_project_search', {'theme': theme.slug, 'sort': 'date'}) }}" class="btn  btn-primary  btn--outline">{{ 'project.see_all'|trans({}, 'CapcoAppBundle') }}</a>
    {% endif %}
{% else %}
    <p>{{ 'project.none'|trans({}, 'CapcoAppBundle') }}</p>
{% endif %}
