{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.isCommentable == false %}
            <span>{{ 'comments-desabled' | trans({}, 'CapcoAppBundle') }}</span>
        {% else %}
            <span>{{ object.comments.count }}</span>
        {% endif %}
    </div>
{% endblock %}
