{% extends 'CapcoAdminBundle:CRUD:edit.html.twig' %}

{% block sonata_head_title %}
{% endblock %}

{% block sonata_breadcrumb %}
{% endblock %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            {{ 'global.edit.title'|trans({'name': admin.toString(object)|truncate(100) }, 'SonataAdminBundle') }}
        </a>
    </div>
{% endblock %}

{% block form %}
    {% include '@CapcoApp/redux_store.html.twig' with {
        'data' : {
        }
    } %}
    {{ react_render_component('EventFormPageApp', {
        'props': {
            eventId: eventId,
            'isAuthenticated': is_granted('ROLE_USER')
        },
        'rendering': 'client_side'
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
