<a id="action_show" class="btn btn-sm btn-default mr-1" target="_blank" href="{{ eventUrlResolver.__invoke(object) }}" name="action_show">
    <i class="fa cap-external-link"></i>
    {{ 'link_action_show'|trans({}, 'CapcoAppBundle') }}
</a>
