{% if object.deletedAt is not null %}
    <td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}"
        objectId="{{ admin.id(object) }}"{% if field_description.options.row_align is defined %} style="text-align:{{ field_description.options.row_align }}"{% endif %}>
        <span>
            {{ value }}
        </span>
    </td>
{% else %}
    {% include 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% endif %}
