/* ===============================================================
    $PRINT
================================================================*/

@import "bower_components/compass-mixins/lib/compass";
@import "app/Resources/fonts/_fonts.scss";

.hidden-print {
    display: none;
}

a[href]:after {
    content: none;
}

body {
    font-family: "openSans", sans-serif;
    font-size: 10pt;
    background-color: #fff !important;
}

@page {
    margin: 1cm;
}

.section--alt {
    background-color: #fff !important;
}

#main-navbar, .btn, #cookieChoiceInfo, footer, .comments__section, .share-button-dropdown, svg, .leaflet-container, .proposal-vote__widget {
    display: none;
}

.proposal-map__block {
    height: auto;
}

span.avatar {
    background-color: #000;
    @include border-radius(50%);
    width: 45px;
    height: 45px;
    display: flex;

    i.cap-user-2-1 {
        color: #fff;
        margin: auto;
        font-size: 20pt;
    }
}

h1, h2, h3, h4 {
    font-family: "openSans", sans-serif;
    font-weight: normal;
}

h1 {
    font-weight: 500;
    font-size: 19pt;
}

h2 {
    text-align: center;
    font-size: 16pt;
}


a, a:active, a:hover, h2, .h2, h3, h4, .excerpt {
    color: #333 !important;
    text-decoration: none;
}

p, h3, h4, .excerpt {
    color: #333;
    text-decoration: none;
}

p, li {
    margin:2pt 0 6pt 0;
}

ul {
    margin: 0;
}

ul.event__meta {
    list-style-type: none;
    padding: 0;

    address {
        font-style: normal;
    }
}

.media {
    line-height: 33pt;
    margin-bottom: 22.5pt;
}

.media--news {
    &__meta {
        margin-bottom: 15pt;
    }

    &__avatar {
        float: left;
        margin-right: 11.25pt;
    }

    &--aligned {
        line-height: 33pt;
    }
}

img {
    margin: 15pt 0;
    padding: 0;
    background: #fff;
}

.media .img-circle {
    margin: 0;
}

p img {
    margin: 15pt 0 14pt;
}

.img-circle {
    @include border-radius(50%);
}

.pull-left {
    float: left;
    margin-right: 11.25pt;
}

.block.event_link-project, .block.blog_link-project {
    margin-top: 22.5pt;
}

.block h2:first-child {
    margin-top: 5pt;
}

/* ===============================================================
    Project
================================================================*/

.project__header {
    &__title {
        text-align: center;
    }

    &__media {
        display: flex;
        flex-direction: column;
        line-height: initial;
        margin-bottom: 0;

        .img-circle {
            margin-bottom: 10px;
        }
    }
}

.project__step-dates {
    text-align: center;

    .d-ib {
        display: inline-block;
    }

    .mr-15 {
        margin-right: 15px;
    }
}

/* ===============================================================
    Questionnaire
================================================================*/

#reply-form {
    input {
        &::placeholder {
            color: transparent;
        }

        &[type="text"] {
            width: 100%;
            border-width: 0 0 2px 0;
            border-color: #acacac;
            background-color: #fff;
        }

        &[type="checkbox"], &[type="radio"] {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }
    }

    .checkbox, .radio {
        padding-left: 25px;
        margin-right: 30px;
        position: relative;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            border: 1px solid #acacac;
            top: 2px;
            left: 0;
            position: absolute;
        }
    }

    .checkbox::before {
        border-radius: 2px;
    }

    .radio::before {
        border-radius: 50%;
    }

    .form-fields {
        display: flex;
        flex-wrap: wrap;

        .other-field {
            width: 100%;
            display: flex;
            margin-top: 10px;
        }

        .other-field__value {
            flex: 1;
            width: 100%;
        }

        .thumbnail {
            max-width: 200px;
            margin: 0 30px 15px 0;

            img {
                width: 100%;
            }

            .caption {
                text-align: left;
            }
        }
    }

    .control-label {
        font-weight: 500;
        display: block;
        font-size: 11pt;
        margin: 10px 0 5px 0;
        //padding-left: 20px;
        //position: relative;

        // to see
        //&::before {
        //    content: "1.";
        //    position: absolute;
        //    left: 0;
        //}

        .warning {
            font-weight: 300;
            color: #dc3545;
            font-style: italic;
        }
    }

    .help-block {
        display: block;
        margin: 5px 0 10px 0;
        font-size: 9pt;
        color: #707070;
    }

    .ranking__pick-box {
        .ranking__item__image {
            max-width: 200px;
            margin-top: 0;
        }

        .ranking__item__icon {
            display: none;
        }

        .ranking__item__label::before {
            content:"";
            width: 30px;
            margin-right: 5px;
            border-bottom: 1px solid #acacac;
            display: inline-block;
        }
    }
}
