/* ===============================================================
    $ADMIN
================================================================*/

@import "bower_components/compass-mixins/lib/compass";


@import
  "base/tools",
  "base/fonts",
  //"base/variables",
  //"base/base",
  "modules/social-block",
  "modules/sonata",
  "modules/editor"
;

body {
    font-family: "OpenSans";
}

.draghandle {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/draghandle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .25;
  margin-right: 20px;
  cursor: row-resize;
}

.excerpt {
    color: #999;
    font-weight: normal;
}
