{% if app.request.hasPreviousSession %}
    <div id="symfony-flash-messages">
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }} alert-dismissible flash-notif alert--no-radius" role="alert"
                     style="margin-bottom: 0; text-align: center">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                            class="sr-only">{{ 'global.close'|trans({}, 'CapcoAppBundle') }}</span></button>
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
