{% if props | length > 0 %}
    <section id="highlights" class="section--custom overflow-hidden">
        <div class="container">
            <h2 class="h2">
                {% if null != section.title %}
                    {{ section.title }}
                {% else %}
                    {{ 'homepage.section.highlighted' | trans({}, 'CapcoAppBundle') }}
                {% endif %}
            </h2>
            {{ react_render_component('CarouselApp', {
                'props': props,
            }) }}
        </div>
    </section>
{% endif %}
