<div class="jumbotron  jumbotron--custom  jumbotron--bg-2  jumbotron--small">
    <div class="container">
        {% if null != section.title %}
            <h2 class="h2">{{ section.title }}</h2>
        {% endif %}
        {% if null != section.teaser %}
            <p>{{ section.teaser }}</p>
        {% endif %}
        {% if null != section.body %}
            <p>{{ section.body | raw }}</p>
        {% endif %}
    </div>
</div>
