{% if posts|length > 0 %}
    <ul class="media-list">
        {% for post in posts %}
            {% include '@CapcoApp/Blog/blockPost.html.twig' %}
        {% endfor %}
    </ul>
    <a href="{{ path('app_blog') }}" class="btn  btn-primary  btn--outline">{{ 'blog.see_all'|trans({}, 'CapcoAppBundle') }}</a>
{% endif %}
