<div class="container">
    <h2>{% trans %}Topics{% endtrans %}</h2>
    <div class="row">
        {% for theme in topics %}
            {% include '@CapcoApp/Theme/blockTheme.html.twig' %}
        {% endfor %}
    </div>
    <a href="{{ path('app_theme') }}" class="btn  btn-primary  btn--outline">{{ 'theme.index.see_all'|trans({}, 'CapcoAppBundle') }}</a>
</div>
