<section id="metrics" class="section--custom">
    <div class="container  text-center">
        {{ react_render_component('MetricsApp', {
            'props': props
        }) }}
    </div>
</section>
