{% if socialNetworks|length > 0 %}
    <h2 class="h2">{{ 'homepage.social.title'|trans({}, 'CapcoAppBundle') }}</h2>
    <ul class="social__icons">
        {% for socialNetwork in socialNetworks %}
            <li>
                <a href="{{ socialNetwork.link }}" class="external-link">
                    {% thumbnail socialNetwork.Media, 'socialIcon' with {'title': socialNetwork.title, 'alt': '', 'class': 'social__icon'} %}
                    {{ socialNetwork.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
