<h3 class="h3">{{ 'homepage.social.title'|trans({}, 'CapcoAppBundle') }}</h3>
<ul class="social__icons">
    {% for socialNetwork in socialNetworks %}
        <li>
            <a href="{{ socialNetwork.link }}" target="_blank">
                {% thumbnail socialNetwork.Media, 'socialIcon' with {'title': socialNetwork.title, 'alt': socialNetwork.title, 'class': 'social__icon'} %}
                {{ socialNetwork.title }}
            </a>
        </li>
    {% endfor %}
</ul>