{% extends "@CapcoMail/notifyEventLayout.html.twig" %}
{% block email_body %}
            <div>
                <div class="resp-punchline" style="color:#666; text-decoration:none; font-size:20px; font-family:helvetica, arial, sans-serif; text-align:left;">
                    <p style="font-weight: bold">
                        {{ 'hello-username'|trans({'{username}': username,}, 'CapcoAppBundle', user_locale) | raw }}
                    </p>
                    <p>
                        {{ 'event-deleted-by-author'|trans({'{eventTitle}': eventTitle}, 'CapcoAppBundle', user_locale) | raw }}
                    </p>
                </div>
            </div>
{% endblock %}
