.alert__form {
    &_succeeded-message, &_invalid-field, &_server-failed-message {
        padding: 6px 12px;
        margin-left: 5px;
    }

    &_server-failed-message a {
        text-decoration: underline;
    }

    &_invalid-field, &_server-failed-message, &_server-failed-message a {
        color: $danger-color;
    }

    &_succeeded-message {
        color: $success-color;
    }
}
