.alert__form {
    &_succeeded-message, &_invalid-field, &_server-failed-message {
        padding: 6px 12px;
        margin-left: 5px;
    }

    &_server-failed-message a {
        text-decoration: underline;
    }

    &_invalid-field, &_server-failed-message, &_server-failed-message a {
        color: $danger-color;
    }

    &_succeeded-message {
        color: $success-color;
    }
}


.flash-notif{
    margin-bottom: 0;
    width: max-content;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10010
}