/* ===============================================================
   $Appendices
================================================================*/

// Container
.appendices__container {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  margin-bottom: -30px;
}

.appendices__item {
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}
