/* ===============================================================
   $buttons
================================================================*/

.share-button-wrapper {
    margin-top: 30px;
}

.fifty-shade-of-grey {
    background-color: $border-color;
}

.disabled-btn-wrapper {
    display: inline-block;

    button[disabled] {
        pointer-events: none;
    }
}

// To remove with bootstrap4
.btn-secondary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;

    &:hover {
        background-color: darken($secondary-color, 10%);
        border-color: darken($secondary-color, 10%);
        color: $white;
    }
}
