/* ===============================================================
   $Carousel
================================================================*/

@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e2e3e5;
    }


}

.sixteen-nine {
    @include aspect-ratio(16,9);
}

.carousel__desktop {
    display: flex;

    .carousel__navigation {
        width: 25%;
        display: flex;

        .carousel-indicators {
            position: relative;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            width: 100%;
            bottom: inherit;
            left: inherit;
            text-shadow: none;

            li, .empty-item {
                flex: 1 0 0;
            }

            li {
                padding-left: 25px;
                padding-right: 25px;
                list-style-type: none;
                font-size: 14px;
                width: 100%;
                display: flex;
                background-color: $page-bgc;
                cursor: pointer;

                border: none;
                border-radius: 0;
                text-align: left;
                text-indent: 0;
                height: auto;
                margin: 0;

                p {
                    align-self: center;
                    line-height: 20px;
                }

                .carousel-type {
                    font-weight: 500;
                }

                .carousel-title {
                    font-size: 16px;
                    font-weight: 500;
                }
                
                &.active {
                    background-color: #e2e3e5;
                    transition: 0.5s ease-in-out;
                }
            }
        }

    }

    .carousel__content {
        width: 75%;
        height: 100%;

        .carousel-inner {
            height: 100%;

            .item {
                height: 100%;
            }
        }

        .carousel-caption {
            width: 100%;
            margin: 0;
            left: 0;
            bottom: 0;
            padding: 30px;
            background: linear-gradient(to top, #000, rgba(0,0,0,0));

            p {
                @extend .ellipsis;
            }

            .carousel-type {
                font-size: 17px;
            }

            .carousel-title {
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
            }

            .carousel-date {
                font-size: 16px;
                font-style: italic;
                font-weight: 300;
            }
        }

        .carousel-control {
            opacity: 1;

            &.left, &.right {
                background-image: none;
                display: flex;
                text-shadow: none;

                i {
                    transition: 0.1s ease;
                    font-size: 25px;
                    margin: auto;
                }
            }

            &.disabled {
                cursor: initial;

                i {
                    opacity: 0.5;
                    transition: 0.1s ease-out;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.carousel__mobile {
    display: flex;
    white-space: nowrap;
    overflow: scroll;

    &.active {
        // transform: scale(0.9);
    }

    img {
        width: 100%;
    }

    .item {
        width: 100%;
        margin-right: 5px;
    }

    .carousel__content {
        color: #333333;
        padding: 10px 0;
        line-height: 20px;

        .carousel-type {
            font-size: 14px;
            color: $dark-gray;
        }

        .carousel-title {
            font-weight: 500;
        }

        .carousel-date {
            font-style: italic;
            font-size: 14px;
        }
    }
}

@media (max-width: $screen-md-max) {
    .carousel__desktop {
        .carousel__navigation {
            width: 30%;

            .carousel-indicators li {
                padding-left: 20px;
                padding-right: 20px;

                p {
                    line-height: 19px;
                }

                .carousel-type, .carousel-date {
                    font-weight: 400;
                }

                .carousel-title {
                    font-size: 15px;
                }
            }
        }

        .carousel__content {
            width: 70%;
        }
    }
}


