/* ===============================================================
   $Carousel
================================================================*/

#highlights .container {
    padding-bottom: 0;
}

/* =====
  Desktop
==== */

.carousel__desktop {
    display: flex;
    margin: 30px 0 45px;

    .carousel {
        &__navigation {
            width: 25%;
            display: flex;
        }

        &-indicators {
            position: relative;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            bottom: inherit;
            left: inherit;
            text-shadow: none;

            li, .empty-item {
                flex: 1 0 0;
                z-index: 2;
                background-color: transparent;
            }

            li {
                padding-left: 25px;
                padding-right: 25px;
                list-style-type: none;
                font-size: 14px;
                width: 100%;
                display: flex;
                background-color: $page-bgc;
                cursor: pointer;
                border: none;
                border-radius: 0;
                text-align: left;
                text-indent: 0;
                height: auto;
                margin: 0;

                &:hover {
                    background-color: $border-color;
                }

                &.active {
                    transition: 0.5s ease-in-out;
                }

                p {
                    align-self: center;
                    line-height: 20px;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            .carousel__title {
                font-size: 16px;
                font-weight: 500;
            }

            .carousel__date {
                font-weight: 300;
                font-style: italic;
            }
        }

        &__content {
            width: 75%;
            height: 100%;
        }

        &-inner {
            height: 100%;

            .item {
                height: 100%;
            }
        }

        &-caption {
            width: 100%;
            margin: 0;
            left: 0;
            bottom: 0;
            padding: 30px;

            p {
                @extend .ellipsis;
            }

            .carousel__type {
                font-size: 17px;
            }

            .carousel__title {
                color: $white;
                font-weight: 500;
                font-size: 24px;
                line-height: 45px;
            }

            .carousel__date {
                font-size: 16px;
                font-style: italic;
                font-weight: 300;
            }
        }

        &-control {
            opacity: 1;

            &.left, &.right {
                background-image: none;
                display: flex;
                text-shadow: none;

                i {
                    transition: 0.1s ease;
                    font-size: 25px;
                    margin: auto;
                }
            }

            &.disabled {
                cursor: initial;

                i {
                    opacity: 0.5;
                    transition: 0.1s ease-out;
                    cursor: not-allowed;
                }
            }
        }
    }

    @media (max-width: $screen-md-max) {
        .carousel {
            &__navigation {
                width: 30%;
            }

            &-indicators li {
                padding-left: 20px;
                padding-right: 20px;

                p {
                    line-height: 19px;
                }

                .carousel__type, .carousel__date {
                    font-weight: 400;
                }

                .carousel__title {
                    font-size: 15px;
                }
            }

            &__content {
                width: 70%;
            }
        }
    }
}

/* =====
  Mobile
==== */

.carousel__mobile {
    display: flex;
    margin-bottom: 40px;

    .mobile__content {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    img {
        width: 100%;
    }

    .item {
        padding-right: 10px;
        flex: 0 0 100%;
    }

    .carousel {
        &__content {
            color: $dark-text;
            padding: 10px 0;
        }

        &__type {
            font-size: 14px;
            color: $dark-gray;
        }

        &__title {
            color: $dark-text;
            font-weight: 500;
        }

        &__date {
            font-style: italic;
            font-size: 14px;
        }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        .item {
            position: relative;
        }

        .carousel {
            &__content {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px 30px;
                color: $white;
                text-align: center;

                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__type, &__date {
                font-size: 16px;
            }

            &__type {
                color: $white;
            }

            &__title {
                color: $white;
                font-size: 23px;
            }

            &__date {
                font-weight: 300;
            }
        }
    }
}


