/* ===============================================================
   CNIL
================================================================*/

#cookieChoiceInfo {
    background-color: $white;
    color: $dark-gray;
    font-size: 14px;
    border-bottom: 1px solid $border-color;
}

#cookieChoiceInfo span,
#cookieChoiceInfo a:not(.btn) {
    color: $dark-gray;
}

#cookieChoiceInfo a:not(.btn) {
    text-decoration: underline;
}
