/* ==|================
   Module/Color
   =================== */
.color-swatches .swatches {
    @include border-radius(4px);
    width: 100%;
}

.color-swatches .dark,
.color-swatches .light {
    width: 50%;
    height: 50px;
}

.color-swatches .light {
    @include border-top-left-radius(4px);
}

.color-swatches .dark {
    @include border-top-right-radius(4px);
}

.color-swatches .infos {
    padding: 5px 10px;
}

.color-swatches .infos h4 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

.color-swatches .infos p {
    margin: 0;
    font-size: 12px;
    @extend .excerpt;
}

$color-swatches:
        //Brand colors
        (brand-1 $brand-color-1)
        (brand-2 $brand-color-2)
        //Components colors
        (bodybg $brand-color-2)
        (jumbo $brand-color-1)
        (footer1 $brand-color-1)
        (footer2 $brand-color-2)
        (event $custom-event)
        (formborder $custom-form-border)
        //Bootstrap colors
        (primary $brand-primary)
        (success $brand-success)
        (info $brand-info)
        (warning $brand-warning)
        (danger $brand-danger)
        //Other colors
        (whitec $white)
        (gray-primary $gray-primary)
        (light-gray $page-bgc)
        (dark-blue $dark-blue)
        (light-blue $primary-color);
@each $color-swatch in $color-swatches {
    $name: nth($color-swatch, 1);
    $color: nth($color-swatch, 2);

    .color-swatch--#{$name} {
        .light {
            background-color: $color;
        }

        .dark {
            background-color: darken($color, 10%);
        }
    }
}
