/* ===============================================================
   $Comments
================================================================*/
.comment-answer-form {
    padding-left: 15px;
}

.comment-answer-form ul {
    list-style-type: disc;
}

.media-list .opinion--comment .media-list {
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
}

.comments__section {

    svg,
    img {
        margin-right: 15px;
        display: block;
    }

    .opinion__data {
        overflow: hidden;

        .btn--comment {
            margin-bottom: 10px;
        }
    }
}

.opinion--comment .opinion__content {
    padding: 5px;
    border-radius: 5px;
}

.opinion__content {
    display: flex;

    .comment__detail {
        width: 100%;

        .comment__descript {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: $page-bgc;
        }

        .comment__action {
            display: flex;
            align-items: center;

            .comment__date {
                margin: 8px 20px 0 0;
            }

            .comment__buttons {
                .comment__agree {
                    margin-right: 15px;

                    .btn.i {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

// List of comment answers
.comment-answers {
    .opinion__list {
        .opinion--comment {
            padding-bottom: 10px;
            border-bottom: 0;
        }
    }
}

.commentAnswerForm {
    padding-left: 40px;
}

.comment-answers-block {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.opinion__list {

    .opinion--comment:last-child {
        margin-bottom: 15px;
    }

    .opinion--comment {
        padding-bottom: 0;
        padding-top: 10px;
        margin-bottom: 0;
    }
}
