/* ===============================================================
   $Comments
================================================================*/
.comment-answer-form {
    padding-left: 15px;
}

.comment-answer-form ul {
    list-style-type: disc;
}

.media-list .opinion--comment .media-list {
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
}

.comments__section {

    svg,
    .pull-left img {
        margin-right: 10px;
        display: block;
    }

    .opinion__data {
        overflow: hidden;
    }

    .opinion__text {
        padding-left: 55px;
    }

}

.opinion--comment .opinion__content {
    padding: 5px;
    border-radius: 5px;
}

// List of comment answers
.comment-answers {

    .opinion__list {
        .opinion--comment {
            padding-bottom: 10px;
            border-bottom: 0;
        }
    }

    li {
        padding-left: 5px;
    }

    .opinion__body {
        padding-left: 10px;
    }
}

.commentAnswerForm {
    padding-left: 40px;
}

.comment-answers-block {
    margin-left: 55px;
    border-left: $border-color 3px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comments__section > .opinion__list > .opinion--comment:first-child {
    margin-top: 20px;
}

.opinion__list {

    .opinion--comment:last-child {
        margin-bottom: 15px;
    }

    .opinion--comment {
        padding-bottom: 0;
        padding-top: 10px;
        margin-bottom: 0;
    }
}

.comment__buttons {
    padding-left: 55px;
}
