/* ===============================================================
   $Consultation
================================================================*/

// Nav
.consultation__nav {

    li > a {
        padding: 5px 15px;
        color: $dark;
        font-size: 16px;
        padding-left: 90px;
    }

    @for $i from 0 through 5 {
        .nav--level-#{$i} {
            padding-left: $i * 15px + 15px;
        }
    }
}

.counters-nav {
    padding: 5px;

    & > li > a {
        padding: 0;

        &:hover {
            background-color: inherit;

            .category {
                color: $primary-color;
            }
        }

    }

    li {
        padding-right: 20px;
    }

    li i {
        color: $dark;
        font-size: 18px;

        &:hover,
        &:active {
            color: $dark;
        }
    }

    li .value {
        color: $primary-color;
        font-size: 18px;
    }

    li .category {
        font-size: 14px;
    }
}

.counters-nav--bordered {
    border-bottom: 1px solid $border-color;
}

.counters-nav--project {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top: 30px;
}

.counters-nav.counters-nav--proposal {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top: 15px;

    li .value {
        color: $dark;
        font-size: 24px;
    }
}

.project__header__title {
    color: $dark;
    padding-top: 0;
    margin-top: 0;

    @media (max-width: $screen-xs-max) {
        padding-top: 15px;
    }
}

// Empty consultation
.project__empty-block {
    padding: 30px 15px;
    color: $dark-gray;
    font-weight: bold;

    @media (max-width: $screen-xs-max) {
        padding: 35px 15px;
    }

    .icon {
        font-size: 80px;
        margin-bottom: 0;
    }
}

.opinion-type__empty-block {
    padding: 15px;
    color: $dark-gray;
    font-weight: bold;

    .icon {
        font-size: 40px;
        margin-bottom: 0;
    }
}

#details > h2:first-child {
    margin-top: 0;
}

.body__infos__content {
    overflow: hidden;
}

.body__infos__read-more {
    margin-top: 5px;
    margin-bottom: -10px; // Used to realign the bottom because the card component cannot be overriden
    padding-top: 5px;
    border-top: 1px solid $border-dropdown-color;
}

.read-more__button:hover i {
    text-decoration: none;
}
