/* ===============================================================
   $Consultation
================================================================*/

// Navbar
.consultation__nav {
  background-color: $white;

  .nav {
    text-align: center;

    li {
      float: none;
      display: inline-block;

      &.active a,
      a:hover {
        color: $black;
        background-color: transparent;
        @include border-radius(0px);
      }

      a {
        color: $dark-gray;
      }
    }
  }
  
  // Colors depending on opinion type
  @each $type in $opinion-types {
    $name: nth($type, 1);
    $color: nth($type, 2);
    $text: set-link-text-color($color);

    li.consultation__nav--#{$name} {
      &.active a {
        @include box-shadow(0 -3px 0 $color inset);
      }
    }
  }
}

//Title block
.consultation__title {

  .consultation__title__cover-image {
    width: 100%;
    height: auto;
  }

  .consultation__title__body {
    overflow: hidden;
    padding: 15px;
  }

  .consultation__title__title {
    color: $black;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: $screen-xs-max) {
    .dropdown--social {
      margin-top: 15px;
    }
  }
}

// Social dropdown
.dropdown--social {
  display: inline-block;
  position: static;

  .dropdown-menu {
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
  }

  @media (max-width: $screen-xs-max) {
    float: none !important;
  }
}

// Empty consultation
.consultation__empty-block {
  color: $dark-gray;
  font-weight: bold;
  padding: 50px 15px;
  @media (max-width: $screen-xs-max) {
    padding: 35px 15px;
  }
  .icon {
    font-size: 80px;
    margin-bottom: 0;
  }
}
