/* ===============================================================
   $Dialog
================================================================*/
.dialog {
    padding: 0;
    border-radius: 6px;
}

.dialog__header {
    @include border-top-radius(6px);
    .dialog__title {
        margin: 0;
        color: $dark;
    }
}

@each $type in $opinion-types {
    $name: nth($type, 1);
    $color: nth($type, 2);
    $text: set-link-text-color($color);

    .dialog.dialog--#{$name} {
        .dialog__header {
            background-color: $color;
            color: $text;
        }
    }
}

.dialog__message {
    border-top: 1px solid $border-color;
    background-color: $alert-warning-bg;
    color: $alert-warning-text;
    font-size: 15px;
    text-align: center;

    p {
        margin-bottom: 0;
    }
}

.dialog__body {
    border-top: 1px solid $border-color;

    textarea {
        resize: vertical;
    }

    .opinion__list {
        .opinion:first-child {
            border-top: 0;
        }
    }
}

.dialog__footer {
    overflow: hidden;
    border-top: 1px solid $border-color;
}
