/* ===============================================================
   Diff
================================================================*/

.diff {
    color: $dark-gray;
    text-decoration: none;

    del {
        color: $danger-color;
        text-decoration: line-through;
    }

    ins {
        color: $success-color;
        text-decoration: none;
    }
}
