/* ===============================================================
   Diff
================================================================*/

.diff {
    color: #808080;
    text-decoration: none;

    del {
        color: #f00;
        text-decoration: line-through;
    }

    ins {
        color: #008000;
        text-decoration: none;
    }
}
