/* ===============================================================
   $Draft
================================================================*/
.draft {
    &__box {
        padding: 12px;
        border: 2px $light-blue solid;
        border-radius: 5px;
    }
}
