/* ===============================================================
   $Calendar event
================================================================*/
.event {
  background-color: $custom-event;
  text-align: center;
  overflow: hidden;

  &:hover .event__body {
    background-color: $light-gray;
  }

  .event__icon {
    margin-top: 20px;
    max-width: 50px;
  }

  .month {
    @include border-top-radius(4px);
    background-color: $custom-event-month;
    color: $white;
    font-size: 13px;
    border: 1px solid $border;
  }

  .day {
    font-size: 20px;
    @include border-bottom-radius(4px);
    background-color: $white;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  .event__body {
    text-align: left;
    background-color: $white;
    border-left: 1px solid $border;
  }

}

.event__meta {
  list-style-type: none;
  padding-left: 2px;
}

.event__map {
  width: 100%;
  height: 500px;
}
