/* ===============================================================
   $Calendar event
================================================================*/
.event {
  background-color: $custom-event;
  margin-bottom: 30px;
  text-align: center;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05));
  overflow: hidden;

  .event__icon {
    margin-top: 20px;
  }

  .month {
    @include border-top-radius(4px);
    background-color: $custom-event-month;
    color: $white;
    font-size: 13px;
    border: 1px solid $border;
  }

  .day {
    font-size: 20px;
    @include border-bottom-radius(4px);
    background-color: $white;
    border-right: 1px solid $border;
    border-left: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  .event__body {
    text-align: left;
    background-color: $white;
    border-left: 1px solid $border;
  }

}
