/* ===============================================================
   $Calendar event
================================================================*/
.event {
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 100%;


    .event__icon {
        margin: auto;
        min-width: 60px;
        text-align: center;
    }

    .picture_container{
        padding: 0;
        width: auto;
        width: 25%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .event__picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        [src$='svg'] {
            object-fit: unset;
            width: 40%;
            opacity: 0.5;
        }
    }

    .event__infos{
        width: 100%;
        height: 100%;
        padding: 10px 10px 10px 20px;

        .month {
            @include border-bottom-radius(4px);
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            color: $primary-color;
            font-size: 16px;
            padding-bottom: 10px;
        }
    
        .day {
            @include border-top-radius(4px);
            background-color: $white;
            font-size: 22px;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            border-top: 1px solid $border-color;
            padding-top: 10px;
        }
    
        .event__date{

            .month-calendar {
                font-size: 14px;
            }
        
            .day-calendar {
                font-size: 20px;
            }
        }
    
        .event__body {
            background-color: $white;
            text-align: left;
            margin-left: 20px;
            width: 90%;

            .event__title {
                margin-top: 0;
                font-size: 20px;
            }

            .excerpt{
                margin-bottom: 5px;
            }

            // p, h3, span{
            //     max-width: calc(100% - 10px);
            //     height: 22px;
            //     text-overflow: ellipsis;
            //     overflow: hidden;
            //     white-space: nowrap;
            // }

            // h3{
            //     color: #00acc1;
            // }
        }
    }
}

.event__meta {
    list-style-type: none;
    padding-left: 2px;
}

.event__map {
    width: 100%;
    height: 300px;
}

#event__event-list-filters-d {
    div.popover-content {
        width: 260px;
    }
}

.event-map-popup {
    font-size: 14px;
    overflow-wrap: break-word;

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .leaflet-popup-content-wrapper {
        border-radius: 0;

        p {
            margin: 0 0 12px;
        }
    }   
}

#event-search-input {
    z-index: 0;
}

#event-map {
    height: 430px;
}

@media (max-width: 380px) {
    .event{
        font-size: 1.3rem;

        .event__infos{
            height: 100%;
            padding: 10px 0 10px 0;

            .event__title{
                font-size: 1.5rem;
            }
        }

        .event__body{
            margin: 0;
        }

        .picture_container{
            text-align: center;
            margin: 10px;
            width: 50px;
            height: 50px;
            border-radius: 2px;
        }

        .excerpt{
            margin-bottom: 10px;
        }
    }
}