/* ===============================================================
   $Filter
================================================================*/
.filter {

    label {
        font-size: 13px;
        cursor: pointer;
    }

    .formgroup--inline {
        display: table;
        width: 100%;

        label {
            display: table-cell;
            width: 1px;
            white-space: nowrap;
        }

        .formgroup--inline__control {
            display: table-cell;
            padding-left: 10px;
        }

        select,
        input {
            width: 100%;
        }
    }

    .filter__search {
        .input-group-btn button {
            height: 34px;
        }
    }

    @media (max-width: $screen-sm-max) {
        .filter__down-sm {
            margin-top: 15px;
        }
    }

    @media (max-width: $screen-xs-max) {
        form .filter__down,
        form .filter__down-sm {
            margin-top: 10px;
        }
    }

}
