/* ===============================================================
   $Filter
================================================================*/
.filter {

  label {
    cursor: pointer;
    font-size: 13px;
    margin-right: 10px;
  }
  form .form-group {
    margin-left: 20px;
    &:first-child, &.pull-right {
      margin-left: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    .pull-right {
      float: none !important;
      margin-top: 15px;
    }
  }

  @media (max-width: $screen-xs-max) {
    form .form-group {
      margin-left: 0;
    }
    .filter__formgroup--inline {
      text-align: right;
      label {
        margin-right: 0;
        text-align: left;
        display: inline-block;
        width: 15%;
      }
      select, input {
        display: inline-block;
        width: 83%;
      }
    }
  }

}

