.form {
  border-left: 5px solid $custom-form-border;
  padding: 20px;
  background-color: $custom-form-bg;

  legend {
    color: $custom-form-legend;
  }

  .form-control {
    @include border-radius(0);
  }

  textarea {
    min-height: 350px;
    resize: vertical;
  }

  .checkbox label,
  .radio label {
    padding-left: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    font-size: 13px;

    &:before {
      content: "";
      display: inline-block;

      width: 20px;
      height: 20px;

      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #eee;
    }

  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }


  .radio label:before {
    border-radius: 10px;
  }

  .checkbox label {
    margin-bottom: 10px;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    background-color: #428bca;
  }

  input[type=checkbox]:checked + label:before {
    content: "✔";
    font-family: cap-collectif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #fff;
    background-color: #428bca;
    text-align: center;
    line-height: 15px;
  }

}

