/* ===============================================================
   $FORMS
================================================================*/
/*
Hack form button - radio check
*/
[data-toggle=buttons] > .btn > div > label > input[type=checkbox],
[data-toggle=buttons] > .btn > div > label > input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
[data-toggle=buttons] > .btn > .checkbox,
[data-toggle=buttons] > .btn > .radio {
  margin-top: 0;
  margin-bottom: 0;
}
[data-toggle=buttons] > .btn > .checkbox label,
[data-toggle=buttons] > .btn > .radio label {
  padding-left: 0;
}

.form-group.has-warning {
  margin-bottom: 5px;
}

.help-block,
.error-block {
  font-size: 85%;
  margin-top: 0;
  margin-bottom: 5px;
}

.help-block {
  color: $excerpt;
}

.editor {
  border: 1px solid #ccc;
  position: relative;
}

.has-warning {

  .form-control {
    border-color: $warning-text;
    background-color: $warning-bg;
  }

  .cke_wysiwyg_frame {
    background-color: $warning-bg;
  }
  .control-label,
  .error-block {
    color: $warning-text;
  }

  .help-block {
    color: $excerpt;
  }

  .editor {
    border: 1px solid $warning-text;;
  }

  input[type="checkbox"] + span {
    color: $warning-text;
  }


}

.has-success {

  .form-control {
    border-color: $success-text;
  }
  .control-label,
  .error-block {
    color: $success-text;
  }

  .editor {
    border: 1px solid $success-text;;
  }

  .help-block {
    color: $excerpt;
  }
}
