div.geosearch form {
  border-radius: 4px;
  border-left: none;
  background-color: $form-bgc;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
  max-width: 270px;
}

div.geosearch a.reset {
  color: black;
  position: absolute;
  padding: 0 8px;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  background-color: $form-bgc;
  line-height: 26px;
}

div.geosearch a.reset:hover {
  background-color: $border-color;
  border-color: $dark-gray;
  cursor: pointer;
}

div.geosearch input.glass {
  width: 250px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

div.geosearch a.search {
  display: none;
}

div.geosearch div.results.active {
  top: 30px;
  background-color: $form-bgc;
  padding: 8px 0;
  border-top: 1px solid $dark-gray;
}

div.geosearch div.results div {
  padding: 2px;
}

div.geosearch div.results > :hover {
  background-color: $border-color;
  border-color: $dark-gray;
  cursor: pointer;
  padding: 2px;
}

.geoseach {
  max-width: 250px;
}

/* ipad Mini Portrait */
@media only screen and (max-device-width:768px){
  div.geosearch {
    display: none;
  }
}

/* ipad Mini Landscape */
@media only screen and (max-device-width:1024px) {
  div.geosearch {
    display: none;
  }
}