/* ===============================================================
   $Login Page
================================================================*/
.login__social-btn {

  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 24px;
    padding: 6px 12px;
  }
}