/* ===============================================================
   $Login Page
================================================================*/
// .login__social-btn {
//     position: relative;
//     display: block;
//     margin-top: 10px;
//     height: 34px;

//     &:first-child {
//         margin-top: 0;
//     }

//     &:before {
//         @include iconize();
//         position: absolute;
//         top: -1px;
//         left: -1px;
//         width: 40px;
//         height: 34px;
//         font-size: 24px;
//         content: "";
//         @include border-left-radius(4px);
//     }

//     @each $social-color in $social-colors {
//         $name: nth($social-color, 1);
//         $color: nth($social-color, 2);
//         $text: set-link-text-color($color);
//         $subcolor: darken($color, 5%);
//         // $icon: nth($social-color, 3);

//         &.login__social-btn--#{$name} {

//             @include button-variant($text, $color, $color);

//             .loginIcon{
//                 background-color: $subcolor;
//                 height: 100%;
//                 color: $text;
//             }

//             &:hover {
//                 background-color: darken($color, 10%);

//                 .loginIcon{
//                     background-color: darken($subcolor, 10%);
//                 }
//             }
//         }
//     }

//     @media (max-width: $screen-xs-max) {
//         padding-left: 30px;
//     }
// }

.login__social-btn{
    position: relative;
    margin-top: 10px;
    height: 34px;
    width: 100%;
    border-radius: 3px;
    display: flex;

    @each $social-color in $social-colors {
        $name: nth($social-color, 1);
        $color: nth($social-color, 2);
        $text: set-link-text-color($color);
        $subcolor: darken($color, 5%);

        &.login__social-btn--#{$name} {

            @include button-variant($text, $color, $color);

            .loginIcon{
                height: 34px;
                width: 15%;
                border-radius: 3px 0 0 3px;
                background-color: $subcolor;
                display: flex;
                align-items: center;
                justify-content: center;

        
                &>svg{
                    height: 60%;
                    width: 100%;
                    color: $text;
                }
            }
        
            a{
            width: 100%;
            color: $text;
            text-decoration: none;
            
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: fit-content;
                }
            }

            &:hover {
                background-color: darken($color, 10%);

                .loginIcon{
                    background-color: darken($subcolor, 10%);
                }
            }
        }
    }
}


.login__checkbox {
    font-size: 14px;
}

.login_p {
    margin-bottom: 0;
}

.login__submit {
    margin-top: 15px;
}

// Alerts for sonata
.alert-sonata_flash_success,
.alert-sonata_user_success,
.alert-fos_user_success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-sonata_flash_info,
.alert-sonata_user_info,
.alert-fos_user_info {
    @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-sonata_flash_error,
.alert-sonata_user_error,
.alert-fos_user_error {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
