/* ===============================================================
   $Macro
================================================================*/
// to remove when card__user passed on React
.media--macro {
    padding: 15px;
    color: $dark;

    .media-body {
        height: 65px;
    }

    &:hover {
        background-color: $page-bgc;
    }

    .media-heading {
        margin-bottom: 0;
    }

    .excerpt a {
        color: $dark-gray;
    }

    .media--macro__user a {
        color: $dark;
    }

    .media-heading {
        overflow: hidden;
        max-height: 43px;
        padding-top: 5px;
        margin-bottom: 0;
    }

    .media-content {
        margin-top: 15px;
    }

    .media__content h2 {
        margin-top: 10px;
        overflow: hidden;
        height: 58px;
    }
}

// special case: user thumbnail

.media--user-thumbnail {

    .media--macro__user {
        margin-bottom: 0;
        height: 40px;
        line-height: 20px;
    }

    .media-heading {
        padding-top: 0;
        overflow: hidden;
        height: 22px;
    }

    .media-body {
        height: auto;
        word-break: break-word;

        .excerpt {
            font-size: 14px;
        }
    }
}
