/* ===============================================================
   $Macro
================================================================*/
.media--macro {
  padding: 15px;
  color: $black;

  &:hover {
  	background-color: $light-gray;
  }

  .excerpt a {
    color: $excerpt;
  }

  a:hover {
    color: $link-color;
  }

  .media-heading {
    padding-top: 5px;
    margin-bottom: 0;
  }

  .media-content {
  	margin-top: 15px;
  }
}
