.modal-top-warning {
    border-bottom: 1px solid #c0c0c0;
    background-color: #fcf8e3;
    color: #8a6d3b;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    margin: -15px -15px 15px;
}
