#panel-account {
  .panel-heading{
    height: 90px;
    font-weight: bold;
  }
  .list-group {
    margin: 0;
  }
  .nav-pills {
    li {
      background-color: #ffffff;
      color: #000;
      margin: 0;
      a {
        padding: 0;
        .list-group-item {
          color: #1986C8;
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid #ddd;
          .icon {
            margin-right: 10px;
            color: #989898;
          }
        }
      }
    }
    li.active {
      a {
        .list-group-item {
          color: #000;
          font-weight: bold;
          border-left: #000 solid 3px;
          .icon {
            color:#000000;
          }
        }
      }
    }
  }

  .panel-body {
    padding: 0;
  }
}