/* ===============================================================
  $News
================================================================*/
.bg--post {
    width: 225px;
    height: 150px;
    background-color: $primary-color;
    padding-top: 20px;
}

.media--news {

    &:hover {
        background-color: $page-bgc;
    }
}

.media--news__author {
    vertical-align: middle;
}

.media--news .pull-left {
    margin-right: 0;
}

.media--news .media-object {
    margin-right: 15px;
}

.media--news__user a {
    color: $dark;
}

.media--news__meta {
    margin-top: 5px;

    .media-object {
        display: inline;
    }

    .pull-left {
        margin-right: 0;
    }
}

.media__news__text {
    margin-bottom: 0;
}

.media-title {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: $screen-sm-min) {
    .media--news {
        .media-object {
            width: 100%;
            margin-bottom: 15px;
        }

        .pull-left {
            float: none !important;
        }
    }
}
