/* ===============================================================
  $News
================================================================*/
.media--news {

  &:hover {
    background-color: $light-gray;
  }

  .media--news__user a {
    color: $black;
  }

  a,
  a:hover {
    color: $link-color;
  }

  .media-object {
    width: $custom-news-width;
  }
  .pull-left {
    margin-right: 0;
  }

  .media-body {
    padding-left: 15px;
  }

  .media--news__meta {
    margin-top: 5px;
  }

  .media__news__text {
    margin-bottom: 0;
  }

  .media-title {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media (max-width: $screen-sm-min) {
    .media-object {
      width: 100%;
    }
    .pull-left {
      float: none !important;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
