.proposal__info {
  margin-top: 5px;
  padding-left: 5px;
  height: 1.2em;
  word-break: break-word;
  overflow: hidden;
  .cap {
    padding-right: 5px;
  }
}

.proposal__title {
  margin-top: 0;
  height: 80px;
  word-break: break-word;
  overflow: hidden;
}

.proposal__status {
  margin: 10px 0;
  padding: 5px 0;
  display: block;
}

.proposal__author {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
