.project__step-dates .cap {
    right: 0;
}

.project__show-trash {
    position: relative;
    margin-bottom: 30px;

    &__return {
        position: absolute;
    }

    @media (max-width: $screen-xs-max) {
        &__return {
            position: relative;
        }
    }
}
