$statuses: (primary $brand-primary $white) (success $brand-success $white) (info $brand-info $white) (warning $brand-warning $white) (danger $brand-danger $white) (default $dark-gray $white);

.ellipsis {
    @include ellipsis();
}

.proposal-preview-list, .proposal-preview-trash_list {
    display: flex;
    flex-wrap: wrap;

    > li {
        display: flex;
    }
}

.proposal-preview-trash_list > div {
    display: flex;
}

.proposal__header {
    .media {
        display: flex;
        align-items: baseline;
        margin-top: 5px;
    }

    .proposal__header__row {
        display: flex;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            display: block;

            #proposal-vote-btn {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}

.proposal__preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;

    .box {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        border-radius: 5px 5px 0 0;

        .proposal__avatar {
            margin-right: 10px;
        }

        .proposal__author {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .proposal__date {
                margin-bottom: 0;
            }
        }

        .proposal__body {
             flex: 1 0 auto;

             .proposal__title  {
                 margin: 13px auto 10px;
                 font-size: 18px;
             }

             .proposal__infos {
                 margin-top: 5px;

                 .proposal__info {
                     padding-top: 5px;
                     padding-left: 5px;
                     display: block;

                     .cap {
                         padding-right: 5px;
                     }
                 }
             }
         }

        .proposal__buttons {
            margin-top: 15px;
        }
     }

    .proposal__footer {
        .proposal__counters {
            padding: 5px;
            background-color: $lightest-gray;
            border-top: 1px solid $border-color;

            .proposal__counter {
                display: inline-block;
                width: 100%;
                text-align: center;

                .proposal__counter__value {
                    font-size: 18px;
                }
            }
        }
    }

    .proposal__status {
        border-radius: 0 0 5px 5px;
        min-height: 25px;
        display: block;
        padding: 5px 0;
        margin: 10px 0;
    }
 }

 .proposal__page__metadata .proposal__infos {
     padding: 10px;
     background-color: #f6f6f6;
     font-size: 100%;

     .proposal__info {
         padding-top: 10px;

         .cap {
             font-size: 22px;
         }
     }

     .proposal__info:first-child {
         padding-top: 0;
     }
 }

 .proposal__page__vote_threshold {
     padding: 10px;
     background-color: #f6f6f6;
     font-size: 100%;

     .proposal__info {
         padding-top: 10px;

         .cap {
             font-size: 34px;
         }
     }

     &__votes {
         font-size: 1.3em;
         text-align: left;
         padding-left: 5px;

         i {
             color: $blue;
             font-size: 22px;
         }
     }

     &__progressbar {
         color: $brand-info;
     }

     .proposal__info:first-child {
         padding-top: 0;
     }

     .progress-bar {
         width: 2%;
         min-width: 2em;
     }

     .progress {
         background-color: #cecece;
         margin-bottom: 10px;
     }
 }

 .propopal__vote_threshold {
     .progress {
         margin-bottom: 5px;
     }

     .progress-bar {
         width: 2%;
         min-width: 2em;
     }
 }

 .proposal__preview .proposal__status {
     overflow: hidden;
     padding: 3px;
     margin: 0;
     color: $white;
     text-align: center;
     white-space: nowrap;
     text-overflow: ellipsis;

     @each $status in $statuses {
         $name: nth($status, 1);
         $bg: nth($status, 2);
         $color: nth($status, 3);

         &.status--#{$name} {
             background-color: $bg;
             color: $color;
         }
     }
 }

 .proposal-search-group {
     @media (max-width: $screen-sm-max) {
         margin-top: 15px;
     }
 }

@media (min-width: $screen-sm-min) {
    .proposal__details__button {
        margin-top: 10px;
    }
}

.nb--highlighted {
    color: $brand-primary;
    font-size: 120%;
}

.proposals-user-votes__table {
    border: 1px solid $border-color;
    margin-bottom: 5px;
}

.proposals-user-votes__row {
    padding: 15px 0 15px;
    border-bottom: 1px solid $border-color;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

.proposals-user-votes__col {
    padding-bottom: 5px;
}

.proposals-user-votes__table.row {
    margin-left: 0;
    margin-right: 0;
}

.proposal__votes .proposal__vote .media--aligned {
    height: 3em;
    line-height: 1.5em;
}

// Vote widget

.proposal-vote__widget {
    margin-top: $navbar-height;
    z-index: 1020;
    overflow: hidden;
    height: $navbar-height;
    border-color: $votes-widget-border;
    background-color: $votes-widget-bg;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    li {
        padding: 15px;
        margin: 0;
    }

    .widget__counter {
        color: $votes-widget-text;
        padding-top: 5px;
        padding-bottom: 5px;
        border-right: 1px solid $votes-widget-border;
    }

    .widget__counter__label {
        margin-bottom: 0;
        font-size: 12px;
    }

    .widget__counter__select {
        height: 22px;
    }

    .widget__progress-bar {
        width: 300px;

        .progress-bar {
            min-width: 30px;
        }
    }

    .widget__button {
        margin-left: 15px;
        background-color: $votes-widget-btn-bg;
        color: $votes-widget-btn-text;
    }

    .widget__image {
        width: auto;
        height: auto;
        max-height: 50px;
        padding: 5px;
    }
}

@media (max-width: $screen-xs-max) {
    .proposal-vote__widget {
        margin-top: $navbar-collapsed-height;
        height: auto;

        .container {
            padding-top: 0;
            padding-bottom: 0;
        }

        .widget__image {
            margin-right: 10px;
        }

        & > .container .navbar-brand {
            margin-left: 15px !important;
        }

        .widget__progress-bar {
            width: auto;
        }

        .progress {
            margin-bottom: 0;
        }

        .navbar-toggle {
            padding: 0;
            border: 0;
            background-color: transparent !important;
            margin-bottom: 0;
            cursor: pointer;
            margin-left: 10px;
        }

        .widget__counter__select {
            width: auto;
            margin-right: 0;
        }

        .widget__counter__value .form-group {
            margin-bottom: 0;
        }

        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
        }

        .widget__button {
            float: none !important;
            margin-left: 0;
            width: 100%;
        }
    }
}

.proposal-vote__widget > .container .navbar-brand {
    margin-left: 0;
}

.has-vote-widget {
    body {
        padding-top: $navbar-height * 2;
    }

    @media (max-width: $screen-xs-max) {
        body {
            padding-top: $navbar-height + $navbar-collapsed-height;
        }
    }

    @media (min-width: $screen-md-min) {
        .sidebar {
            top: 120px;
        }
    }
}

.proposal__private-excerpt {
    color: $brand-warning;
    margin-top: 25px;
}

.proposal__private-field {
    background-color: $main-bg;
    border: 1px solid $brand-warning;

    h2 {
        margin-top: 0;
    }
}

.consultation__header__title {
    margin: 15px 0 15px;
    display: inline-block;
}

.proposal__map {
    &--marker {
        $marker-width: 38px !default;
        $marker-height: 38px !default;

        position: absolute;
        width: $marker-width;
        height: $marker-height;
        left: -$marker-width / 2;
        top: -$marker-height;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    &--cluster {
        $marker-width: 50px !default;
        $marker-height: 50px !default;
        $marker-border-width: 5px !default;
        $marker-font-size: 16px !default;

        position: absolute;
        cursor: pointer;
        width: $marker-width;
        height: $marker-height;
        left: -$marker-width / 2;
        top: -$marker-height / 2;

        border: $marker-border-width solid #00a7d0;
        border-radius: 50%;
        background-color: #4990E2;
        text-align: center;
        color: #ffffff;

        font-size: $marker-font-size;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.proposal__comments {
    padding-top: 20px;
}

.proposal__last__news__title {
    margin-top: 0;
}

#proposal-page-tabs-pane-content {
    .block + .proposal__content {
        .block:first-child > h3 {
            margin-top: 20px;
        }
    }
}

.proposal__content .block:first-child > h3  {
    margin-top: 0;
}

#proposal-form {
    font-size: 14px;

    input, textarea, select, .ql-container {
        background-color: $main-field-bg;
        border-color: $main-border-color;
        font-size: 14px;
        //color: red;
        //color: $dark-gray;

        &::placeholder, option:first-child {
            color: red;
        }
    }

    .control-label.h5 {
        margin-bottom: 5px;
    }

    #PlacesAutocomplete__autocomplete-container {
        border: 1px solid $main-border-color;
        border-radius: 0 0 5px 5px;
        color: $field-font-color;

        .places-autocomplete {
            padding: 5px;

            &:hover {
                background-color: $autocomplete-hover-bg;
            }

            strong {
                font-weight: 500;
            }
        }
    }
}
