.project__step-dates .cap {
    right: 0;
}

.project__show-trash {
    position: relative;
    margin-bottom: 30px;

    &__return {
        position: absolute;
    }

    @media (max-width: $screen-xs-max) {
        &__return {
            position: relative;
        }
    }
}

.project__district-modal-item {
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    padding-top: 10px;
    &:last-child {
        border: none;
        padding-bottom: 0px;
    }
}

.project__district-modal-link {
    color: $brand-color-2;
}

#project__project-list-filters-d {
    div.popover-content {
        width: 260px;
    }
}

.project-filters {
    position: sticky;
    top: 50px;
    z-index: 1010;
    background-color: white;
    min-height: 60px;
    padding: 10px 0;
}

.project__trash-title {
    color: $black;
}
