.proposal-preview-list {
    display: flex;
    flex-wrap: wrap;

    > li {
        display: flex;
    }
}

.proposal__step-page .PrivateList {
    margin-bottom: 30px;
}

.proposal__header {
    .media {
        display: flex;
        align-items: baseline;
        margin-top: 5px;
    }

    .proposal__header__row {
        display: flex;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            display: block;

            #proposal-vote-btn {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}

.proposal__preview {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;

    hr {
        margin-top: 15px;
        margin-bottom: 0;
        border: 0.5px solid $border-color;
        width: 100%;
    }

    .box {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        border-radius: 4px 4px 0 0;

        .proposal__author {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;

            .proposal__date {
                margin-bottom: 0;
            }
        }

        .proposal__body {
            flex: 1 0 auto;

            .proposal__title {
                margin: 13px auto 10px;
                font-size: 18px;
            }

            .proposal__infos {
                margin-top: 5px;

                .proposal__info {
                    padding-top: 5px;
                    padding-left: 5px;
                    display: block;

                    .cap {
                        padding-right: 5px;
                    }
                }
            }
        }

        .proposal__buttons {
            margin-top: 15px;
        }
    }

    .proposal__footer {
        .proposal__counters {
            padding: 5px;
            background-color: $page-bgc;
            border-top: 1px solid $border-color;

            .proposal__counter {
                display: inline-block;
                width: 100%;
                text-align: center;

                .proposal__counter__value {
                    font-size: 18px;
                }
            }
        }
    }

    .proposal__status {
        border-radius: 0 0 4px 4px;
        min-height: 25px;
        display: block;
        padding: 5px 0;
        margin: 10px 0;
    }
}

.proposal__page__metadata .proposal__infos {
    padding: 10px;
    background-color: $page-bgc;
    font-size: 100%;
}

.proposal__page__vote_threshold {
    padding: 10px;
    background-color: $page-bgc;
    font-size: 100%;

    .proposal__info {
        padding-top: 10px;

        .cap {
            font-size: 34px;
        }
    }

    &__votes {
        font-size: 1.3em;
        text-align: left;
        padding-left: 5px;

        i {
            color: $primary-color;
            font-size: 22px;
        }
    }

    &__progressbar {
        color: $brand-info;
    }

    .proposal__info:first-child {
        padding-top: 0;
    }

    .progress-bar {
        width: 2%;
        min-width: 2em;
    }

    .progress {
        background-color: $dark-gray;
        margin-bottom: 10px;
    }
}

.propopal__vote_threshold {
    .progress {
        margin-bottom: 5px;
    }

    .progress-bar {
        width: 2%;
        min-width: 2em;
    }
}

.proposal__preview .proposal__status {
    overflow: hidden;
    padding: 3px;
    margin: 0;
    color: $white;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    @each $status in $statuses {
        $name: nth($status, 1);
        $bg: nth($status, 2);
        $color: nth($status, 3);

        &.status--#{$name} {
            background-color: $bg;
            color: $color;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .proposal__details__button {
        margin-top: 10px;
    }
}

.nb--highlighted {
    color: $primary-color;
    font-size: 120%;
}

.proposals-user-votes__table {
    border: 1px solid $border-color;
    margin-bottom: 5px;
    border-radius: 5px;
}

.proposals-user-votes__draggable-item > div {
    background-color: $white;
}

.proposals-user-votes__draggable-item.item-in-portal > div {
    border: 1px solid $dark-gray;

    .cap-android-menu {
        color: $dark-gray;
    }
}

.proposals-user-votes__row {
    padding: 15px 0 15px;
    border-bottom: 1px solid $border-color;
    text-align: left;
    margin-left: 0;
    margin-right: 0;

    .draggable-icon__mobile {
        display: none;
    }
}

.proposals-user-votes__col {
    display: flex;

    .badge {
        padding: 3px 11px;
    }

    .cap:not(.cap-delete-2) {
        font-size: 24px;
        display: flex;
        top: 0;
    }

    .cap-android-menu {
        color: $icon-gray-color;
    }

    .cap-ios-close {
        color: $danger-color;
    }

    .proposal-vote__delete {
        margin: auto 0 auto auto;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.proposals-user-votes__content {
    display: flex;
    margin: auto 0;
    width: 100%;

    .form-group, label {
        margin-bottom: 0;
    }
}

.proposals-user-votes__title {
    &, &:hover {
        color: $dark-text;
        font-size: 17px;
        font-weight: 500;
    }
}

.proposals-user-votes__table.row {
    margin-left: 0;
    margin-right: 0;
}

.proposal__votes .proposal__vote .media--aligned {
    height: 3em;
    line-height: 1.5em;
}

// Vote widget

.proposal-vote__widget {
    margin-top: $navbar-height;
    z-index: 1020;
    overflow: hidden;
    height: $navbar-height;
    border-color: $border-color;
    background-color: $page-bgc;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    li {
        padding: 15px;
        margin: 0;
    }

    .widget__counter {
        color: $dark-gray;
        padding-top: 5px;
        padding-bottom: 5px;
        border-right: 1px solid $border-color;
    }

    .widget__counter__label {
        margin-bottom: 0;
        font-size: 12px;
    }

    .widget__counter__select {
        height: 22px;
    }

    .widget__progress-bar {
        width: 300px;

        .progress-bar {
            min-width: 30px;
        }
    }

    .widget__button {
        margin-left: 15px;
        background-color: $white;
        color: $dark;
    }

    .widget__image {
        width: auto;
        height: auto;
        max-height: 50px;
        padding: 5px;
    }
}

@media (max-width: $screen-xs-max) {
    .proposal-vote__widget {
        margin-top: $navbar-collapsed-height;
        height: auto;

        .container {
            padding-top: 0;
            padding-bottom: 0;
        }

        .widget__image {
            margin-right: 10px;
        }

        & > .container .navbar-brand {
            margin-left: 15px !important;
        }

        .widget__progress-bar {
            width: auto;
        }

        .progress {
            margin-bottom: 0;
        }

        .navbar-toggle {
            padding: 0;
            border: 0;
            background-color: transparent !important;
            margin-bottom: 0;
            cursor: pointer;
            margin-left: 10px;
        }

        .widget__counter__select {
            width: auto;
            margin-right: 0;
        }

        .widget__counter__value .form-group {
            margin-bottom: 0;
        }

        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
        }

        .widget__button {
            float: none !important;
            margin-left: 0;
            width: 100%;
        }
    }
    

}

@media (max-width: $screen-sm-max) {
    .proposals-user-votes__row {
        position: relative;

        .draggable-icon__mobile {
            display: block;
            position: absolute;
            right: 0;
            top: 40%;
            padding-right: 15px;
            font-size: 22px;
        }
    }

    .proposals-user-votes__col:not(.proposal-vote-col__delete) {
        padding: 0 50px;
    }

    .modal-body .proposals-user-votes__col {
        padding-left: 15px;
    }

    .proposals-user-votes__content {
        justify-content: flex-start;
    }

    .proposal-vote-col__delete {
        position: absolute;
        top: 42%;
    }

    .proposals-user-votes__content .cap-android-menu {
        display: none;
    }
}

.proposal-vote__widget > .container .navbar-brand {
    margin-left: 0;
}

.has-vote-widget {
    body {
        padding-top: $navbar-height * 2;
    }

    @media (max-width: $screen-xs-max) {
        body {
            padding-top: $navbar-height + $navbar-collapsed-height;
        }
    }

    @media (min-width: $screen-md-min) {
        .sidebar {
            top: 120px;
        }
    }
}

.consultation__header__title {
    margin: 15px 0 15px;
    display: inline-block;
}

.proposal__map {
    &--marker {
        $marker-width: 38px !default;
        $marker-height: 38px !default;

        position: absolute;
        width: $marker-width;
        height: $marker-height;
        left: -$marker-width / 2;
        top: -$marker-height;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    &--cluster {
        $marker-width: 50px !default;
        $marker-height: 50px !default;
        $marker-border-width: 5px !default;
        $marker-font-size: 16px !default;

        position: absolute;
        cursor: pointer;
        width: $marker-width;
        height: $marker-height;
        left: -$marker-width / 2;
        top: -$marker-height / 2;

        border: $marker-border-width solid lighten($primary-color, 15%);
        border-radius: 50%;
        background-color: $primary-color;
        text-align: center;
        color: $white;

        font-size: $marker-font-size;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.proposal__comments {
    padding-top: 20px;
}

.proposal__last__news__title {
    margin-top: 0;
}

#proposal-page-tabs-pane-content {
    .block + .proposal__content {
        .block:first-child > h3 {
            margin-top: 20px;
        }
    }
}

.proposal__content .block {
    > .actions {
        margin-bottom: 20px;
    }

    &.proposal-map__block {
        height: 255px;
    }

    &:first-child > h3, &:first-child > div > h3 {
        margin-top: 0;
    }
}
