/* ===============================================================
   $Search
================================================================*/

// Choice expanded
.search__choice-panel {
    .radio {
        margin-top: 7px;
        margin-bottom: 0;
    }

    .radio input {
        display: none;
    }

    .radio label {
        padding-left: 0;
        color: $link-color;

        &:hover,
        &:active,
        &.active,
        &:focus {
            color: $link-hover-color;
            text-decoration: underline;
        }
    }

    .radio:first-child {
        margin-top: 0;
    }
}

.search__results {
    list-style-type: none;
    padding-left: 0;

    li {
        padding-top: 5px;
    }

    li:first-child {
        padding-top: 0;
    }
}

.search-result__title {
    line-height: normal;
    margin-bottom: 0px;
    font-size: 16px;

    a {
        vertical-align: middle;
    }
}

.search-result__type {
    margin-right: 5px;
}

.search-result__date {
    padding-left: 10px;
}

// Highlighted results
.search__highlight {
    font-weight: bold;
}
