/* ===============================================================
   $Search
================================================================*/

// Highlighted results
.search__highlight {
  font-weight: bold;
  background-color: yellow;
  color: $black;
}
