/* ===============================================================
    $Social block
================================================================*/
.social__icons {
  @include ul-list-inline();

  li {
    width: auto;
    min-width: 90px;
    text-align: center;
    margin-top: 10px;
    vertical-align: top;

    a {
      display: block;
    }
  }
}

.social__icon {
  margin-bottom: 5px;
}
