/* ===============================================================
    $Social block
================================================================*/
.social__icons {
  @include ul-list-inline();

  li {
    width: 70px;
    text-align: center;
    margin-top: 10px;

    a {
      display: block;
    }

    .social__icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
    }

    .social__icon--facebook {
      background: transparent url(/img/icon-social.png) -233px 0 no-repeat;
    }
    .social__icon--twitter {
      background: transparent url(/img/icon-social.png) -174px 0 no-repeat;
    }
    .social__icon--linkedin {
      background: transparent url(/img/icon-social.png) -58px 0 no-repeat;
    }
    .social__icon--flickr {
      background: transparent url(/img/icon-social.png) 0px 0 no-repeat;
    }
    .social__icon--rss {
      background: transparent url(/img/icon-social.png) -291px 0 no-repeat;
    }
  }
}
