/* ===============================================================
    $Social block
================================================================*/
.social__icons {
  @include ul-list-inline();

  li {
    width: 70px;
    text-align: center;
    margin-top: 10px;

    a {
      display: block;
    }
  }
}

.social__icon {
  margin-bottom: 5px;
}
