.sonata-ba-sortable-handler:hover {
    cursor: move;
}

.sonata-ba-list-field-actions {
    display: inline-table;
    margin: 8px;
}

.capco--sonata-ba-field-help {
    color: #f0ad4e !important;
}

.checkbox[disabled="disabled"] {
    label,
    ins {
        cursor: not-allowed;
    }
}

svg.avatar {
    background-color: $dark-gray;
    vertical-align: middle;
}
