/* ===============================================================
    $SUB-NAVBAR
================================================================*/
.step-tabs-bar {
    border: 1px solid $border-color;
    background-color: $white;
    margin-bottom: 0;
    font-size: 15px;
    overflow: hidden;

    .nav {
        flex-wrap: nowrap;
        display: flex;

        li {
            position: relative;
            white-space: nowrap;
            display: inline-block;
            font-size: 16px;

            &:not(.active):hover {
                background-color: $light-gray;
                border-bottom: 3px solid $light-gray;
            }

            a {
                display: flex;
                padding: 15px;

                &:hover {
                    background-color: transparent;
                }
            }

            svg {
                position: absolute;
                top: 0;
                right: -20px;
                z-index: 5;

                polygon {
                    fill: $white;
                }
            }

            &:first-child {
                .navbar__step-nb {
                    margin: auto 15px auto 0;
                }
            }

            .navbar__step-nb {
                @include border-radius(50%);
                margin: auto 15px auto 17px;
                width: 30px;
                height: 30px;
                background-color: transparent;
                border: 1px solid $dark-gray;
                color: $dark-gray;
                font-size: 18px;
                font-weight: 300;
                display: flex;

                span {
                    margin: auto;
                }
            }

            .navbar__step-title {
                color: $dark-gray;
                font-weight: 500;
            }

            &.active polygon, &:hover polygon {
                fill: $light-gray;
            }

            &.active {
                a {
                    border-bottom: 3px solid $brand-primary;
                    background-color: $light-gray;
                }

                .navbar__step-title {
                    color: $black;
                }

                .navbar__step-nb {
                    background-color: $brand-primary;
                    border: 1px solid $brand-primary;
                    color: $white;
                }
            }
            //
            //&::after {
            //    content: "";
            //    width: 1px;
            //    background-color: $white;
            //    height: 70px;
            //    position: absolute;
            //    right: -1px;
            //    top: 0;
            //}
        }
    }
}

//.navbar--sub.navbar--no-nb .navbar__step-title {
//    margin-top: 0;
//}

//@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//    .navbar--sub {
//
//        .navbar__step-nb {
//            float: none;
//        }
//
//        .navbar__step-title {
//            margin-top: 0;
//        }
//
//        .navbar__step-nb {
//            padding-top: 0;
//            padding-bottom: 5px;
//        }
//
//        .navbar__step {
//            margin-left: 0;
//        }
//
//    }
//}
