/* ===============================================================
    $SUB-NAVBAR
================================================================*/
.navbar--sub {
  font-size: 15px;
  background-color: $white;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  margin-bottom: 0;

  .nav {

    li {
      overflow: hidden;
      border-top: 1px solid $border;
      width: 100%;

      &:first-child {
        border-top: none;
      }

      &.active a,
      &.active:hover a {
        background-color: $brand-primary;

        .navbar__step-nb,
        .navbar__step-title,
        .excerpt {
          color: $white;
        }

        .label {
          color: $brand-primary;
          background-color: $white;
        }
      }

      &:hover a{
        background-color: $light-gray;
      }
    }
  }

  .navbar__step-nb {
    font-size: 25px;
    color: $brand-primary;
    float: left;
    padding-top: 20px;
  }

  .navbar__step-title {
    margin-bottom: 5px;
    padding-top: 0;
    color: $black;
    font-size: 16px;
  }

  .navbar__step {
    margin-left: 30px;

    p, .navbar__step-title {
      margin-top: 0;
    }

    p.excerpt {
      margin-bottom: 5px;
      line-height: 18px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navbar--sub {

    .navbar__step-nb {
      float: none;
    }

    .navbar__step-nb {
      padding-top: 0;
      padding-bottom: 5px;
    }
    .navbar__step {
      margin-left: 0;
    }

  }
}