/* ===============================================================
   $Synthesis
================================================================*/

// **************************** Layout ************************************************

.synthesis_page body {
    padding-top: 120px;
    background-color: $white;
}

@media (min-width: 768px) {
    .synthesis_page,
    .synthesis_page body,
    .synthesis_page #app-wrapper,
    .synthesis_page #app-wrapper > div,
    .synthesis__box,
    .synthesis__tool {
        overflow: hidden;
        height: 100%;
    }

    .synthesis_page body {
        padding-top: 100px;
    }

    // Container
    .synthesis__container {
        height: 100%;

        .row {
            position: relative;
            height: 100%;
        }
    }

    // Columns
    .col--left,
    .col--right {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
    }

    .col--left {
        left: 0;
        width: 30%;
        padding: 0;
        padding-top: 15px;
        background-color: $page-bgc;
        border-right: 1px solid $border-color;
    }

    .col--right {
        right: 0;
        width: 70%;
        padding-top: 15px;
    }

    .synthesis__side-menu {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .col--left {
        width: 35%;
    }

    .col--right {
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .col--left {
        width: 30%;
    }

    .col--right {
        width: 70%;
    }
}

@media (min-width: 1800px) {
    .col--left {
        width: 20%;
    }

    .col--right {
        width: 80%;
    }
}

// **************************** Alerts *****************************************
.synthesis__box .alert {
    margin-bottom: 0;
}

// **************************** Main navbar ************************************************

.synthesis__main-navbar {

    .navbar-brand {
        font-family: "montserrat-bold", sans-serif !important;
        text-transform: uppercase;
    }

    .navbar__icon-menu {
        & > a {
            padding: 8px 15px;
            font-size: 32px;
        }
    }

    .navbar__dropdown > a {
        padding: 8px 15px;
    }
}

// ****************************** Second navbar ***************************************

.synthesis__second-navbar {
    z-index: 1020;
    top: 50px;
    background-color: $danger-color;
    color: $white;

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-right > li > a,
    .navbar-right > li:hover > a,
    .navbar-right > li > a:hover,
    .navbar-right > li > a:focus,
    .navbar-right > li:focus > a,
    .navbar-right > li:active > a,
    .navbar-right > li.active > a,
    .navbar-right > li.active > a:hover,
    .navbar-right > li.active > a:focus {
        color: $white;
    }

    .navbar-right > li.active > a,
    .navbar-right > li.active > a:hover,
    .navbar-right > li.active > a:focus {
        background-color: darken($danger-color, 15);
    }

}

// *************************************** Side menu **************************************

.synthesis__side-menu {

    position: relative;

    .menu__link {
        a {
            color: $dark-gray;
        }

        .cap {
            font-size: 25px;
        }

        &.active {
            font-weight: 500;
        }
    }

    @media (min-width: $screen-sm-min) {
        .menu--fixed {
            position: relative;
            z-index: 1000;
            background-color: $page-bgc;
        }

        .menu__link > a {
            height: 60px;
        }

        .menu__tree {
            position: relative;
            z-index: 100;
            height: 100%;
            overflow-y: scroll;
            padding-bottom: 195px;
        }
    }

    @media (min-width: $screen-sm-min) {
        .menu__actions {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    .menu__action {
        border-top: 1px solid $border-color;
        margin-top: 0;
    }
}

// ******************************** Top menu *************************************************

.synthesis__top-menu {

    @media (min-width: $screen-sm-min) {
        position: absolute;
        z-index: 1000;
        top: 15px;
        right: 15px;
        left: 15px;

        .nav > li > a {
            height: 60px;
        }
    }

    .nav {
        border-bottom: 0;
    }

    .menu__item {
        border-right: 1px solid $border-color;
        border-top: 1px solid $border-color;
        background-color: $page-bgc;

        & > a {
            margin-right: 0;
            border-radius: 0 !important;
            border: 0;
            color: $dark;
            border-top: 2px solid transparent;
        }
    }

    .menu__item.active {
        border-top: 1px solid transparent;
    }

    .menu__item.active > a {
        border-left: 0;
        border-right: 0;
    }

    .menu__item:first-child > a {
        border-left: 1px solid $border-color;
    }
}

// ******************************* Content ******************************************

.synthesis__content {
    @media (min-width: $screen-sm-min) {
        position: relative;
        z-index: 100;
        height: 100%;
        overflow-y: scroll;
        padding-top: 60px;
        padding-bottom: 15px;
    }
}

// ***************************** Elements list *******************************************

.synthesis__list {
    border: 1px solid $border-color;
    margin-bottom: 0;

    .synthesis__list-item {
        border-top: 1px solid $border-color;
        background-color: $white;
        font-size: 15px;
        margin-top: 0;

        &:first-child {
            border-top: 0;
        }

        &.archived {
            background-color: $page-bgc;
        }

        &:hover {
            background-color: $page-bgc;
        }
    }
}

// Empty elements list
.synthesis__list--empty {
    padding: 30px 15px;
    color: $dark-gray;
    font-weight: bold;

    .icon {
        font-size: 40px;
        margin-bottom: 0;
    }
}

// ******************************* Elements tree ****************************************

// Global
.synthesis__tree {
    border: 1px solid $border-color;
    border-top: 0;
}

.tree__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.tree__item__content.selected {
    background-color: $primary-color;
    color: $white;
}

.tree__item__caret {
    margin-right: 10px;
    cursor: pointer;
}

.tree__item__icon {
    font-size: 25px;
    margin-right: 7px;
}

@for $i from 0 through 50 {
    .tree--level-#{$i} .tree__item__content {
        padding-left: $i * 40px + 15px;
    }
}

// In menu
.menu__tree .synthesis__tree {
    border: 0;
    padding-top: 15px;

    .tree__item__content:not(#element-root) {
        font-size: 15px;

        .tree__item__icon {
            font-size: 20px;
        }
    }

    .tree__item__content {
        overflow: hidden;
        width: 100%;
        cursor: pointer;
        padding-top: 3px;
        padding-bottom: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tree__item__content.selected {
        background-color: $border-color;
        color: $dark;
    }

    .tree__item.published > .tree__item__content {
        color: $success-color;
    }

    .elements-tree__item-icon {
        margin: 0 5px;
    }

    @for $i from 0 through 50 {
        .tree--level-#{$i} .tree__item__content {
            padding-left: $i * 20px + 15px;
        }
    }
}

// In content
.synthesis__content .synthesis__tree {
    .tree__item__content {
        border-top: 1px solid $border-color;
    }

    .tree__list:first-child > .tree__item:first-child > .tree__item__content {
        border-top: 0;
    }
}

// ***************************** Element *************************************************
.element {

    position: relative;
    word-break: break-word;

    .element__icon {
        float: left;
        font-size: 25px;
        margin-right: 10px;

        @media (max-width: 500px) {
            float: none;
        }
    }

    .element__content {
        display: inline-block;
        overflow: hidden;
        margin-right: 30px;
    }

    .element__metadata {
        position: relative;
        margin: 0 0 5px;
        color: $dark-gray;
        font-size: 85%;

        a,
        a.active {
            color: $dark-gray;
            text-decoration: none;
        }

        a:hover {
            color: $primary-color;
        }
    }

    .element__title {
        color: $dark;
        font-size: 16px;
        word-break: break-word;

        &:hover,
        &.active {
            color: $primary-color;
            text-decoration: none;
        }
    }

    .element__breadcrumb {
        margin-bottom: 0;
        margin-top: 5px;
        color: $dark-gray;
        font-size: 85%;

        a,
        a.active {
            color: $dark-gray;
            text-decoration: none;
        }

        a:hover {
            color: $primary-color;
        }
    }
}

.element__status {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 25px;
}

// Element notation
.element__notation {
    margin-left: 5px;

    span {
        color: $dark-gray;
        font-size: 16px;

        &.active {
            color: #ffa500;
        }
    }
}

// ***************************** Element content ************************************

.synthesis__element-panel {

    .panel-title {
        color: $dark;

        a,
        a.active {
            color: $dark;
        }
    }

    .panel-body {
        padding: 0;
    }
}

// Element pie chart
.element__chart {
    width: 150px;
    height: 150px;
    margin-top: 12px;
}

.element__description {
    overflow: hidden;
    border-top: 1px solid $border-color;
    word-wrap: break-word;

    .element__chart {
        float: right;
        margin-top: 0;
        margin-left: 15px;
        margin-bottom: 15px;
        width: 250px;
        height: 250px;
    }
}

// Linked elements
.element__linked {
    @include box-shadow(none);
    clear: both;
    overflow: hidden;

    .panel-heading {
        position: relative;
        overflow: hidden;
    }

    .panel-title {
        display: inline;
    }

    .panel-body {
        padding: 0;
    }
}

// Element actions

.element__action {
    margin-top: 0;
    display: inline-block;
    margin-left: 15px;

    @media (max-width: $screen-xs-max) {
        margin-left: 0;
        display: block;
    }

    &:first-child {
        margin-left: 0;
    }

    .btn {
        padding: 10px 30px !important;
    }
}

// Notation action
.element__action-notation {

    &:hover a.active {
        color: $dark-gray;
    }

    a {
        direction: rtl;
        color: $dark-gray;
        text-decoration: none;
        transition: color 0.4s;
        unicode-bidi: embed;
        margin-right: 5px;

        &:first-child {
            margin-right: 0;
        }

        &.active i.cap:before {
            content: "<";
        }

        &.active {
            color: #ffa500;
        }

        &:hover,
        &:focus {
            color: #ffa500 !important;
            cursor: pointer;

            i.cap:before {
                content: "<";
            }

            & ~ a {
                color: #ffa500 !important;

                i.cap:before {
                    content: "<";
                }
            }
        }
    }
}

// History
.element__history {
    margin-top: 30px;
}

// Modal
.modal__action {

    &:first-child h2 {
        margin-top: 0;
    }

    .element__action {
        margin-left: 0;
        width: 100%;
    }

    .action__title-right {
        margin-left: 10px;
    }

    .action__help {
        margin-top: 5px;
    }

    .element__action-notation {
        font-size: 25px;
    }
}

// Divide modal
.modal--divide {

    .modal-body {
        padding: 0;
    }

    .modal__panel {
        padding: 0;
    }

    .panel--original-element {
        background-color: $page-bgc;
        border-right: 1px solid $border-color;

        .element__title {
            margin-top: 0;
        }

        .element__body {
            outline: none;
            width: 100%;
            resize: none;
            border: 0;
            background-color: inherit;
        }
    }

    .panel--new-elements {
        .division__elements-list {
            margin-top: 15px;
            margin-bottom: 0;
            padding: 0;
            border: 1px solid $border-color;
            list-style-type: none;
        }

        .division__element {
            border-top: 1px solid $border-color;
            padding: 15px;
            background-color: $page-bgc;

            &:first-child {
                border-top: 0;
            }

            .element__actions {
                padding-top: 5px;
            }
        }
    }
}

// ********************************* Utils **********************************************

// Colors
$items-colors: (#00f $primary-color) (#008000 $success-color) (#ffa500 $warning-color) (#808080 $dark-gray) ($dark $dark);

@each $icolor in $items-colors {
    $name: nth($icolor, 1);
    $color: nth($icolor, 2);

    .icon--#{$name} {
        color: $color;
    }

    .synthesis__top-menu .menu__item--#{$name}.active > a,
    .synthesis__top-menu .menu__item--#{$name}.active > a:hover,
    .synthesis__top-menu .menu__item--#{$name}.active > a:focus,
    .synthesis__top-menu .menu__item--#{$name} > a:hover,
    .synthesis__top-menu .menu__item--#{$name} > a:focus {
        border-top: 2px solid $color;
    }
}

// Alerts
.synthesis_page .flashmessages .alert {
    position: absolute;
    z-index: 1004;
    top: 100px;
    opacity: 0.95;
    width: 100%;
}

// View
.synthesis__view {
    .synthesis__elements {
        list-style-type: none;
        padding-left: 0;
    }

    .synthesis__element {
        margin-bottom: 20px;
    }

    .synthesis__element__votes {
        margin-bottom: 10px;
    }

    .synthesis__element__readmore {
        padding: 10px;
        border: 1px solid $border-color;
        margin-bottom: 15px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $page-bgc;
        }
    }

    .synthesis__element__bar {
        position: relative;
        padding: 5px 0;
        border: 1px solid $border-color;

        .synthesis__element__bar__value {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            background-color: $page-bgc;
        }

        .element__title {
            position: relative;
            z-index: 1000;
            text-align: left;
            white-space: normal;
        }
    }
}

@media print {
    .synthesis__element__bar__value {
        background-color: $page-bgc !important;
    }
}
