/* ===============================================================
$THEME
================================================================*/
.bg--theme {
    background-color: $primary-color;
    padding-top: 45px;
    padding-bottom: 45px;
}

.theme {
    text-align: center;

    &:hover {
        background-color: $page-bgc;
    }

    .theme__title {
        padding: 0 0 10px;
        margin: 0;
        font-size: 20px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    @media (max-width: $screen-xs-max) {
        img {
            width: 100%;
        }
    }

}

.theme__status {
    margin-top: 20px;
}

.theme__counters {
    height: 44px;
    margin-bottom: 10px;
}

.theme__counters__list {
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    &--counter {
        &:after {
            content: "•";
            padding: 0 .1em;
        }
        &:last-child:after {
            content: '';
            padding: 0;
        }
        display: inline;
    }


}
