/* ===============================================================
$THEME
================================================================*/
.bg--theme {
  height: 150px;
  width: 225px;
  padding-top: 20px;
}

.theme {
  background-color: $white;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px 15px;

  &:hover {
    background-color: $light-gray;
  }

  .theme__title {
    font-size: 20px;
    margin: 0;
    padding: 0 0 10px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

}

.theme__status {
  margin-top: 20px;
}
