/* ===============================================================
$THEME
================================================================*/
.bg--theme {
  height: 150px;
  width: 225px;
}

.theme {
  background-color: $white;
  text-align: center;
  border: 1px solid #ddd;

  &:hover {
    background-color: $light-gray;
  }

  .theme__title {
    font-size: 20px;
    margin: 0;
    padding: 0 0 10px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

}

.opacity {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.43);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  height: 100%;
  color: $white;

  a, .excerpt {
    color: $white!important;
  }

}

.theme__status {
  margin-top: 20px;
}


.opacity, .theme--img {
    padding: 20px 15px;
}