 /* ===============================================================
   $Thumbnail
================================================================*/
.thumbnail--custom {
  @include border-radius(0);
  padding: 0;

  &:hover {
    background-color: $light-gray;
  }
  
  a {
    color: $link-color;
  }

  .progress {
    @include progress-bar-variant($gray-primary);
  }

  .progress-bar--custom {
    text-align: left;
    padding-left: 15px;
  }

  .thumbnail__status {
    margin-bottom: 5px;
  }

  .thumbnail__numbers {
    .thumbnail__number-block {
      display: inline-block;
      margin-left: 15px;
      margin-top: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    .thumbnail__number {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .thumbnail__number__label {
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @media (max-width: $screen-xs-max) {
    img {
      width: 100%;
    }
  }
}

.thumbnail--sidebar {

  &:hover {
    background-color: $white;
  }

  .box .h4 {
    margin-top: 30px;
    &:first-child {
      margin-top: 15px;
    }
  }

  .navbar {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-group {
    margin-top: 0;
    margin-bottom: 0;

    label {
      text-align: right;
      margin-bottom: 0;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    @media (max-width: $screen-md-max){
      label {
        padding-bottom: 0;
      }
      p {
        padding-top: 0;
      }
    }
  }
}
