/* ===============================================================
   $User notifications preferences page
================================================================*/

table.notifications-table {

    tbody tr {

        td {
            vertical-align: middle;
            padding: 14px;
            text-align: center;
            &:first-of-type {
                text-align: left;
            }
        }

        .form-group {
            margin: 0;

            .checkbox {
                padding-top: 0;
            }
        }
    }

    thead th {
        text-align: center;

        &:first-of-type {
            text-align: left;
        }
    }
}
