{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {%  if object is not null %}
        <a href="{{ object | capco_url }}">{{ 'admin.global.contribution_link_label' | trans({}, 'CapcoAppBundle') }}</a>
    {%  endif %}
{% endblock %}
