{% block body_text %}
    {% autoescape false %}
    <strong>Votre accès</strong>
    <p>
      Veuillez cliquer sur le lien ci-dessous pour confirmer votre adresse électronique et accéder à votre compte.
    </p>
    <p>
        <a href="{{ confirmationUrl }}">Accéder à votre compte</a>
    </p>

Nous vous souhaitons une excellente consultation,
L’équipe de Cap Collectif
    </p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
