{% block body_text %}
    {% autoescape false %}
    <p>
        {{ 'email.alert_expire_user.hello'|trans({'%username%' : user.username}, 'CapcoAppBundle') }}
    </p>
    <p>
      Bienvenue sur {{ sitename }}.

      Inspirée du site Parlement & Citoyens, cette plateforme permet aux ministères et aux administrations centrales d’impliquer l’ensemble des citoyens inscrits à participer à la co-construction de leurs projets et décisions.

      Grâce à votre compte administrateur, vous pouvez accéder à l’ensemble des fonctionnalités de la plateforme et notamment à nos 6 applications participatives : consultation, appel à projets, questionnaire, budget participatif, interpellation, boite à idées.

      Pour toute question technique, vous pouvez vous référer à l’<a href="http://aide.cap-collectif.com">aide en ligne</a> qui présente de façon détaillée le fonctionnement de l’espace d’administration.

      Si vous souhaitez être accompagné sur la conception de vos processus de consultation ou si vous souhaitez bénéficier d’une plateforme indépendante de {{ sitename }}, nous vous invitons à nous contacter par email à <a href="mailto:coucou@cap-collectif.com">coucou@cap-collectif.com</a>.
    </p>
    <strong>Votre accès administrateur</strong>
    <p>
      Veuillez cliquer sur le lien ci-dessous pour confirmer votre adresse électronique et accéder à votre compte administrateur.
    </p>
    <p>
        <a href="{{ confirmationUrl }}">Accéder à votre compte administrateur</a>
    </p>
    <strong>À propos de Cap Collectif</strong>
    <p>
      Cap Collectif est une CivicTech créée en juillet 2014 pour pérenniser le projet Parlement & Citoyens et expérimenter son approche dans d’autres contextes. Depuis sa création Cap Collectif a ainsi organisé la consultation sur le projet de loi pour une République numérique, le choix de nom de la région Occitanie, la candidature de Paris aux Jeux olympiques de 2024 et beaucoup d’autres dans des collectivités, organisations syndicales et professionnelles et associations.
    </p>
    <a href="https://cap-collectif.com/">Visiter Cap-collectif.com</a>
    <p>
      Pour toutes questions relatives à la plateforme, vous pouvez également nous écrire à l'adresse <a href="mailto:assistance@cap-collectif.com">assistance@cap-collectif.com</a>.

Nous vous souhaitons une excellente consultation,
L’équipe de Cap Collectif
    </p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
