{% block body_text %}
    {% autoescape false %}
    <p>
      <strong>Votre adresse électronique a été changée</strong>
    </p>
    <p>
      Afin de confirmer cette nouvelle adresse électronique pour {{ username }}, suivez le lien envoyé à {{ newEmailToConfirm }}. Si vous n'avez pas fait ce changement, veuillez <a href="mailto:assistance@cap-collectif.com">contacter l'assistance</a>.
    </p>
    <p>
      {{ 'global.email.footer'|trans({
            '%sitename%': capco_site_parameter_value('global.site.fullname'),
          }, 'CapcoAppBundle')
      }}
    </p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
