{% block body_text %}
    {% autoescape false %}
    <p>
        {{ 'reporting.notification.body'|trans({'%mail%' : '<strong><a href="mailto:' ~ user.email ~ '">{{ user.username }}</a></strong>', 'sitename': capco_site_parameter_value('global.site.fullname')}) }}, 'CapcoAppBundle') }}
    </p>
    <p{{ 'reporting.notification.message_title'|trans({}, 'CapcoAppBundle') }}</p>
    <p>{{ message }}</p>
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
