{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {%  if object.cover is not null %}
            {% thumbnail object.cover, 'small' with {'title': object.cover.name, 'alt': object.cover.name} %}
        {% endif %}
    </div>
{% endblock %}
