{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <p>
        <a href="{{ path('app_page_show', {'slug': object.slug }) }}">{{ path('app_page_show', {'slug': object.slug }) }}</a>
    </p>
{% endblock %}
