#*/2 * * * * /usr/bin/timeout 1m php -d memory_limit=512M /var/www/bin/console capco:compute:users-counters
#1-59/2 * * * * /usr/bin/timeout 1m php -d memory_limit=512M /var/www/bin/console capco:compute:counters
#0 * * * * /usr/bin/timeout 50m php -d memory_limit=2048M -d zend.enable_gc=0 /var/www/bin/console capco:export:consultation
#0 * * * * /usr/bin/timeout 50m php -d memory_limit=2048M -d zend.enable_gc=0 /var/www/bin/console capco:export:questionnaire
#0 * * * * /usr/bin/timeout 50m php -d memory_limit=2048M -d zend.enable_gc=0 /var/www/bin/console capco:export:projects-contributors
#* * * * * /usr/bin/timeout 50m php -d memory_limit=2048M -d zend.enable_gc=0 /var/www/bin/console capco:export:users
