* * * * * php /var/www/bin/console capco:compute:counters --env=prod
* * * * * php /var/www/bin/console capco:compute:projects-counters --env=prod
* * * * * php -d memory_limit=2048 -d zend.enable_gc=0 /var/www/bin/console capco:compute:rankings --env=prod
#* * * * * php -d memory_limit=2048 -d zend.enable_gc=0 /var/www/bin/console capco:syntheses:update --env=prod
#* * * * * php -d memory_limit=2048 -d zend.enable_gc=0 /var/www/bin/console capco:syntheses:counters --env=prod
