{% for item in items %}
<div class="block  block--first--mobile  block--shadowed">
    <div class="opinion opinion--red">
        <div class="opinion__header">
            <h4 class="h4">{{ item.title }}</h4>
        </div>
    </div>
    <ul class="media-list  opinion__list">
        {% for problem in item.Problems %}
            {% set nbVotes = (problem.Votes|length) %}
            {% set nbArguments = (problem.arguments|length) %}
        <li class="opinion  opinion--probleme">
            <div class="row">
                <div class="col-xs-12  col-sm-10">
                    <div class="opinion__body  box">
                        {% if problem.Author.Media %}
                            <a class="pull-left" href="#">
                                {% thumbnail problem.Author.Media, 'avatar' with {'title': problem.Author.fullname, 'alt': problem.Author.fullname, 'class': 'img-circle  pull-left'} %}
                            </a>
                        {% endif %}
                        <div class="opinion__data">
                            <p class="opinion__user  h5"><a href="#">{{ problem.Author.getFullname }}</a> <span class="pull-right  excerpt">{{ problem.createdAt | localizeddate('medium', 'none', app.request.locale) }}</span></p>
                            <p class="opinion__title"><a href="#">{{ problem.title }}</a></p>
                            <p class="opinion__votes  excerpt h5">
                                {% transchoice nbVotes with {'%count%': nbVotes} from 'CapcoAppBundle' %}
                                consultation.show.votes
                                {% endtranschoice %}
                                •
                                {% transchoice nbArguments with {'%count%': nbArguments} from 'CapcoAppBundle' %}
                                consultation.show.arguments
                                {% endtranschoice %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs col-sm-2 opinion__chart-block">
                    <div class="center-block  opinion__chart" style="background-color:green; border-radius: 50%;"></div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
