<div class="thumbnail--custom  thumbnail--sidebar  block--bordered">

    <div class="box">
        {% if null != consultation.body %}
            <h2 class="h4">{{ 'consultation.show.meta.intro.title'|trans({}, 'CapcoAppBundle') }}</h2>
            <div class="more"  style="max-height: 115px; overflow: hidden; width: 100%"><p>{{ consultation.body }}</p></div>
        {% endif %}
        {%  if currentStep is not defined %}
            {% set currentStep = null %}
        {% endif %}
        {{ render(controller('CapcoAppBundle:Step:showAllInNav', {'consultation': consultation, 'currentStep': currentStep})) }}
        </div>
</div>
