<p id="opinion-type--{{ currentStep.title }}" class="anchor-offset text-center">
    {{ currentStep.title }}<br>
</p>

{% if currentStep.canContribute %}

    <div id="opinions--{{ currentStep.title }}" class="anchor-offset proposal  proposal--bordered">
        {% include 'CapcoAppBundle:Project:list_header.html.twig' with {
                'project': project,
                'currentStep': currentStep,
                'proposals': proposals
            } only
        %}

        <ul class="media-list  opinion__list">
            {% for proposal in proposals %}
                {{ dump(proposal) }}
            {% endfor %}
        </ul>

    </div>
{% endif %}
