<div class="consultation__title  block  block--bordered">
    {% if consultation.Cover %}
        {% thumbnail consultation.Cover, 'blockHeader' with {'title': consultation.Cover.name, 'alt': consultation.Cover.name, 'class': 'img-responsive'} %}
    {% endif %}
    <div class="consultation__title__body">
        <div class="pull-left">
            <h3 class="consultation__title__title  h3">{{ consultation.title }}</h3>
        </div>

        {{ sonata_block_render({'type': 'capco.block.service.share_button'}, {
            'url': (consultation | capco_first_step_link(true)),
            'title': consultation.title,
            'classes': 'pull-right'
        }) }}

    </div>
</div>
