{% set page_class = "confidentialite" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block canonical_link %}{{ url('app_confidentialite') }}{% endblock %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': ('confidentialite.title'|trans({}, 'CapcoAppBundle')),
        'url':   url('app_confidentialite')
    } only %}
{% endblock %}

{% block title %}
        {{ parent() }} - {{ 'confidentialite.title' | trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>{{ 'confidentialite.title' | trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container  container--custom">
    <h2>1. Qu&rsquo;est-ce qu&rsquo;un cookie ?</h2>

    <p>Un Cookie est un petit fichier texte enregistr&eacute; sur votre terminal (ordinateur, tablette, smartphone, etc.), &agrave; l&rsquo;occasion de la consultation d&rsquo;un service en ligne gr&acirc;ce &agrave; votre logiciel de navigation. Il permet &agrave; son &eacute;metteur d&rsquo;identifier le terminal dans lequel il est enregistr&eacute;, pendant la dur&eacute;e de validit&eacute; ou d&rsquo;enregistrement du Cookie.<br />
    <br />
    Lors de la consultation de notre site Internet, des informations relatives &agrave; la navigation de votre terminal sont susceptibles d&#39;&ecirc;tre enregistr&eacute;es dans ces fichiers dits &quot;Cookies&quot;. Ces derniers sont install&eacute;s sur votre terminal, sous r&eacute;serve des choix que vous auriez exprim&eacute;s concernant les Cookies et que vous pouvez modifier &agrave; tout moment.</p>

    <h2>2. A quoi servent les cookies &eacute;mis sur notre site ?</h2>

    <p>Seul l&rsquo;&eacute;metteur d&rsquo;un cookie est susceptible de lire ou de modifier les informations qui y sont contenues.</p>

    <h3>Les cookies utilis&eacute;s sur notre site permettent :</h3>

    <ul>
        <li>d&#39;optimiser la pr&eacute;sentation de notre site aux pr&eacute;f&eacute;rences d&#39;affichage de votre terminal (langue utilis&eacute;e, r&eacute;solution d&#39;affichage, syst&egrave;me d&#39;exploitation utilis&eacute;, etc.) ;</li>
        <li>de m&eacute;moriser des informations relatives &agrave; un formulaire que vous avez rempli sur notre site (inscription, authentification ou acc&egrave;s &agrave; votre compte) ;</li>
        <li>d&#39;acc&eacute;der &agrave; des espaces r&eacute;serv&eacute;s et personnels de notre site, tels que votre compte, gr&acirc;ce &agrave; des identifiants ou des donn&eacute;es que vous nous avez &eacute;ventuellement ant&eacute;rieurement confi&eacute;s ;</li>
        <li>d&#39;am&eacute;liorer les mesures de s&eacute;curit&eacute;, par exemple lorsqu&#39;il est demand&eacute; &agrave; l&#39; Utilisateur de se connecter apr&egrave;s un certain laps de temps.</li>
        <li>d&#39;&eacute;tablir des statistiques et volumes de fr&eacute;quentation et d&#39;utilisation de notre site, afin d&#39;en am&eacute;liorer l&#39;usage, les parcours et les fonctionnalit&eacute;s propos&eacute;es.</li>
    </ul>

    <h2>3. Vos choix concernant les cookies</h2>

    <p>Vous disposez de diff&eacute;rents moyens pour g&eacute;rer les cookies. Tout param&eacute;trage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur notre site et sur Internet en g&eacute;n&eacute;ral et vos conditions d&#39;acc&egrave;s &agrave; certains services de notre site n&eacute;cessitant l&#39;utilisation de cookies.<br />
    <br />
    Vous pouvez &agrave; tout moment exprimer et modifier vos souhaits en mati&egrave;re de cookies, par les moyens d&eacute;crits ci-dessous.</p>

    <h3>L&#39;accord sur les cookies</h3>

    <p>L&#39;enregistrement d&#39;un cookie dans un terminal est essentiellement subordonn&eacute; &agrave; la volont&eacute; de l&#39;utilisateur du terminal, que celui-ci peut exprimer et modifier &agrave; tout moment et gratuitement &agrave; travers les choix qui lui sont offerts par son logiciel de navigation.<br />
    <br />
    Si vous avez accept&eacute; dans votre logiciel de navigation l&#39;enregistrement de cookies dans votre terminal, les cookies int&eacute;gr&eacute;s dans les pages et contenus que vous avez consult&eacute;s pourront &ecirc;tre stock&eacute;s temporairement dans un espace d&eacute;di&eacute; de votre terminal. Ils y seront lisibles uniquement par leur &eacute;metteur.</p>

    <h3>Le refus des cookies</h3>

    <p>Si vous refusez l&#39;enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistr&eacute;s, vous ne pourrez plus b&eacute;n&eacute;ficier d&#39;un certain nombre de fonctionnalit&eacute;s qui sont n&eacute;anmoins n&eacute;cessaires pour naviguer dans certains espaces de notre site. Tel serait le cas si vous tentiez d&#39;acc&eacute;der &agrave; votre compte ou &agrave; votre abonnement qui n&eacute;cessite de vous identifier. Tel serait &eacute;galement le cas lorsque nous, ou nos prestataires, ne pourrions pas reconna&icirc;tre, &agrave; des fins de compatibilit&eacute; technique, le type de navigateur utilis&eacute; par votre terminal, ses param&egrave;tres de langue et d&#39;affichage ou le pays depuis lequel votre terminal semble connect&eacute; &agrave; Internet.<br />
    <br />
    Le cas &eacute;ch&eacute;ant, nous d&eacute;clinons toute responsabilit&eacute; pour les cons&eacute;quences li&eacute;es au fonctionnement d&eacute;grad&eacute; de nos services r&eacute;sultant de l&#39;impossibilit&eacute; pour nous d&#39;enregistrer ou de consulter les cookies n&eacute;cessaires &agrave; leur fonctionnement et que vous auriez refus&eacute;s ou supprim&eacute;s</p>

    <h2>Les choix offerts par votre logiciel de navigation</h2>

    <p>Vous pouvez configurer votre logiciel de navigation de mani&egrave;re &agrave; ce que des cookies soient enregistr&eacute;s dans votre terminal ou, au contraire, qu&#39;ils soient rejet&eacute;s, soit syst&eacute;matiquement, soit selon leur &eacute;metteur.<br />
    <br />
    Vous pouvez &eacute;galement configurer votre logiciel de navigation de mani&egrave;re &agrave; ce que l&#39;acceptation ou le refus des cookies vous soient propos&eacute;s ponctuellement, avant qu&#39;un cookie soit susceptible d&#39;&ecirc;tre enregistr&eacute; dans votre terminal.<br />
    <br />
    Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est diff&eacute;rente. Elle est d&eacute;crite dans le menu d&#39;aide de votre navigateur, qui vous permettra de savoir de quelle mani&egrave;re modifier vos souhaits en mati&egrave;re de cookies.<br />
    <br />
    Selon votre navigateur, consultez le lien ci-dessous pour configurer votre navigateur et refuser les cookies :<br />
    <br />
    <ul>
        <li>Pour Internet Explorer&trade; : <a href="http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11">http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11</a></li>
        <li>Pour Safari&trade; : <a href="http://support.apple.com/kb/index?page=search&amp;src=support_site.home.search&amp;locale=fr_FR&amp;q=cookie">http://support.apple.com/kb/index?page=search&amp;src=support_site.home.search&amp;locale=fr_FR&amp;q=cookie</a></li>
        <li>Pour Chrome&trade; : <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a></li>
        <li>Pour Firefox&trade; : <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a></li>
        <li>Pour Opera&trade; : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
    </ul>
    <br />
    Si vous utilisez un autre navigateur que ceux cit&eacute;s ci-dessus, nous vous invitions &agrave; consulter le menu d&#39;aide de votre navigateur.<br />
    <br />
    Nous vous invitons aussi &agrave; consulter la rubrique &laquo; Vos traces &raquo; du site de la CNIL (Commission Nationale de l&#39;Informatique et des Libert&eacute;s) : <a href="http://www.cnil.fr/vos-droits/vos-traces/">http://www.cnil.fr/vos-droits/vos-traces/</a>.</p>
</div>
{% endblock %}
