{% set page_class = "contact" %}
{% extends "CapcoAppBundle::base.html.twig" %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1>Contact</h1>
            <p>{{ 'contact.message'|trans({}, 'CapcoAppBundle') }}</p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <p>Une question, une remarque, une suggestion ou une lettre d'amour ? Nous sommes là pour vous répondre.</p>
        <ul>
            <li>Service client</li>
            <li>Presse</li>
            <li>Emplois</li>
            <li>Partenariats</li>
        </ul>
        <p>Pour toute autre question ou juste nous dire bonjour, utilisez le formulaire ou nos coordonnées ci-dessous :</p>
        <address>
            <strong>Adresse</strong><br/>
            16 bis avenue Parmentier<br/>
            75011 Paris<br/>
            <br/><strong>Teléphone</strong><br/>
            00 00 00 00 00
        </address>

        <hr/>

        <h4 class="h4">Formulaire de contact</h4>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <form method="post">
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'contact.button'|trans({}, 'CapcoAppBundle') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
