<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12">
                <h4 class="h4">À propos</h4>
                <p>
                    Le Conseil national du numérique est une commission consultative indépendante qui a pour mission de
                    formuler de manière indépendant et de rendre publics des avis et des recommandations sur toute question
                    relative à l'impact du numérique sur la société et sur l'économie.
                </p>
            </div>

            <div class="col-xs-12  col-sm-12  col-md-10  col-md-offset-1  col-lg-8  col-lg-offset-2">
                <ul class="social-network">
                    <li><a href="#" class="social-network--facebook"><span class="icon cap-facebook"></span><span class="hidden-xs"> Facebook</span></a></li>
                    <li><a href="#" class="social-network--twitter"><span class="icon cap-twitter"></span><span class="hidden-xs"> Twitter</span></a></li>
                    <li><a href="#" class="social-network--googleplus"><span class="icon cap-gplus"></span><span class="hidden-xs"> Google +</span></a></li>
                    <li><a href="#" class="social-network--linkedin"><span class="icon cap-linkedin"></span><span class="hidden-xs"> Linked In</span></a></li>
                    <li><a href="#" class="social-network--rss"><span class="icon cap-rss-1"></span><span class="hidden-xs"> Flux RSS</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer__links">
        <div class="container">
            <ul>
                <li> <a href="#">Conseil national du numérique</a> |</li>
                <li> <a href="#">Nos partenaires</a> |</li>
                <li> <a href="#">Ils parlent de nous</a> |</li>
                <li> <a href="#">Mentions légales</a> |</li>
                <li> <a href="contact.php">Contact</a> |</li>
                <li> <a href="#">Charte</a> |</li>
                <li> <a href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
</footer>
