{{ react_render_component('NavbarApp', {
    'props': {
        'logo': media_public_url(capco_site_image_media('image.logo'), 'default_logo'),
        'items': headers_list(app.request.pathInfo),
        'siteName': capco_site_parameter_value('global.site.fullname'),
    }
  })
}}

{% if app.user %}
    {{ react_render_component('EmailNotConfirmedApp', { 'rendering': 'client_side' }) }}
{% endif %}

<div style="position: fixed; width: 60%; left: 20%; z-index: 1030;">
    {{ react_render_component('AlertBoxApp') }}
</div>
