{{ react_intl_component('NavbarApp', {'props':
  {
    'logo': media_public_url(capco_site_image_media('image.logo'), 'default_logo'),
    'headers': headers_list(),
  }}
)}}

{{ react_intl_component('EmailNotConfirmedApp') }}
<div id="render-alert-box" style="position: fixed; width: 60%; left: 20%; z-index: 1030;"></div>
