{% extends "CapcoAppBundle::base.html.twig" %}

{% block mainContent %}
<div id="shield-mode" class="container text-center">
    {{ react_intl_component('ShieldApp', {'rendering': 'both'}) }}
</div>
{% endblock %}
