{% extends "CapcoAppBundle::base.html.twig" %}

{% block mainContent %}
<div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
    <div class="container">
        <h1>La poste 2020 Conquérir l'avenir</h1>
    </div>
</div>
<div class="container text-center">
  {{ react_intl_component('ShieldApp', {'rendering': not feature_is_active('server_side_rendering') ? 'client_side' : 'both'}) }}
</div>
{% endblock %}
