{% extends "CapcoAppBundle::base.html.twig" %}

{% block mainContent %}
<style>body { background-color: #F6F6F6 }</style>
<div id="shield-mode" class="container" style="margin-top: 50px">
    <div class="text-center" style="margin-bottom: 10px">
      <h1>{{ capco_site_parameter_value('global.site.fullname') }}</h1>
      <img src="{{ media_public_url(capco_site_image_media('image.logo'), 'default_logo') }}"></img>
    </div>
    {{ react_intl_component('ShieldApp', {'rendering': 'client_side'}) }}
</div>
{% endblock %}
