{% if additionalFooter is defined and additionalFooter is same as(true) %}
    <p style="font-size:13px; font-family:helvetica, arial, sans-serif; color:#999999; margin-top: 25px;">
        {{ 'email-footer-message-participation'|trans({
            '{siteName}': siteName,
            '{siteUrl}': siteUrl,
        }, 'CapcoAppBundle') | raw }}
    </p>
{% endif %}
<p style="font-size:13px; font-family:helvetica, arial, sans-serif; color:#999999; margin-top: 25px;">
    {{ 'email.notification.footer.mail-send-by'|trans({
        '{siteName}': siteName,
        '{siteUrl}': siteUrl,
    }, 'CapcoAppBundle') | raw }}
    <br><br>
    {{ 'email.propulsed.by.capco'|trans({
        '{logoUrl}': baseUrl ~ asset('capco-logo-mail.png'),
    }, 'CapcoAppBundle') | raw }}
</p>
