{% extends "@CapcoMail/notifyEventLayout.html.twig" %}

{% block email_body %}
    <div>
        <div class="resp-punchline" style="color:#666; text-decoration:none; font-size:20px; font-family:helvetica, arial, sans-serif; text-align:left;">
            <p style="font-weight: bold">
                {{ 'hello-username'|trans({'{username}': username,}, 'CapcoAppBundle') | raw }}
            </p>
            <p>
                {{ 'event-publication-request'|trans({}, 'CapcoAppBundle') | raw }}
            </p>
        </div>
    </div>
{% endblock %}
