{% block body_text %}
    {% autoescape false %}
        <p>
            {{ 'notification.moderation.body'|trans({'title': contribution, 'username': username}, 'CapcoAppBundle', user_locale) | raw }}
        </p>
        {% if contribution.trashedReason %}
            <p>{{ contribution.trashedReason|raw }}</p>
        {% endif %}
        {% if trashUrl is not null %}
            <p>
                <a href="{{ trashUrl }}">{{ 'moderation.notification.contribution'|trans({}, 'CapcoAppBundle', user_locale) }}</a>
            </p>
        {% endif %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
