{% block body_text %}
    {% autoescape false %}
        <p>
            {{ 'moderation.notification.body'|trans({'%title%': contribution, '%username%': username}, 'CapcoAppBundle') | raw }}
        </p>
        {% if contribution.trashedReason %}
            <p>{{ contribution.trashedReason|raw }}</p>
        {% endif %}
        {% if trashUrl is not null %}
            <p>
                <a href="{{ trashUrl }}">{{ 'moderation.notification.contribution'|trans({}, 'CapcoAppBundle') }}</a>
            </p>
        {% endif %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
