{% extends "CapcoUserBundle::layout.html.twig" %}
{% block title %} {{ 'user.register.title'|trans({}, 'CapcoAppBundle') }} {{ parent() }} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <p class="text-blue">{{ 'user.register.check_email'|trans({'%email%': user.email}, 'CapcoAppBundle') }}</p>
    </div>

{% endblock fos_user_content %}
