{% extends "CapcoUserBundle::layout.html.twig" %}

{% block canonical_link %}{{ url('capco_user_register') }}{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'user.register.title'|trans({}, 'CapcoAppBundle') }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    {% include "CapcoUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
