{% extends "CapcoAppBundle::base.html.twig" %}

{% block mainContent %}
    {% set footerLinks = getFooterLinks() %}
    {% set footerLegals = getLegalsPages() %}
    {# Footer #}
    {% set analytic_js = capco_site_parameter_value('snalytical-tracking-scripts-on-all-pages') %}
    {% set ads_js = capco_site_parameter_value('ad-scripts-on-all-pages') %}
    {%  if ads_js or analytic_js %}
        {{ react_render_component('CookieManagerApp', {
            'props': {
                'isLink': false,
            }
        }) }}
    {%  endif %}
    <style>
        html,
        body,
        body > #app-wrapper,
        .user-invitation-page-app-container,
        .user-invitation-page-app-container > div {
            height: 100%;
        }

        body {
            background-color: #F6F6F6;
            padding-top: 0;
        }
        button[variant="link"] {
            width: auto;
            position: relative;
            top: -1px;
        }
        .flash-notif {
            transform: translate(-50%, 20px);
        }
    </style>
    {% include 'CapcoAppBundle:Homepage:flashbag.html.twig' %}
    <div class="user-invitation-page-app-container">
    {{ react_render_component('UserInvitationPageApp', {'rendering': 'client_side', props: {
        token: token,
        email: email,
        baseUrl: baseUrl,
        loginFacebook: loginFacebook,
        loginParis: loginParis,
        loginFranceConnect: loginFranceConnect,
        ssoList: ssoList,
        hasEnabledSSO: hasEnabledSSO
    } }) }}
    </div>
{% endblock %}
