{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block list_table %}
    <div class="col-md-offset-1 col-md-10 alert alert-danger">{{ 'highlighted_content.limit_info' | trans({}, 'CapcoAppBundle') }}</div>
    {{ parent() }}
{% endblock %}
