{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block list_table %}
    <div class="col-md-offset-1 col-md-10 alert alert-info-custom">{{ 'you-can-add-up-to-4-contents' | trans({}, 'CapcoAppBundle') }}</div>
    {{ parent() }}
{% endblock %}
