<td class="resp-full-td" valign="top"
    style="color: #fff; padding: 20px; display: flex;">
    <img src="{{ baseUrl }}/svg/folder.svg"
         style="position: relative;    top: 2px;    right: 2px; height: 26px; width: auto;"
         class="proposal"/>
    <div style="margin-left: 10px">
        <p style="margin: 0; font-weight: bold; text-transform: uppercase; font-family: OpenSans-Bold;">{{ 'project'|trans({}, 'CapcoAppBundle')|upper }}</p>
        <span style="font-family: OpenSans-Regular;">{{ proposalTitle }}</span>
    </div>
</td>
