<a href="{{ admin.generateObjectUrl('duplicate', object) }}" class="btn btn-sm btn-default delete_link">
    <i class="glyphicon cap-ios-copy-outline"></i>
    {{ 'duplicate'|trans({}, 'CapcoAppBundle') }}
</a>
