{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
        <div style="width: 150px;">
            {% if value %}
                {% if value.date is defined %}
                    {{ value.date|date('d M Y H:m') }}
                {% endif %}
                {% if value.user is defined and value.user is not null %}
                    <br>
                    {{ 'global.written_by'|trans({}, 'CapcoAppBundle') }}
                    <a href="{{ path('admin_capco_user_user_edit', {id: value.user.id}) }}">{{ value.user.displayName }}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
