{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.color is not null %}
        <div class="row">
            <div class="col-xs-12 col-md-6" style="background-color: {{ object.color }}; padding: 15px 0;">
            </div>
            <div class="col-xs-12 col-md-6" style="text-align: center;">{{ object.color }}</div>
        </div>
    {% else %}
        {{ 'admin.settings.color.undefined' | trans({}, 'CapcoAppBundle') }}
    {% endif %}
{% endblock %}
