{% extends "CapcoAppBundle::base.html.twig" %}

{% block body %}
  <div class="container">
      <h1 class="h1">Carte des élections législatives</h1>
    <div id="dataviz_container" style="width: 100%">
      <iframe id="dataviz" src="/pc_carte_legislatives/front/index.html" frameborder="no" scrolling="no" width="100%"></iframe>
    </div>
      <h4 class="h4">Légende</h4>
      <ul>
          <li><span class="carre1-legende"></span> 1 candidat engagé</li>
          <li><span class="carre2-legende"></span> 2 candidats engagés</li>
          <li><span class="carre3-legende"></span> 3 candidats et plus engagés</li>
      </ul>
      <p style="font-size: 1.0em">La carte a été réalisée à l'aide de l'équipe de <a href="https://www.contexte.com/">Contexte</a>. Les noms des candidats sont recueillis par divers canaux, en attendant la clôture des candidatures, le 18 mai. La liste officielle des candidats sera intégrée dès qu’elle sera disponible.</p>
  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  $('#dataviz').iFrameResize({
	log:false,
  minHeight: 1000,
  initCallback: function() {
		  $('#dataviz_container').css('opacity','1');
	},
	});

</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .carre1-legende {
            width: 30px;
            height: 13px;
            background-color: #5CB85C;
            display: inline-block;
        }
        .carre2-legende {
            width: 30px;
            height: 13px;
            background-color: #369836;
            display: inline-block;
        }
        .carre3-legende {
            width: 30px;
            height: 13px;
            background-color: #1B7C1B;
            display: inline-block;
        }
    </style>

{% endblock %}
