{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if(object.Author is not null) %}
{#            TODO: When the show user page in BO will be re enabled, uncomment this line  #}
{#            <span><a href="{{ path('admin_capco_user_user_show', {'id': object.Author.id}) }}">{{ object.Author.username }}</a></span>#}
            <span>{{ object.Author.username }}</span>
        {% else %}
            <span>{{ object.authorName }}</span>
        {% endif %}
    </div>
{% endblock %}
