{% if object.getAuthor() == app.user or app.user.isSuperAdmin() %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-danger" title="{{ 'action_delete'|trans({}, 'CapcoAppBundle') }}">
        <i class="glyphicon glyphicon-delete"></i>
        {{ 'action_delete'|trans({}, 'CapcoAppBundle') }}
    </a>
{% endif %}
