{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <span><a href="{{ capco_comment_object_admin_url(object) }}">{{ capco_comment_object(object) }}</a></span>
    </div>
{% endblock %}
