{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {%  set statuses = field_description.options.statuses %}
    <div>
        {% if value == statuses.opened %}
            <span class="label label-success">{{ 'consultation.show.status.opened'|trans({}, 'CapcoAppBundle') }}</span>
        {% elseif value == statuses.ended %}
            <span class="label label-danger">{{ 'consultation.show.status.ended'|trans({}, 'CapcoAppBundle') }}</span>
        {% elseif value == statuses.future %}
            <span class="label label-info">{{ 'consultation.show.status.future'|trans({}, 'CapcoAppBundle') }}</span>
        {% endif %}
    </div>
{% endblock %}
