{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block checkbox_widget %}
    {% spaceless %}
        <label for="{{ id }}">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label|trans({}, 'SonataAdminBundle') }}
        </label>
    {% endspaceless %}
{% endblock %}
