{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
        {% if object is not null and object.getProject() is not null %}
            <a href="{{ path('capco_admin_alpha_project_edit', {id: object.getProject().getId()}) }}">{{ object.getProject().getTitle() }}</a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
