<a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-warning edit_link" title="{{ 'action_edit'|trans({}, 'CapcoAppBundle') }}">
    <i class="glyphicon glyphicon-edit"></i>
    {{ 'action_edit'|trans({}, 'CapcoAppBundle') }}
</a>
