<a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-danger" title="{{ 'global.delete'|trans({}, 'CapcoAppBundle') }}">
    <i class="glyphicon glyphicon-delete"></i>
    {{ 'global.delete'|trans({}, 'CapcoAppBundle') }}
</a>
