<a id="action_show" class="btn btn-sm btn-default mr-1" target="_blank"  href="{{ admin.generateUrl('preview', {'id': admin.id(object)}) }}" name="action_show">
   <i class="fa cap-external-link"></i>
   {{ 'action_show'|trans({}, 'CapcoAppBundle') }}
</a>
