{% if object.registrations | length > 0 %}
    <a class="btn btn-sm btn-default view_link" href="{{ path('admin_capco_app_eventregistration_list', {'filter[event][value]': object.id }) }}">Inscriptions</a>
{% endif %}
