<a class="btn btn-sm btn-default view_link" href="{{ admin.generateObjectUrl('export_voters', object) }}">
<i class="fa fa-share-square-o"></i>
{{ 'idea.export_voters' | trans({}, 'CapcoAppBundle') }}</a>
