<a
  class="btn btn-sm btn-default view_link"
  href="{{ path('app_export_event_participants', {'eventId': object.id }) }}"
  target="_blank"
>
  {{ 'admin.label.export.members'|trans({}, 'CapcoAppBundle') }}
</a>
