{% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    {% if consultationTypes | length > 0 %}
        {% for consultationType, opinionTypes in consultationTypes %}
            <li>
                <span class="dropdown-header">
                    {{ consultationType }}
                </span>
            </li>
            {% for html in opinionTypes %}
                {{ html | raw }}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}
