{% extends '@SonataAdmin/CRUD/delete.html.twig' %}

{% block actions %}
    <li>{% include '@SonataAdmin/Button/list_button.html.twig' %}</li>
    <li>{% include '@SonataAdmin/Button/edit_button.html.twig' %}</li>
{% endblock %}
