{% extends 'CapcoAdminBundle:CRUD:base_edit.html.twig' %}

{% set title = admin.subject.title|trans({}, 'CapcoAppBundle') %}

{% block title %}
    {{ "global.edit.title"|trans({'name': title|truncate(15) }, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ "global.edit.title"|trans({'name': title }, 'SonataAdminBundle') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
{% endblock %}
