{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% set nbVotes = opinionVotesResolver.__invoke(object).totalCount %}

{% block field %}
    <div>
        <span>{{ nbVotes }}</span>
    </div>
{% endblock %}
