{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {%  if object is not null %}
        <span>{{ object.getVoteCountAll() }}</span>
    {%  endif %}
{% endblock %}
