{% extends "CapcoAppBundle::base.html.twig" %}

{% block metaTags %}
    {% include 'CapcoAppBundle:Default:meta.html.twig' with {
        'title': 'Developper',
        'url':   url('app_developer')
    } only %}
{% endblock %}

{% block body %}
<div class="container  developers__container">

{% include 'CapcoAppBundle:Developer:header.html.twig' with {'active': 'guides'} only %}

<h3>Using Global Node IDs</h3>

<h4>Guessing the type</h4>

<p>
You can access most objects in Cap Collectif API (users, steps, contributions, etc.) using a single GraphQL query : <i>node</i>.
</p>


{% set query = '{
  node(id: "1234") {
    __typename
  }
}' %}

<pre><code>{{ query }}</code></pre>

<h4>Do a direct node lookup in GraphQL</h4>

Once you've confirmed the type, you can use an <a href="http://graphql.org/learn/queries/#inline-fragments">inline fragment</a> to access the object by its ID and return additional data.
<br/>
In this example, we define the fields on <code>User</code> that we'd like to query:

{% set query = '{
  node(id: "1234") {
    ... on User {
      username
      createdAt
    }
  }
}' %}

<pre><code>{{ query }}</code></pre>

This type of query is the standard approach for looking up an object by its global node ID.
</div>
{% endblock %}
