/* ===============================================================
    $Jumbotron
================================================================*/
.jumbotron--custom {
    padding: 30px;
    margin-bottom: 0;

    @media (max-width: $screen-xs-max) {
        padding: 15px;
    }

    h2,
    .h2,
    h1,
    .h1 {
        font-size: 36px;
        padding-top: 0;
        margin-bottom: 15px;
        margin-top: 0;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 5px;
        }

        &:only-child {
            margin-bottom: 0;
        }
    }
}

$backgrounds: (1 $brand-color-1) (2 $brand-color-2);
@each $bg in $backgrounds {
    $name: nth($bg, 1);
    $color: nth($bg, 2);
    $text: set-link-text-color($color);

    .jumbotron--bg-#{$name} {
        background-color: $color;
        color: $text;

        h1,
        h2,
        h3,
        h4,
        a,
        a:hover {
            border-color: $text;
            color: $text;
        }
    }
}

.jumbotron--small p {
    font-size: 17px;
}

.home-page .jumbotron--custom {
    h1,
    .h1 {
        font-size: 63px;
    }

    @media (max-width: $screen-xs-max) {
        h1,
        .h1 {
            font-size: 40px;
            word-wrap: break-word;
        }
    }
}

.jumbotron--bg-1 {
    position: relative;

    p {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    p:first-child {
        padding-top: 0;
    }

    p:last-child {
        padding-bottom: 0;
    }
}

.jumbotron--bg-2 {
    border-bottom: 1px solid $border-color;
}

.skip-links {
    overflow: hidden;
    width: 100%;
    height: 0;

    &.active {
        height: auto;
    }
}

.skip-links-container {
    border-bottom: 1px solid $border-color;
}

.skip-links-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;
        color: $dark;
        font-size: 12px;

        &:hover {
            color: $primary-color;
        }

        a {
            display: inline-block;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            color: inherit;
            text-decoration: underline;
        }
    }
}


.navbar-collapse{
    @media (max-width: 770px) {
        text-align: center;
        
        a{
            width: 30%!important;
        }

        ul.nav.navbar-nav {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li.navbar-text.widget__counter {
            border-right: none;
        }

    }

}
