/* ===============================================================
    Utils
================================================================*/

.small {
    font-size: 88%;
}

.td-n {
    text-decoration: none;
}

/* =====
  Margin
==== */

@for $i from 0 to 10 {
    $m: $i * 5;
    .m-#{$m}{
        margin: #{$m}px;
    }
    .mt-#{$m} {
        margin-top: #{$m}px;
    }
    .mr-#{$m} {
        margin-right: #{$m}px;
    }
    .mb-#{$m} {
        margin-bottom: #{$m}px;
    }
    .ml-#{$m} {
        margin-left: #{$m}px;
    }
}

.m-auto {
    margin: auto;
}

.r-0 {
   right: 0;
}

.t-60 {
    top: 60px;
}
/* =====
  Padding
==== */

@for $i from 0 to 10 {
    $p: $i * 5;
    .p-#{$p} {
        padding: #{$p}px;
    }
    .pt-#{$p} {
        padding-top: #{$p}px;
    }
    .pr-#{$p} {
        padding-right: #{$p}px;
    }
    .pb-#{$p} {
        padding-bottom: #{$p}px;
    }
    .pl-#{$p} {
        padding-left: #{$p}px;
    }
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

/* =====
  Text
==== */

.text-center {
    text-align: center;
}

.badge.badge-success {
    background-color: $success-color !important;
}

.color-green {
    color: $success-color;
}

.color-red {
    color: $danger-color;
}

.color-dark-gray {
    color: $dark-gray;
}
/* =====
  Position
==== */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* =====
  Width
==== */

.w-100 {
    width: 100%;
}

.mw-100 {
    max-width: 100%;
}

.w-25 {
    width: 25%;
}

.w-260 {
    width: 260px;
}

.w-auto {
    width: auto;
}

/* =====
  Border
==== */

.border {
    border: 1px solid $border-color;
}

.no-border {
    border: none;
}
.border-radius-none {
    border-radius: 0;
}

/* =====
  Display
==== */

.d-b{
    display: block;
}

.d-ib {
    display: inline-block;
}

.d-i {
    display: inline;
}

.font-weight-normal {
    font-weight: normal;
}

.object-cover {
    object-fit: cover;
}

.overflow-hidden {
    overflow: hidden;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.font-size-30 {
    font-size: 30px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.zi-0 {
    z-index: 0;
}

/* =============================== Sticky ================================ */
.sticky {
    position: sticky;
    position: -webkit-sticky;
}
