{% extends "CapcoUserBundle::layout.html.twig" %}
{% block title %} {{ 'resetting.request.title'|trans({}, 'CapcoAppBundle') }} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'resetting.request.submit'|trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    <section class="section--custom">
        <div class="container">
            <div class="alert alert-success alert-dismissible block flash-notif" role="alert">
                <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'CapcoAppBundle') }}</p>
            </div>
        </div>
    </section>
{% endblock %}
