{% extends "CapcoUserBundle::layout.html.twig" %}
{% block title %} {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }} {{ parent() }} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
	{% include "CapcoUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
