<div class="container">
    <div class="row">
        <div class="col-lg-4  col-lg-offset-4  col-md-6  col-md-offset-3  col-sm-8  col-sm-offset-2  col-xs-12">
            <div class="block--shadowed  box">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="form-group">
                        {% if invalid_username is defined %}
                            <p class="text-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                        {% endif %}
                        <label for="username" class="control-label">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input type="text" id="username" name="username" required="required" class="form-control"  />
                    </div>
                    <button type="submit" class="btn  btn-success  btn-block  login__submit">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
