{% extends "@CapcoUser/layout.html.twig" %}
{% block title %} {{ 'resetting.reset.submit'|trans({}, 'CapcoAppBundle') }} {{ parent() }} {% endblock %}

{% block jumbotron %}
    <div class="jumbotron  jumbotron--custom  jumbotron--bg-1  text-center">
        <div class="container">
            <h1 class="h2  h--no-border">{{ 'resetting.reset.submit'|trans({}, 'CapcoAppBundle') }}</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
	{% include "@CapcoUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
