{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block list_filters %}{% endblock %}
{% block list_filters_actions %}{% endblock %}
{% block tab_menu %}{% endblock %}
{% block actions %}{% endblock %}

{% block sonata_breadcrumb %}
{% endblock %}

{% block sonata_page_content %}
    <div class="text-center">
        <h1>VA BOSSER VINCENT</h1>
        <h2 style="color: red">HOPOPOP !</h2>
    </div>
{% endblock %}

{% block list_table %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
