/* ===============================================================
   $BASE
================================================================*/

.print {
    display: none;
}

/* ======================== Label ============================*/

.label-default {
    background-color: $dark-gray;
}

.label-success {
    background-color: $success-color;
}

.label-danger {
    background-color: $danger-color;
}

.label-info {
    background-color: $info-color;

    a, a:hover {
        color: $white;
        font-weight: 400;
    }
}

/* ======================== Excerpt ============================*/

.excerpt, a.excerpt, .small.excerpt {
    color: $dark-gray;
    font-weight: normal;
}

.excerpt_dark {
    color: $dark
}

.excerpt_private {
    @extend .excerpt;
    color: $info-color;
    margin-top: 25px;
}

/* ==================== Private elements ========================*/

.PrivateList {
    &__box {
        padding: 30px 25px 0;
        border: 1px $border-color solid;
        border-radius: 5px;
        background-color: $page-bgc;
    }
}

/* ======================== Avatar =============================*/

svg.avatar {
    vertical-align: middle;
}

/* ======================= Ellipsis ============================*/

.ellipsis {
    @include ellipsis();
}



// Change place & name

.storybook-container {
    hr {
        margin: 20px 0;
    }

    a {
        color: $brand-color-2;

        &:hover {
            color: $brand-color-1;
        }
    }
}

#proposal-follow-btn:focus{
    background-color: white;
}
