/* ===============================================================
   $BASE
================================================================*/
body {
  padding-top: $navbar-height;
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px $dark-blue solid;
  color: $dark-blue;
}

h3 {
  color: $light-blue;  
}

.h4 {
  font-size: 16px;
}

.excerpt {
  color: $excerpt;
}

.pagination {
  margin: 0;
}

.pull-abs {
  position: absolute;
  top: 0px;
  right: 0px;
}

.pull-rel {
  position: relative;
}

// Class .play
.play {
  display: block;
  position: relative;
}
  
// Show a play icon on top of images
.play:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($custom-video-play/2);
  margin-left: -($custom-video-play/2);
  @include triangle($white, 'left', $custom-video-play);
}

// Show length of video, stored in link's data-length attribute
.play[data-length]:before {
  content: attr(data-length);
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  padding: 5px;
  color: $white;
  background-color: $black;
}

// Icon circled
.icon--circled {
  color: $black;
  background-color: $white;
  padding: 5px 7px;
  @include border-radius(50%);
}

