/* ===============================================================
   $BASE
================================================================*/
body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px $dark-blue solid;
  color: $dark-blue;
}

h3 {
  color: $light-blue;  
}

.excerpt {
  color: $gray-light;
}

.pull-abs {
	position: absolute;
	top: 0px;
	right: 0px;
}

.pull-rel {
	position: relative;
}

.inner-addon {
  position: relative;
}

.inner-addon .icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon {
  .icon  {
    left:  0px;
  }
  input {
    padding-left: 30px;
  }
}
.right-addon {
  .icon  {
    right:  0px;
  }
  input {
    padding-right: 30px;
  }
}

