.error-page {
  .cap {
    font-size: 128px;
    color: $icon-gray-color;
    font-weight: bold;
  }

  &__name {
    font-size: 36px;
    color: $icon-gray-color;
    font-family: OpenSans-Bold;
  }

  &__definition {
    color: $dark-text;
    font-size: 18px;
    text-align: left;
  }

  &__help {
    color: $dark-text;
    font-size: 16px;
    font-family: OpenSans;
    text-align: left;
  }
}