@charset "UTF-8";

@font-face {
  font-family: "cap-collectif";
  src:url("../fonts/cap-collectif.eot");
  src:url("../fonts/cap-collectif.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cap-collectif.woff") format("woff"),
  url("../fonts/cap-collectif.ttf") format("truetype"),
  url("../fonts/cap-collectif.svg#cap-collectif") format("svg");
  font-weight: normal;
  font-style: normal;

}

.cap {
  position: relative;
  top: 2px;
  right: 2px;
}

[data-icon]:before {
  font-family: "cap-collectif" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cap-"]:before,
[class*=" cap-"]:before {
  font-family: "cap-collectif" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cap-twitter:before {
  content: "\e001";
}
.cap-tumblr-circled:before {
  content: "\e002";
}
.cap-pinterest-circled:before {
  content: "\e004";
}
.cap-pinterest:before {
  content: "\e005";
}
.cap-github:before {
  content: "\e006";
}
.cap-github-circled:before {
  content: "\e007";
}
.cap-skype:before {
  content: "\e003";
}
.cap-facebook-squared:before {
  content: "\e008";
}
.cap-facebook-circled:before {
  content: "\e009";
}
.cap-facebook:before {
  content: "\e00a";
}
.cap-gplus:before {
  content: "\e00b";
}
.cap-gplus-circled:before {
  content: "\e00c";
}
.cap-linkedin:before {
  content: "\e00d";
}
.cap-linkedin-circled:before {
  content: "\e00e";
}
.cap-picasa:before {
  content: "\e00f";
}
.cap-cc:before {
  content: "\e010";
}
.cap-behance:before {
  content: "\e011";
}
.cap-vimeo:before {
  content: "\e012";
}
.cap-vimeo-circled:before {
  content: "\e013";
}
.cap-clip-2:before {
  content: "\e014";
}
.cap-link-2:before {
  content: "\e016";
}
.cap-bin-2:before {
  content: "\e017";
}
.cap-tag-1:before {
  content: "\e018";
}
.cap-star-1:before {
  content: "\e023";
}
.cap-baloon:before {
  content: "\e025";
}
.cap-bubble-conversation-5:before {
  content: "\e027";
}
.cap-camera-symbol-1:before {
  content: "\e02a";
}
.cap-rss-2:before {
  content: "\e02d";
}
.cap-mail-1:before {
  content: "\e030";
}
.cap-play-1:before {
  content: "\e037";
}
.cap-file-1:before {
  content: "\e03f";
}
.cap-setting-gear:before {
  content: "\e043";
}
.cap-marker-1:before {
  content: "\e04c";
}
.cap-quote:before {
  content: "\e061";
}
.cap-html:before {
  content: "\e062";
}
.cap-italic:before {
  content: "\e063";
}
.cap-list-1:before {
  content: "\e064";
}
.cap-list-2:before {
  content: "\e065";
}
.cap-list-3:before {
  content: "\e066";
}
.cap-list-4:before {
  content: "\e067";
}
.cap-paragraph:before {
  content: "\e068";
}
.cap-text-wrapping-2:before {
  content: "\e069";
}
.cap-text-wrapping-1:before {
  content: "\e06a";
}
.cap-text:before {
  content: "\e06b";
}
.cap-strikethrough:before {
  content: "\e06c";
}
.cap-columns:before {
  content: "\e06d";
}
.cap-eraser:before {
  content: "\e06e";
}
.cap-font-color:before {
  content: "\e06f";
}
.cap-underline:before {
  content: "\e070";
}
.cap-paste:before {
  content: "\e071";
}
.cap-arrow-58:before {
  content: "\e078";
}
.cap-arrow-57:before {
  content: "\e079";
}
.cap-arrow-59:before {
  content: "\e07a";
}
.cap-arrow-60:before {
  content: "\e07b";
}
.cap-arrow-65:before {
  content: "\e080";
}
.cap-arrow-66:before {
  content: "\e081";
}
.cap-arrow-67:before {
  content: "\e082";
}
.cap-arrow-68:before {
  content: "\e083";
}
.cap-magnifier:before {
  content: "\e088";
}
.cap-profile-1:before {
  content: "\e090";
}
.cap-camera-front:before {
  content: "\e091";
}
.cap-calendar-1:before {
  content: "\e09e";
}
.cap-signal:before {
  content: "\e0c2";
}
.cap-rss:before {
  content: "\e0c3";
}
.cap-flickr:before {
  content: "\e0c4";
}
.cap-evernote:before {
  content: "\e0c5";
}
.cap-flickr-circled:before {
  content: "\e0c6";
}
.cap-dribbble:before {
  content: "\e0c7";
}
.cap-dribbble-circled:before {
  content: "\e0c8";
}
.cap-dropbox:before {
  content: "\e0c9";
}
.cap-folder:before {
  content: "\e0ca";
}
.cap-graduation-cap:before {
  content: "\e0cb";
}
.cap-heart:before {
  content: "\e0cc";
}
.cap-instagrem:before {
  content: "\e0cd";
}
.cap-lastfm-circled:before {
  content: "\e0ce";
}
.cap-lastfm:before {
  content: "\e0cf";
}
.cap-paypal:before {
  content: "\e0d0";
}
.cap-skype-circled:before {
  content: "\e0d1";
}
.cap-smashing:before {
  content: "\e0d2";
}
.cap-twitter-circled:before {
  content: "\e0d3";
}
.cap-tumblr:before {
  content: "\e0d4";
}
.cap-upload-cloud:before {
  content: "\e0d5";
}
.cap-vkontakte:before {
  content: "\e0d6";
}
.cap-vcard:before {
  content: "\e0d7";
}
.cap-traffic-cone:before {
  content: "\e0d8";
}
.cap-stumbleupon-circled:before {
  content: "\e0d9";
}
.cap-stumbleupon:before {
  content: "\e0da";
}
.cap-pencil-1:before {
  content: "\e015";
}
.cap-tag-add:before {
  content: "\e019";
}
.cap-tag-delete:before {
  content: "\e01a";
}
.cap-key-1:before {
  content: "\e000";
}
.cap-flag-1:before {
  content: "\e01c";
}
.cap-hand-like-2:before {
  content: "\e01d";
}
.cap-hand-unlike-2:before {
  content: "\e01e";
}
.cap-star-5:before {
  content: "\e01f";
}
.cap-star-9:before {
  content: "\e01b";
}
.cap-bubble-attention-2:before {
  content: "\e020";
}
.cap-bubble-check-1:before {
  content: "\e021";
}
.cap-bubble-delete-1:before {
  content: "\e022";
}
.cap-bubble-star-1:before {
  content: "\e024";
}
.cap-camera-symbol-3:before {
  content: "\e026";
}
.cap-link:before {
  content: "\e028";
}
.cap-megaphone-2:before {
  content: "\e029";
}
.cap-rss-1:before {
  content: "\e02b";
}
.cap-address-1:before {
  content: "\e02c";
}
.cap-contacts-2:before {
  content: "\e02e";
}
.cap-id-1:before {
  content: "\e02f";
}
.cap-user-2:before {
  content: "\e031";
}
.cap-user-star-2:before {
  content: "\e032";
}
.cap-photo-1:before {
  content: "\e033";
}
.cap-signal-camera-1:before {
  content: "\e034";
}
.cap-play-2:before {
  content: "\e035";
}
.cap-download-2:before {
  content: "\e036";
}
.cap-folder-2:before {
  content: "\e03a";
}
.cap-add-1:before {
  content: "\e03b";
}
.cap-add-3:before {
  content: "\e03c";
}
.cap-delete-1:before {
  content: "\e03d";
}
.cap-minus-3:before {
  content: "\e03e";
}
.cap-check-1:before {
  content: "\e041";
}
.cap-check-2:before {
  content: "\e089";
}
.cap-cross-1:before {
  content: "\e08a";
}
.cap-bell:before {
  content: "\e040";
}
.cap-clock-3:before {
  content: "\e042";
}
.cap-alert-2:before {
  content: "\e08b";
}
.cap-alert-1:before {
  content: "\e08c";
}
.cap-information:before {
  content: "\e08d";
}
.cap-question-mark:before {
  content: "\e08e";
}
.cap-compass-3:before {
  content: "\e044";
}
.cap-globe-2:before {
  content: "\e045";
}
.cap-building-2:before {
  content: "\e046";
}
.cap-house-2:before {
  content: "\e047";
}
.cap-thumbnails-2:before {
  content: "\e048";
}
.cap-list-1-1:before {
  content: "\e049";
}
.cap-list-2-1:before {
  content: "\e04a";
}
.cap-thumbnails-1:before {
  content: "\e04b";
}
.cap-lightbulb-1:before {
  content: "\e04d";
}
.cap-arrow-redo:before {
  content: "\e04e";
}
.cap-arrow-undo:before {
  content: "\e04f";
}
.cap-bold:before {
  content: "\e050";
}
.cap-print-preview:before {
  content: "\e051";
}
.cap-text-wrapping-3:before {
  content: "\e052";
}
.cap-align-center:before {
  content: "\e053";
}
.cap-align-left:before {
  content: "\e054";
}
.cap-align-right:before {
  content: "\e055";
}
.cap-leading-1:before {
  content: "\e056";
}
.cap-justify:before {
  content: "\e057";
}
.cap-left-indent:before {
  content: "\e05c";
}
.cap-right-indent:before {
  content: "\e05d";
}
.cap-small-caps:before {
  content: "\e058";
}
.cap-arrow-37:before {
  content: "\e059";
}
.cap-arrow-38:before {
  content: "\e05a";
}
.cap-arrow-39:before {
  content: "\e05b";
}
.cap-arrow-40:before {
  content: "\e05e";
}
.cap-arrow-34:before {
  content: "\e05f";
}
.cap-bin-2-1:before {
  content: "\e072";
}
.cap-key-1-1:before {
  content: "\e073";
}
.cap-link-2-1:before {
  content: "\e074";
}
.cap-magnifier-1:before {
  content: "\e075";
}
.cap-pencil-1-1:before {
  content: "\e076";
}
.cap-tag-1-1:before {
  content: "\e077";
}
.cap-tag-add-1:before {
  content: "\e07c";
}
.cap-tag-delete-1:before {
  content: "\e07d";
}
.cap-tags-1:before {
  content: "\e07e";
}
.cap-flag-1-1:before {
  content: "\e07f";
}
.cap-hand-like-2-1:before {
  content: "\e084";
}
.cap-hand-unlike-2-1:before {
  content: "\e085";
}
.cap-star-1-1:before {
  content: "\e086";
}
.cap-star-5-1:before {
  content: "\e087";
}
.cap-star-9-1:before {
  content: "\e08f";
}
.cap-baloon-1:before {
  content: "\e092";
}
.cap-bubble-attention-2-1:before {
  content: "\e094";
}
.cap-bubble-check-1-1:before {
  content: "\e095";
}
.cap-bubble-delete-1-1:before {
  content: "\e096";
}
.cap-bubble-star-1-1:before {
  content: "\e097";
}
.cap-camera-symbol-1-1:before {
  content: "\e099";
}
.cap-camera-symbol-3-1:before {
  content: "\e09a";
}
.cap-link-1:before {
  content: "\e09b";
}
.cap-megaphone-2-1:before {
  content: "\e09c";
}
.cap-rss-1-1:before {
  content: "\e09d";
}
.cap-rss-2-1:before {
  content: "\e09f";
}
.cap-address-1-1:before {
  content: "\e0a0";
}
.cap-mail-1-1:before {
  content: "\e0a1";
}
.cap-contacts-1:before {
  content: "\e0a2";
}
.cap-contacts-2-1:before {
  content: "\e0a3";
}
.cap-id-1-1:before {
  content: "\e0a4";
}
.cap-id-2:before {
  content: "\e0a5";
}
.cap-id-3:before {
  content: "\e0a6";
}
.cap-profile-1-1:before {
  content: "\e0a7";
}
.cap-user-2-1:before {
  content: "\e0a8";
}
.cap-user-star-2-1:before {
  content: "\e0a9";
}
.cap-camera-front-1:before {
  content: "\e0aa";
}
.cap-signal-camera-1-1:before {
  content: "\e0ab";
}
.cap-photo-1-1:before {
  content: "\e0ac";
}
.cap-play-1-1:before {
  content: "\e0ad";
}
.cap-movie-play-4:before {
  content: "\e0ae";
}
.cap-play-2-1:before {
  content: "\e0af";
}
.cap-download-2-1:before {
  content: "\e0b0";
}
.cap-file-1-1:before {
  content: "\e0b1";
}
.cap-folder-2-1:before {
  content: "\e0b2";
}
.cap-add-1-1:before {
  content: "\e0b3";
}
.cap-add-3-1:before {
  content: "\e0b4";
}
.cap-minus-3-1:before {
  content: "\e0b5";
}
.cap-chat-1:before {
  content: "\e0b6";
}
.cap-chat-2:before {
  content: "\e0b7";
}
.cap-check-1-1:before {
  content: "\e0b8";
}
.cap-check-2-1:before {
  content: "\e0b9";
}
.cap-cross-1-1:before {
  content: "\e0ba";
}
.cap-setting-gear-1:before {
  content: "\e0bb";
}
.cap-bell-1:before {
  content: "\e0bc";
}
.cap-calendar-1-1:before {
  content: "\e0bd";
}
.cap-clock-3-1:before {
  content: "\e0be";
}
.cap-alert-1-1:before {
  content: "\e0bf";
}
.cap-alert-2-1:before {
  content: "\e0c0";
}
.cap-information-1:before {
  content: "\e0db";
}
.cap-question-mark-1:before {
  content: "\e0c1";
}
.cap-marker-1-1:before {
  content: "\e0dc";
}
.cap-compass-3-1:before {
  content: "\e0dd";
}
.cap-building-2-1:before {
  content: "\e0de";
}
.cap-house-2-1:before {
  content: "\e0df";
}
.cap-thumbnails-1-1:before {
  content: "\e0e0";
}
.cap-list-2-2:before {
  content: "\e0e1";
}
.cap-list-1-2:before {
  content: "\e0e2";
}
.cap-thumbnails-2-1:before {
  content: "\e0e3";
}
.cap-lightbulb-1-1:before {
  content: "\e0e4";
}
.cap-arrow-redo-1:before {
  content: "\e0e5";
}
.cap-paste-1:before {
  content: "\e0e6";
}
.cap-print-preview-1:before {
  content: "\e0e7";
}
.cap-quote-1:before {
  content: "\e0e8";
}
.cap-bold-1:before {
  content: "\e0e9";
}
.cap-arrow-undo-1:before {
  content: "\e0ea";
}
.cap-strikethrough-1:before {
  content: "\e0eb";
}
.cap-columns-1:before {
  content: "\e0ec";
}
.cap-eraser-1:before {
  content: "\e0ed";
}
.cap-text-1:before {
  content: "\e0ee";
}
.cap-font-color-1:before {
  content: "\e0ef";
}
.cap-text-wrapping-1-1:before {
  content: "\e0f0";
}
.cap-text-wrapping-2-1:before {
  content: "\e0f1";
}
.cap-text-wrapping-3-1:before {
  content: "\e0f2";
}
.cap-italic-1:before {
  content: "\e0f3";
}
.cap-html-1:before {
  content: "\e0f4";
}
.cap-list-1-3:before {
  content: "\e0f5";
}
.cap-underline-1:before {
  content: "\e0f6";
}
.cap-list-2-3:before {
  content: "\e0f7";
}
.cap-list-3-1:before {
  content: "\e0f8";
}
.cap-list-4-1:before {
  content: "\e0f9";
}
.cap-paragraph-1:before {
  content: "\e0fa";
}
.cap-align-center-1:before {
  content: "\e0fb";
}
.cap-align-left-1:before {
  content: "\e0fc";
}
.cap-align-right-1:before {
  content: "\e0fd";
}
.cap-leading-1-1:before {
  content: "\e0fe";
}
.cap-justify-1:before {
  content: "\e0ff";
}
.cap-left-indent-1:before {
  content: "\e100";
}
.cap-right-indent-1:before {
  content: "\e101";
}
.cap-small-caps-1:before {
  content: "\e102";
}
.cap-arrow-37-1:before {
  content: "\e104";
}
.cap-arrow-38-1:before {
  content: "\e105";
}
.cap-arrow-39-1:before {
  content: "\e106";
}
.cap-arrow-40-1:before {
  content: "\e107";
}
.cap-arrow-60-1:before {
  content: "\e108";
}
.cap-arrow-59-1:before {
  content: "\e109";
}
.cap-arrow-58-1:before {
  content: "\e10a";
}
.cap-arrow-57-1:before {
  content: "\e10b";
}
.cap-arrow-65-1:before {
  content: "\e10c";
}
.cap-arrow-67-1:before {
  content: "\e10d";
}
.cap-arrow-66-1:before {
  content: "\e10e";
}
.cap-arrow-68-1:before {
  content: "\e10f";
}
.cap-clip-2-1:before {
  content: "\e110";
}
.cap-clip-1:before {
  content: "\e060";
}
.cap-clip-1-1:before {
  content: "\e110";
}
.cap-link-3:before {
  content: "\e111";
}
.cap-link-broken-1:before {
  content: "\e112";
}
.cap-link-3:before {
  content: "\e111";
}
.cap-link-broken-1:before {
  content: "\e112";
}
.cap-tags-1-1:before {
  content: "\e113";
}
.cap-bubble-conversation-5-1:before {
  content: "\e113";
}
.cap-id-2-1:before {
  content: "\e115";
}
.cap-contacts-1-1:before {
  content: "\e116";
}
.cap-movie-play-4-1:before {
  content: "\e117";
}
.cap-download-12:before {
  content: "\e093";
}
.cap-download-12:before {
  content: "\e038";
}
.cap-clipboard-1:before {
  content: "\e114";
}
.cap-clipboard-1:before {
  content: "\e039";
}
.cap-note-paper-2:before {
  content: "\e118";
}
.cap-note-paper-2:before {
  content: "\e115";
}
.cap-delete-1-1:before {
  content: "\e116";
}
.cap-chat-1-1:before {
  content: "\e119";
}
.cap-chat-2-1:before {
  content: "\e11a";
}
.cap-check-3:before {
  content: "\e117";
}
.cap-check-3:before {
  content: "\e11b";
}
.cap-globe-2-1:before {
  content: "\e118";
}
.cap-yin-yang:before {
  content: "\e103";
}
.cap-yin-yang-1:before {
  content: "\e11c";
}
.cap-download-12-1:before {
  content: "\e038";
}
.cap-chat-1-1:before {
  content: "\e039";
}
.cap-chat-2-1:before {
  content: "\e060";
}
.cap-check-3-1:before {
  content: "\e098";
}
.cap-clipboard-1-1:before {
  content: "\e112";
}
.cap-note-paper-2-1:before {
  content: "\e119";
}
.cap-movie-play-4-1:before {
  content: "\e11a";
}
.cap-decrease-indent-2:before {
  content: "\e11b";
}
.cap-increase-indent-1:before {
  content: "\e11d";
}
.cap-decrease-indent-2-1:before {
  content: "\e11e";
}
.cap-increase-indent-1-1:before {
  content: "\e11f";
}
.cap-lock-unlock-2:before {
  content: "\e120";
}
.cap-lock-2:before {
  content: "\e121";
}
.cap-pin-1:before {
  content: "\e122";
}
.cap-connection-1:before {
  content: "\e123";
}
.cap-clock-1:before {
  content: "\e124";
}
.cap-cake-2:before {
  content: "\e125";
}
.cap-coffee-cup-2:before {
  content: "\e126";
}
.cap-lock-2-1:before {
  content: "\e127";
}
.cap-lock-unlock-2-1:before {
  content: "\e128";
}
.cap-pin-1-1:before {
  content: "\e129";
}
.cap-bubble-conversation-5-1:before {
  content: "\e12a";
}
.cap-connection-1:before {
  content: "\e123";
}
.cap-connection-1-1:before {
  content: "\e12b";
}
.cap-clock-1-1:before {
  content: "\e12c";
}
.cap-cake-2-1:before {
  content: "\e12d";
}
.cap-coffee-cup-1:before {
  content: "\e12e";
}
.cap-arrow-34-1:before {
  content: "\e12f";
}
