@charset "UTF-8";

@font-face {
  font-family: "cap-collectif";
  src:url("../fonts/cap-collectif.eot");
  src:url("../fonts/cap-collectif.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cap-collectif.woff") format("woff"),
  url("../fonts/cap-collectif.ttf") format("truetype"),
  url("../fonts/cap-collectif.svg#cap-collectif") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cap-collectif" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cap-"]:before,
[class*=" cap-"]:before {
  font-family: "cap-collectif" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cap-twitter:before {
  content: "\e001";
}
.cap-tumblr-circled:before {
  content: "\e002";
}
.cap-pinterest-circled:before {
  content: "\e004";
}
.cap-pinterest:before {
  content: "\e005";
}
.cap-github:before {
  content: "\e006";
}
.cap-github-circled:before {
  content: "\e007";
}
.cap-skype:before {
  content: "\e003";
}
.cap-facebook-squared:before {
  content: "\e008";
}
.cap-facebook-circled:before {
  content: "\e009";
}
.cap-facebook:before {
  content: "\e00a";
}
.cap-gplus:before {
  content: "\e00b";
}
.cap-gplus-circled:before {
  content: "\e00c";
}
.cap-linkedin:before {
  content: "\e00d";
}
.cap-linkedin-circled:before {
  content: "\e00e";
}
.cap-picasa:before {
  content: "\e00f";
}
.cap-cc:before {
  content: "\e010";
}
.cap-behance:before {
  content: "\e011";
}
.cap-vimeo:before {
  content: "\e012";
}
.cap-vimeo-circled:before {
  content: "\e013";
}
.cap-clip-1:before {
  content: "\e000";
}
.cap-clip-2:before {
  content: "\e014";
}
.cap-link-1:before {
  content: "\e015";
}
.cap-link-2:before {
  content: "\e016";
}
.cap-bin-2:before {
  content: "\e017";
}
.cap-tag-1:before {
  content: "\e018";
}
.cap-tag-2:before {
  content: "\e019";
}
.cap-tags-1:before {
  content: "\e01a";
}
.cap-tags-2:before {
  content: "\e01b";
}
.cap-bookmark-3:before {
  content: "\e01c";
}
.cap-bookmark-2:before {
  content: "\e01d";
}
.cap-bookmark-1:before {
  content: "\e01e";
}
.cap-bookmark-4:before {
  content: "\e01f";
}
.cap-hand-like-1:before {
  content: "\e020";
}
.cap-hand-unlike-1:before {
  content: "\e021";
}
.cap-google-plus-1:before {
  content: "\e022";
}
.cap-star-1:before {
  content: "\e023";
}
.cap-star-5:before {
  content: "\e024";
}
.cap-baloon:before {
  content: "\e025";
}
.cap-bubble-conversation-6:before {
  content: "\e026";
}
.cap-bubble-conversation-5:before {
  content: "\e027";
}
.cap-contact:before {
  content: "\e029";
}
.cap-call-1:before {
  content: "\e028";
}
.cap-camera-symbol-1:before {
  content: "\e02a";
}
.cap-camera-symbol-2:before {
  content: "\e02b";
}
.cap-camera-symbol-3:before {
  content: "\e02c";
}
.cap-rss-2:before {
  content: "\e02d";
}
.cap-address-3:before {
  content: "\e02e";
}
.cap-address-2:before {
  content: "\e02f";
}
.cap-mail-1:before {
  content: "\e030";
}
.cap-mail-2:before {
  content: "\e031";
}
.cap-inbox-4:before {
  content: "\e032";
}
.cap-outbox-1:before {
  content: "\e033";
}
.cap-outbox-2:before {
  content: "\e034";
}
.cap-camera-lens-2:before {
  content: "\e035";
}
.cap-signal-camera-1:before {
  content: "\e036";
}
.cap-play-1:before {
  content: "\e037";
}
.cap-movie-play-2:before {
  content: "\e038";
}
.cap-movie-play-3:before {
  content: "\e039";
}
.cap-movie-play-1:before {
  content: "\e03a";
}
.cap-play-2:before {
  content: "\e03b";
}
.cap-cloud:before {
  content: "\e03c";
}
.cap-download-1:before {
  content: "\e03d";
}
.cap-file-favorite-1:before {
  content: "\e03e";
}
.cap-file-1:before {
  content: "\e03f";
}
.cap-file-table:before {
  content: "\e040";
}
.cap-file-list:before {
  content: "\e041";
}
.cap-setting-gears-1:before {
  content: "\e042";
}
.cap-setting-gear:before {
  content: "\e043";
}
.cap-pound-currency-2:before {
  content: "\e044";
}
.cap-pound-currency-3:before {
  content: "\e045";
}
.cap-dollar-currency-3:before {
  content: "\e046";
}
.cap-dollar-currency-2:before {
  content: "\e047";
}
.cap-euro-currency-3:before {
  content: "\e048";
}
.cap-euro-currency-2:before {
  content: "\e049";
}
.cap-delete-marker-1:before {
  content: "\e04a";
}
.cap-delete-marker-3:before {
  content: "\e04b";
}
.cap-marker-1:before {
  content: "\e04c";
}
.cap-marker-2:before {
  content: "\e04d";
}
.cap-book-7:before {
  content: "\e04e";
}
.cap-book-6:before {
  content: "\e04f";
}
.cap-book-5:before {
  content: "\e050";
}
.cap-book-3:before {
  content: "\e051";
}
.cap-book:before {
  content: "\e052";
}
.cap-bookmark-3-1:before {
  content: "\e053";
}
.cap-bookmark-2-1:before {
  content: "\e054";
}
.cap-book-favorite-1:before {
  content: "\e055";
}
.cap-creative-commons:before {
  content: "\e056";
}
.cap-copyright:before {
  content: "\e057";
}
.cap-hierarchy-1:before {
  content: "\e058";
}
.cap-hierarchy-2:before {
  content: "\e059";
}
.cap-hierarchy-5:before {
  content: "\e05a";
}
.cap-hierarchy-6:before {
  content: "\e05b";
}
.cap-hierarchy-7:before {
  content: "\e05c";
}
.cap-hierarchy-8:before {
  content: "\e05d";
}
.cap-network-1:before {
  content: "\e05e";
}
.cap-disabled:before {
  content: "\e05f";
}
.cap-academic-cap:before {
  content: "\e060";
}
.cap-quote:before {
  content: "\e061";
}
.cap-html:before {
  content: "\e062";
}
.cap-italic:before {
  content: "\e063";
}
.cap-list-1:before {
  content: "\e064";
}
.cap-list-2:before {
  content: "\e065";
}
.cap-list-3:before {
  content: "\e066";
}
.cap-list-4:before {
  content: "\e067";
}
.cap-paragraph:before {
  content: "\e068";
}
.cap-text-wrapping-2:before {
  content: "\e069";
}
.cap-text-wrapping-1:before {
  content: "\e06a";
}
.cap-text:before {
  content: "\e06b";
}
.cap-strikethrough:before {
  content: "\e06c";
}
.cap-columns:before {
  content: "\e06d";
}
.cap-eraser:before {
  content: "\e06e";
}
.cap-font-color:before {
  content: "\e06f";
}
.cap-underline:before {
  content: "\e070";
}
.cap-paste:before {
  content: "\e071";
}
.cap-arrow-redo:before {
  content: "\e072";
}
.cap-arrow-undo:before {
  content: "\e073";
}
.cap-arrow-circle-28:before {
  content: "\e074";
}
.cap-arrow-circle-29:before {
  content: "\e075";
}
.cap-arrow-circle-30:before {
  content: "\e076";
}
.cap-arrow-circle-27:before {
  content: "\e077";
}
.cap-arrow-58:before {
  content: "\e078";
}
.cap-arrow-57:before {
  content: "\e079";
}
.cap-arrow-59:before {
  content: "\e07a";
}
.cap-arrow-60:before {
  content: "\e07b";
}
.cap-arrow-62:before {
  content: "\e07c";
}
.cap-arrow-61:before {
  content: "\e07d";
}
.cap-arrow-63:before {
  content: "\e07e";
}
.cap-arrow-64:before {
  content: "\e07f";
}
.cap-arrow-65:before {
  content: "\e080";
}
.cap-arrow-66:before {
  content: "\e081";
}
.cap-arrow-67:before {
  content: "\e082";
}
.cap-arrow-68:before {
  content: "\e083";
}
.cap-arrow-31:before {
  content: "\e084";
}
.cap-arrow-32:before {
  content: "\e085";
}
.cap-arrow-34:before {
  content: "\e086";
}
.cap-arrow-33:before {
  content: "\e087";
}