/* ===============================================================
   $Footer
================================================================*/
.footer {
  background-color: $custom-footer;
  color: set-link-text-color($custom-footer);
  text-align: center;

  .container {
    padding: 30px;
    @media(max-width: $screen-xs-max) {
      padding: 15px;
    }
  }
  
  .h4 {
    margin-top: 0;
  }


  p {
    margin-bottom: 0;
  }

  .footer__body a {
    text-decoration: underline;
  }

  .social-network {
    @include reset-ul();
    @include ul-list-inline();
    text-align: center;

    li {
      padding-left: 15px;
      margin-top: 15px;

      &:first-child {
        padding-left: 0;
      }

      & a {
        color: $white;
      }
    }
  }

  .footer__links {
    background-color: $custom-footer-links;
    color: set-link-text-color($custom-footer-links);

    .container {
      padding: 0 30px;
      @media (max-width:$screen-xs-max) {
        padding: 0 15px;
      }
    }

    ul {
      @include reset-ul();
      @include ul-list-inline();

      li {
        @include inline-block();
        height: 45px;
        line-height: 45px;
        color: set-link-text-color($custom-footer-links);

        & a {
          padding: 0 5px;
          @include inline-block();
          color: set-link-text-color($custom-footer-links);
        }
      }
    }
  }

  .capco-powered {
    margin-bottom: 10px;
    img {
      height: 23px;
      width: auto;
      margin-right: 5px;
    }
    span {
      font-size: 13px;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  @media (max-width: $screen-xs-max){
    .social-network {
      margin-bottom: 0;

      li a {
        @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $border-radius-base);
        font-size: 25px;
        display: block;

        &:hover {
          text-decoration: none;
        }

        @each $social-color in $social-colors {
          $name: nth($social-color, 1);
          $color: nth($social-color, 2);

          &.social-network--#{$name} {
            @include button-variant($white, $color, $color);
          }
        }
      }
    }
  }
}
