/* ===============================================================
   $Footer
================================================================*/
.footer {
    background-color: $brand-color-1;
    color: set-link-text-color($brand-color-1);
    text-align: center;
    border-top: 1px solid $border-color;

    .container {
        padding: 30px;

        @media(max-width: $screen-xs-max) {
            padding: 15px;
        }
    }

    .h4 {
        margin-top: 0;
    }

    p {
        margin-bottom: 0;
    }

    .footer__body a {
        text-decoration: underline;
    }

    .social-network {
        @include reset-ul();
        @include ul-list-inline();
        text-align: center;

        li {
            padding-left: 15px;
            margin-top: 15px;

            &:first-child {
                padding-left: 0;
            }

            & a {
                color: $white;
            }
        }
    }

    .footer__links {
        background-color: $brand-color-2;
        color: set-link-text-color($brand-color-2);

        .container {
            padding: 0 30px;

            @media (max-width: $screen-xs-max) {
                padding: 0 15px;
            }
        }

        ul {
            @include reset-ul();
            @include ul-list-inline();

            li {
                @include inline-block();
                height: 45px;
                color: set-link-text-color($brand-color-2);
                line-height: 45px;

                & a {
                    padding: 0 5px;
                    @include inline-block();
                    color: set-link-text-color($brand-color-2);
                }
            }
        }
    }

    .capco-powered {
        font-size: 13px;

        a {
            color: inherit;
            text-decoration: underline;
        }

        .cap {
            position: relative;
            top: 5px;
            right: 2px;
        }
    }

    @media (max-width: $screen-xs-max) {
        .social-network {
            margin-bottom: 0;

            li a {
                @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $border-radius-base);
                display: block;
                font-size: 25px;

                &:hover {
                    text-decoration: none;
                }

                @each $social-color in $social-colors {
                    $name: nth($social-color, 1);
                    $color: nth($social-color, 2);

                    &.social-network--#{$name} {
                        @include button-variant($white, $color, $color);
                    }
                }
            }
        }
    }
}
