/* ===============================================================
   $Footer
================================================================*/
.footer {
  background-color: $custom-footer;
  color: set-link-text-color($custom-footer);
  text-align: center;

  .container {
    padding: 30px;
    @media(max-width: $screen-xs-max) {
      padding: 15px;
    }
  }
  
  h3 {
    color: set-link-text-color($custom-footer);
  }

  p {
    margin-bottom: 0;
  }

  .social-network {
    @include reset-ul();
    @include ul-list-inline();
    text-align: center;
    margin-top: 15px;

    li {

        padding-left: 15px;

        &:first-child {
          padding-left: 0;
        }

      & a {
        color: $white
      }
    }
  }

  .footer__links {
    background-color: $custom-footer-links;
    color: set-link-text-color($custom-footer-links);

    .container {
      padding: 0 30px;
      @media (max-width:$screen-xs-max) {
        padding: 0 15px;
      }
    }

    ul {
      @include reset-ul();
      @include ul-list-inline();

      li {
        @include inline-block();
        height: 45px;
        line-height: 45px;
        color: set-link-text-color($custom-footer-links);

        & a {
          padding: 0 5px;
          @include inline-block();
          color: set-link-text-color($custom-footer-links);
        }
      }
    }
  }

  @media (max-width: $screen-xs-max){
    .social-network {
      margin-bottom: 0;

      li a {
        @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $border-radius-base);
        font-size: 25px;
        display: block;
        margin-bottom: 15px;

        &:hover {
          text-decoration: none;
        }

        $social-btns:
                (facebook $social-facebook)
                (twitter $social-twitter)
                (googleplus $social-gplus)
                (linkedin $social-linkedin)
                (rss $social-rss);
        @each $social-btn in $social-btns {
          $name: nth($social-btn, 1);
          $color: nth($social-btn, 2);

          &.social-network--#{$name} {
            @include button-variant($white, $color, $color);
          }
        }
      }
    }
  }
}
