/* ===============================================================
   $BASE
================================================================*/
body {
  padding-top: $navbar-height;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  overflow-x: hidden !important;

  &.modal-open {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .modal {
      overflow: scroll;

      h1 {
        font-size: 18px;
      }

      @media only screen and (min-resolution: 150dpi) and (max-width: $screen-sm),
      only screen and (-webkit-min-device-pixel-ratio: 1.5) {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  body {
    padding-top: $navbar-collapsed-height;
  }
}

.main {
  background-color: $white;

  p {
    margin-bottom: 12px;
  }

  p.mb-0 {
    margin-bottom: 0;
  }

  .container {
    padding-top: 45px;
    padding-bottom: 45px;
    z-index: 2;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    h2:first-child {
      margin-top: 0;
    }

  }

  .container--thinner {
    max-width: $thin-container;
  }

  .section--alt {
    color: $dark;
    background-color: $page-bgc;
    border-top: 1px solid $border-color;
  }
}

.main .section--custom:nth-of-type(odd) {
  @extend .section--alt;

  .section-clear {
    clear: both;
  }
}

.main .section--custom:last-of-type {
  border-bottom: 0;
}

.profile-page .main {
  padding-top: 0;
}

.inline {
  display: inline-block;
}

.block {
  margin-bottom: 30px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}

.block--shadowed {
  background-color: $white;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
}

.block--bordered {
  border: 1px solid $border-color;
  background-color: $white;
}

.block--first-mobile {
  @media (max-width: $screen-xs-max) {
    margin-top: 15px !important;
  }
}

.block--first-tablet {
  @media (max-width: $screen-sm-max) {
    margin-top: 30px;
  }

  @extend .block--first-mobile;
}

.block--mobile {
  @media (max-width: $screen-xs-max) {
    margin-bottom: 15px;
  }
}

.block--tablet {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }

  @extend .block--mobile;
}

.box {
  padding: 15px;
}

hr {
  border-color: $border-color;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hr--no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

h1,
.h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

h2,
.h2 {
  color: $brand-color-1;
  margin-bottom: 20px;
  margin-top: 30px;
}

h3,
.h3 {
  color: $brand-color-2;

  .subtitle {
    color: $dark;
    font-size: 16px;
    font-weight: normal;
    padding-left: 12px;
  }

  &.with-buttons {
    > span {
      display: inline-block;
      margin-top: 2px;
    }
  }
}

h4,
.h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 + h2,
h1 + h3,
h2 + h3 {
  padding-top: 0 !important;
}

.h--no-border {
  border-bottom: 0;
  padding-bottom: 0;
}

.nb-bordered {
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px solid $border-color;
}

.p--lined {
  position: relative;
  margin: 15px auto;
  text-align: center;

  &:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $border-color;
    content: "";
  }

  span {
    position: relative;
    z-index: 2;
    display: inline-block;
    max-width: 60%;
    padding: 0 10px;
    background-color: $white;
    font-weight: bold;
  }
}

.p--centered {
  margin: 15px auto;
  color: $dark-gray;
  text-align: center;

  span {
    z-index: 2;
    display: inline-table;
    max-width: 60%;
    padding: 0 10px;
  }
}

.pull-abs {
  position: absolute;
  top: 0;
  right: 0;
}

.pull-rel {
  position: relative;
}

.opinion .pull-left {
  svg {
    margin-right: 10px;
    display: block;
  }
}

// Class .play
.play {
  position: relative;
  display: block;
}


/*// Show length of video, stored in link's data-length attribute
.play[data-length]:before {
  content: attr(data-length);
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  padding: 5px;
  color: $white;
  background-color: $dark;
}*/


.bg__wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;

  // ratio 2/3
  &:after {
    padding-top: 66.67%;
    display: block;
    content: "";
  }
}

@media (max-width: $screen-xs-max) {
  .bg__wrapper:after {
    padding-top: 0;
  }
}

.bg--default {
  background-color: $brand-color-2;
}

@media (max-width: $screen-xs-max) {
  .bg--default {
    position: static;
  }
}

// Icon circled
.icon--circled {
  padding: 5px 7px;
  background-color: $white;
  color: $dark;
  border-radius: 50%;
}

// Icon rotated
.icon-rotate {
  display: inline-block;
  @include rotate(-90deg);
}

.pagination--custom {
  height: 36px;

  li {
    float: left;
  }

  li > span {
    cursor: pointer;
  }
}

.pagination {
  margin: 0;
}

.media--aligned {
  margin-bottom: 0;
}

.no-float-mobile {
  @media (max-width: $screen-xs-max) {
    margin-top: 10px;
    float: none !important;
  }
}

.alert--no-radius {
  border-radius: 0;
}

// Custom dropdown
.dropdown--custom {
  position: static;
  display: inline-block;

  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    top: auto;
    right: auto;
    left: auto;
  }

  li button {
    width: 100%;
    padding: 3px 20px;
    color: $dark;
    font-weight: 400;
    line-height: 1.42857;
    text-align: left;

    &:hover {
      background-color: $page-bgc;
      color: $dark;
      text-decoration: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    float: none !important;
  }
}

.share-button-dropdown {
  display: inline-block;

  @each $social-color in $social-colors {
    $name: nth($social-color, 1);
    $color: nth($social-color, 2);

    .cap-#{$name}:before {
      color: $color;
    }
  }
}

// Custom modal
.modal--custom {
  .modal-title {
    margin: 0;
  }

  textarea {
    width: 100%;
    font-size: 13px;
    resize: none;
  }
}

.btn--no-radius {
    border-radius: 0;
}

.col-centered {
    float: none;
    display: inline-block;
    margin-right: -4px;
}

.help {
    @extend .excerpt;
    font-size: 14px;
    margin-top: 5px;
}

img {
  border-color: $border-color;
}

div.embeddedContent {
  margin: 15px 0;
}

.btgrid [class*="col-"] {
  margin-bottom: 15px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 30px;
  }
}

.edit-confirm-alert {
  padding: 0 10px;
}

// Same heights bootstrap columns

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles (http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height) */
.row-height {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.col-height {
  float: none;
  display: table-cell;
  height: 100%;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .col-xs-height {
    float: none;
    display: table-cell;
    height: 100%;
  }

  .col-xs-top {
    vertical-align: top;
  }

  .col-xs-middle {
    vertical-align: middle;
  }

  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .col-sm-height {
    float: none;
    display: table-cell;
    height: 100%;
  }

  .col-sm-top {
    vertical-align: top;
  }

  .col-sm-middle {
    vertical-align: middle;
  }

  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .col-md-height {
    float: none;
    display: table-cell;
    height: 100%;
  }

  .col-md-top {
    vertical-align: top;
  }

  .col-md-middle {
    vertical-align: middle;
  }

  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }

  .col-lg-height {
    float: none;
    display: table-cell;
    height: 100%;
  }

  .col-lg-top {
    vertical-align: top;
  }

  .col-lg-middle {
    vertical-align: middle;
  }

  .col-lg-bottom {
    vertical-align: bottom;
  }
}

.nav-center {
  text-align: center;

  ul.nav {
    display: inline-block;

    li {
      display: inline;

      a {
        float: left;
      }
    }
  }
}

.connection-popover-js:hover {
  text-decoration: none;
}

.anchor-offset:before {
    display: block;
    visibility: hidden;
    height: 60px;
    content: "";
    margin-top: -60px;
}

@each $icon in $icons-colors {
  $name: nth($icon, 1);
  $color: nth($icon, 2);

  .#{$name} {
    color: $color;
  }
}

.smart-fade {
  position: relative;
  overflow: hidden;
  height: 3.6em;
  line-height: 1.2em;

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 1.2em;
    text-align: right;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), $white 50%);
  }
}

.share-button-wrapper div {
  display: inline-block;
}

.tabs__pills ul {
  border-bottom: 0;
}

.tabs__pills {
  border-bottom: 1px solid $border-color;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabs__pill {
    float: none;
    display: inline-block;
    text-align: center;

    a {
      padding-top: 22px;
      padding-bottom: 22px;
    }

    &.active .badge {
      background-color: $dark-gray;
      color: $white;
    }

    &.active a,
    &.active a:hover,
    &.active a:focus,
    a:focus,
    a:hover {
      background-color: $white;
      color: $dark;
      border-radius: 0;
      @include box-shadow(0 -3px 0 $brand-primary inset);
    }
  }
}

.tabs__container {
  > .container {
    padding-top: 20px;
  }

  .tabs {
    margin-bottom: 30px;

    .container {
      padding-top: 0;
      padding-bottom: 0;

      .tab {

        a {
          padding: 15px 20px;
        }

        .badge {
          margin-left: 10px;
        }
      }
    }
  }
}

.well .editor {
  background-color: $white;
}

.settings__form label[for=sonata_user_profile_form_profilePageIndexed] {
  font-weight: normal;
  color: $dark;
}
