/* ===============================================================
    $Navbar
================================================================*/
//Fix margin in mobile view
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar > .container .navbar-brand {
  margin-left: 0;
}

.navbar {

  .navbar-brand {
    padding: 5px;
    img {
      height: 100%;
      width: auto;
      vertical-align: middle;
    }
  }

  .navbar__toggle-icon,
  .navbar__toggle-label {
    display: inline-block;
  }
  .navbar__toggle-label {
    padding-left: 5px;
  }
}

// Collapsed navbar

body.higher-navbar {
  padding-top: 60px;
}

.navbar.collapsed {
  overflow: auto;

  .navbar-header,
  .navbar-left,
  .navbar-right,
  .navbar-nav,
  .navbar-nav>li,
  .navbar-nav .open .dropdown-menu {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      margin: 7.5px -15px;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    > li > a,
    .dropdown-header {
      padding: 5px 15px 5px 25px;
    }
    > li > a {
      line-height: $line-height-computed;
      &:hover,
      &:focus {
        background-image: none;
      }
    }
  }
  .collapse.in{
    display: block !important;
    overflow-y: auto;
  }
}

/* ===============================================================
    $Jumbotron
================================================================*/
.jumbotron--custom {
  padding: 30px;
  margin-bottom: 0;
  @media (max-width: $screen-xs-max) {
    padding: 15px;
  }

  h2, .h2,
  h1, .h1 {
    font-size: 30px;
    padding-top: 0;
    margin-bottom: 15px;
    margin-top: 0;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 5px;
    }

    &:only-child {
      margin-bottom: 0;
    }
  }
}

$backgrounds:
        (1 $custom-jumbotron-1)
        (2 $custom-jumbotron-2);
@each $bg in $backgrounds {
  $name: nth($bg, 1);
  $color: nth($bg, 2);
  $text: set-link-text-color($color);

  .jumbotron--bg-#{$name} {
    background-color: $color;
    color: $text;
    h1, h2, h3, h4, a, a:hover {
      color: $text;
      border-color: $text;
    }
  }
}

.jumbotron--small p{
  font-size: 17px;
}

.home-page .jumbotron--custom {
  h1, .h1 {
    font-size: 63px;
  }
  @media (max-width:$screen-xs-max) {
    h1, .h1 {
      font-size: 40px;
      word-wrap: break-word;
    }
  }
}

.jumbotron--bg-1 {
  position: relative;
  p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  p:first-child {
    padding-top: 0;
  }
  p:last-child {
    padding-bottom: 0;
  }
}

.jumbotron--bg-2 {
  border-bottom: 1px solid $border;
}
