/* ===============================================================
    $Jumbotron
================================================================*/
.jumbotron--custom {
  text-align: center;
  background-color: $custom-jumbotron;
  color: $custom-jumbotron-text;
}
