.sonata-ba-sortable-handler:hover {
    cursor: move;
}

.sonata-ba-list-field-actions {
    display: inline-table;
    margin: 8px;
}

.capco--sonata-ba-field-help {
    color: $warning-color !important;
}

svg.avatar {
    background-color: $dark-gray;
}

.sonata-bc {
     .table.sonata-ba-list > tbody > tr > td,
     .table-bordered.sonata-ba-list > thead > tr > th {
        border-color: $page-bgc;
    }

    .nav > li:not(.active) > a:hover {
        background-color: $page-bgc;
    }

    .alert-info-custom {
        background-color: $alert-info-bg;
        color: $alert-info-text;
        border-color: $alert-info-border;
    }
}

.sonata-ba-form {
    .panel_flex {
        .panel-title {
            display: flex;
            align-items: center;

            span {
                flex: 1 0 auto;
            }
        }

        .list-group-item {
            display: flex;
            align-items: center;

            button {
                margin-left: auto;
            }
        }
    }

    .box-primary {
        padding: 0 20px 20px;
    }

    .box-header {
        padding: 10px 0;

        h3.box-title {
            margin: 15px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
            font-size: 24px;
            width: 100%;
        }

        a.link {
            position: absolute;
            right: 10px;
            top: 30px;
        }
    }

    .box-content {
        &.box-content__notation-form,
        &.box-content__status-form {
            .box-content__toolbar {
                margin-top: 20px;
            }
        }

        .list-group {
            margin-bottom: 0;
        }

        .panel-heading {
            a:hover {
                color: currentColor;
            }

            h4 {
                margin: 0;
                line-height: 31px;
            }

            .form-group {
                margin: 5px 0 0;
            }
        }

        .panel-body .form-group:last-child {
            margin-bottom: 0;
        }

        .form-group .checkbox {
            margin-top: 0;
        }

        .react-toggle {
            margin-right: 10px;
        }

        .box-content__toolbar:not(button) {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $border-color;
            margin-left: 0;

            >.btn:first-child {
                margin-left: 0;
            }
        }

        button.box-content__toolbar {
            margin-top: 20px;
        }
    }
}

// Fix for export button on list view
.table-responsive {
  overflow: visible;
}

// Disable tooltip showed by Sonata Admin since version 3
.ui-tooltip {
    display: none !important;
}

// Fix wrong padding left in checkboxes
.tab-pane.active .checkbox label, .modal-body .checkbox label {
    padding-left: 40px;
}
