/* ===============================================================
   $TOOLS
================================================================*/
// = Inline-block
// -----------------------------
@mixin inline-block($haslayout : true) {
    display: inline-block;
    vertical-align: middle;
    @if $haslayout == true {
        .lt-ie8 & {
            display: inline;
            zoom: 1;
        }
    }
}

// = Clearfix
// -----------------------------
@mixin clearfix($haslayout : true) {
    @if $haslayout == true {
        .lt-ie8 & {
            zoom: 1;
        }
    }

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

// = UL
// -----------------------------
@mixin ul-list-inline() {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        @include inline-block();
    }
}

@mixin reset-ul() {
    list-style: none;
    margin: 0;
    padding: 0;
}

// = Lightness BG-color > Text-Color
// -----------------------------
@function set-link-text-color($color) {
    @if (lightness( $color ) > 76) {
        @return $dark;
    } @else {
        @return $white;
    }
}

// = Triangle
// -----------------------------
@mixin triangle($background: $gray, $position: 'left', $width: 40px) {
    width: 0;
    height: 0;

    @if $position == "bottom" {
        border-top: $width solid $background;
        border-left: $width / 2 solid transparent;
        border-right: $width / 2 solid transparent;
    }
    @if $position == "top" {
        border-bottom: $width solid $background;
        border-left: $width / 2 solid transparent;
        border-right: $width / 2 solid transparent;
    }
    @if $position == "right" {
        border-top: $width / 2 solid transparent;
        border-right: $width solid $background;
        border-bottom: $width / 2 solid transparent;
    }
    @if $position == "left" {
        border-top: $width / 2 solid transparent;
        border-left: $width solid $background;
        border-bottom: $width / 2 solid transparent;
    }
}

@mixin iconize() {
    font-family: "cap-collectif" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
