/* ===============================================================
    Utils
================================================================*/
.no-margin {
    margin: 0 !important;
}

/* =====
  Margin
==== */

@for $i from 0 to 8 {
    $m: 5 + ($i * 5);
    .mt-#{$m} {
        margin-top: #{$m}px;
    }
    .mr-#{$m} {
        margin-right: #{$m}px;
    }
    .mb-#{$m} {
        margin-bottom: #{$m}px;
    }
    .ml-#{$m} {
        margin-left: #{$m}px;
    }
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-0 {
    margin-right: 0;
}

.ml-0 {
    margin-left: 0;
}

.m-auto {
    margin: auto;
}

/* =====
  Padding
==== */

.pl-0 {
    padding-left: 0;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

/* =====
  Text
==== */

.text-center {
    text-align: center;
}
.color-green {
    color: $success-color;
}

.color-red {
    color: $danger-color;
}

.color-dark-gray {
    color: $dark-gray;
}
/* =====
  Position
==== */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* =====
  Width
==== */

.w-100 {
    width: 100%;
}

/* =====
  Display
==== */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-ib {
    display: inline-block;
}

.font-weight-normal {
    font-weight: normal;
}

.justify-content-between {
   justify-content: space-between;
}

.justify-content-end {
   justify-content: flex-end;
}

.justify-content-center {
   justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}
