/* ===============================================================
    Utils
================================================================*/

.mb-15 {
    margin-bottom: 15px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-10 {
    margin-left: 10px;
}

.d-flex {
    display: flex;
}
