/* ===============================================================
    Utils
================================================================*/
.no-margin {
    margin: 0 !important;
}

/* =====
  Margin
==== */

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mr-15 {
    margin-right: 15px;
}

/* =====
  Padding
==== */

.pl-0 {
    padding-left: 0;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

/* =====
  Text
==== */

.text-center {
    text-align: center;
}

/* =====
  Position
==== */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/* =====
  Width
==== */

.w-100 {
    width: 100%;
}

/* =====
  Display
==== */

.d-flex {
    display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-ib {
    display: inline-block;
}
