// = Colors
// -----------------------------

$white: #fff;
$dark: #212529;
$black: #000;
$border-color: #e3e3e3;
$border-dropdown-color: #dddddd;
$form-bgc: #fafafa;
$page-bgc: #f6f6f6;
$icon-gray-color: #acacac;
$dark-gray: #707070; // text, label, excerpt
$dark-text: #333333;
$secondary-color: #6c757d; // button

$danger-color: #dc3545;
$warning-color: #f0ad4e;
$primary-color: #0388cc;
$success-color: #088A20;
$info-color: #1D8293;

$sucess-bg: #dff0d8;
$danger-bg: #f2dede;
$info-bg: #d9edf7;
$warning-bg: #fcf8e3;

$basic-colors:
    (danger or error $danger-color)
    (warning $warning-color)
    (primary $primary-color)
    ("default" $dark-gray)
    (success $success-color)
    (info $info-color);

$facebook-color: #3B5998;
$twitter-color: #00ACED;
$linkedin-color: #0077B5;
$share-color: #333333;
$gplus-color: #1b9bd1;
$rss-color: #fdac61;
$saml-color: #7498c0;
$fc-color: #034ea2;

// = Social Networks
// ------------------------------
$social-colors: // name color icon
        (facebook $facebook-color "e")
        (twitter $twitter-color "h")
        (googleplus $gplus-color "m")
        (linkedin $linkedin-color "f")
        (saml $saml-color "\e00b")
        (franceconnect $fc-color "\e00b")
        (rss $rss-color "g");

// = size
// ------------------------------
$thin-container: 690px;
$font-size-base: 16px; // to change with rem
$navbar-collapsed-height: 60px;

$max-bo-navbar-height: 872px;

// = Opinion types
// -------------------------------
$opinion-types:
        ("default" $page-bgc)
        ("red" #f8d7da)
        ("orange" #fff3cd)
        ("blue" #cce5ff)
        ("bluedark" darken(#cce5ff, 15%))
        ("green" #d4edda)
        ("white" #fff)
        ("gray" $border-color)
        ("light-gray", $page-bgc)
        (source darken(#428bca, 6.5%));

// = Opinion labels
// -------------------------------
$opinion-labels:
        ("blue" #5bc0de)
        ("green" #5cb85c);

// = Icons color
$icons-colors:
        (icon--red #e2264d)
        (icon--yellow #ff0)
        (icon--blue #5bc0de)
        (icon--green #5cb85c)
        (icon--black $dark);

/* ===============================================================
    $Variables Custom
================================================================*/

// = Custom video
// ------------------------------
$custom-video-play: 50px;

// = Default custom colors
// ------------------------------
$brand-color-1: #007c91; // color text custom
$brand-color-2: #00acc1; // bgc custom

// = Custom buttons
// -----------------------------
$basic-btns:
        (danger $danger-color)
        (warning $warning-color)
        (primary $primary-color)
        (success $success-color)
        (info $info-color);

$btns-custom:
        (custom-1 $white $brand-color-1)
        (dark-gray $dark-gray $white)
        (light-gray $page-bgc $dark)
        (darkest-gray $dark $white);

$btns-outline:
        ("default" $dark $dark $white)
        (success $success-color $success-color $white)
        (info $info-color $info-color $white)
        (warning $warning-color $warning-color $white)
        (danger $danger-color $danger-color $white)
        (custom-1 $white $white $brand-color-1)
        (custom-2 $brand-color-1 $brand-color-1 $white)
        (primary $primary-color $primary-color $white)
        (dark-gray $dark-gray $dark-gray $white)
        (light-gray $page-bgc $page-bgc $dark);

$statuses: (primary $primary-color $white) (success $success-color $white) (info #5bc0de $white) (warning $warning-color $white) (danger $danger-color $white) (default $dark-gray $white);

@each $status in $statuses {
    $name: nth($status, 1);
    $bg: nth($status, 2);
    $color: nth($status, 3);

    &.status--#{$name} {
        background-color: $bg;
        color: $color;
    }
}
