$white: #fff;
$dark: #212529;
$border-color: #e3e3e3;
$form-bgc: #fafafa;
$page-bgc: #f6f6f6;
$dark-gray: #707070; // text, label, excerpt
$gray-button: #5a6268;
$danger-color: #dc3545;
$warning-color: #f0ad4e;
$primary-color: #0388cc;
$success-color: #088A20;
