// = Colors
// -----------------------------

$white: #fff;
$dark: #212529;

$border-color: #e3e3e3;
$form-bgc: #fafafa;
$page-bgc: #f6f6f6;
$dark-gray: #707070; // text, label, excerpt
$secondary-color: #6c757d; // button

$danger-color: #dc3545;
$warning-color: #f0ad4e;
$primary-color: #0388cc;
$success-color: #088A20;
$info-color: #1D8293;

$facebook-color: #3B5998;
$twitter-color: #00ACED;
$linkedin-color: #0077B5;
$share-color: #333333;
$gplus-color: #d73d32;
$rss-color: #fdac61;
$saml-color: #7498c0;

// = Social Networks
// ------------------------------
$social-colors: // name color icon
        (facebook $facebook-color "e")
        (twitter $twitter-color "h")
        (googleplus $gplus-color "m")
        (linkedin $linkedin-color "f")
        (saml $saml-color "\e00b")
        (rss $rss-color "g");

// = size
// ------------------------------
$thin-container: 690px;
$font-size-base: 16px;

// = Custom video
// ------------------------------
$custom-video-play: 50px; // ???

// = Default custom colors
// ------------------------------
$brand-color-1: #16a085; // color text custom
$brand-color-2: #1abc9c; // bgc custom

// = Opinion types
// -------------------------------
$opinion-types:
        ("primary" $brand-color-2)
        ("default" #f5f5f5)
        ("red" #f2dede)
        ("orange" #fcf8e3)
        ("blue" #d9edf7)
        ("bluedark" darken(#d9edf7, 15%))
        ("green" #dff0d8) ("white" #fff)
        ("gray" $border-color)
        ("light-gray", $page-bgc)
        (source darken(#428bca, 6.5%)) // to remove
