/* ===============================================================
    $Variables Custom
================================================================*/

// = Colors
// -----------------------------
$white: #fff;
$black: #000;
$gray-primary: #c0c0c0;
$light-gray: #f7f7f9;
$dark-blue: #2a6496;
$light-blue: #428bca;

// = Base
// -----------------------------
$font-size-base:  16px;
$body-bg: #ebebeb;

// = Custom jumbotron
// -----------------------------
$custom-jumbotron: #334A6B;
$custom-jumbotron-text: $white;

// = Custom footer
// -----------------------------
$custom-footer: #334A6B;
$custom-footer-text: $white;
$custom-footer-links: #6C8EA3;
$custom-footer-links-text: $white;

// = Custom module news
// -----------------------------
$custom-news-height: 220px;
$custom-news-background: $white;

// = Custom module filter search
// -----------------------------
$custom-filter-background: $white;

// = Custom btn
// -----------------------------
$custom-btn-1-bg: #fff;
$custom-btn-1-text: #334A6B;

$custom-btn-2-bg: #334A6B;
$custom-btn-2-text: #fff;

// = Custom calendar event
// -----------------------------
$custom-event: #f6f6f6;
$custom-event-month: #08c;

// = Custom form
// -----------------------------
$custom-form-border: #00cc66;
$custom-form-bg: #fff;
$custom-form-legend: #00cc66;

// = Custom video
// ------------------------------
$custom-video-play: 50px;

// = Social Colors
// ------------------------------
$social-facebook: #3b5998;
$social-twitter: #55acee;
$social-gplus: #d73d32;
$social-linkedin: #1279B3;
$social-rss: #FDAC61;
