{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
        <a href="{{ path('admin_capco_app_opinion_edit', {'id': object.parent.id}) }}">
            <strong>{{ object.parent.title | trans({}, 'CapcoAppBundle') }}</strong>
        </a>
    {% endspaceless %}
{% endblock %}
