{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value %}
            <a href="{{ path('admin_capco_user_user_edit', {id: value.id}) }}">
                {{ value.displayName | trans({}, 'CapcoAppBundle') }}
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
