<a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'link_action_show'|trans({}, 'CapcoAppBundle') }}">
    <i class="fa fa-search-plus"></i>
    {{ 'link_action_show'|trans({}, 'CapcoAppBundle') }}
</a>
