{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% spaceless %}
            {% set value = replyPublicationStatusResolver.__invoke(object) %}
            {% if value == constant('Capco\\AppBundle\\Enum\\ProposalPublicationStatus::DRAFT') %}
                <span class="label label-info">{{ 'proposal.state.draft'|trans }}</span>
            {% elseif value == constant('Capco\\AppBundle\\Enum\\ProposalPublicationStatus::PUBLISHED') %}
                <span class="label label-success">{{ 'global.published'|trans }}</span>
            {% endif %}
    {% endspaceless %}
{% endblock %}
