{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% set value = replyPublicationStatusResolver.__invoke(object) %}
    {% if value == constant('Capco\\AppBundle\\Enum\\ProposalPublicationStatus::DRAFT') %}
        <span class="label label-info">{{ 'admin.fields.proposal.state.choices.draft'|trans }}</span>
    {% elseif value == constant('Capco\\AppBundle\\Enum\\ProposalPublicationStatus::PUBLISHED') %}
        <span class="label label-success">{{ 'admin.fields.proposal.state.choices.published'|trans }}</span>
    {% endif %}
{% endblock %}
