    <div class="video-thumbnail">
        {% if project %}
            {% if project.Cover %}
                {% thumbnail project.Cover, 'blockHeader' with {'title': project.title, 'alt': '', 'class': 'img-responsive'} %}
            {% else %}
                <div class="bg__wrapper">
                    <div class="bg--default bg--project">
                        <svg version="1.1" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px" height="110px" viewBox="-162.5 -162.5 226.5 226.5" enable-background="new -162.5 -162.5 226.5 226.5" xml:space="preserve" style="margin: 0 auto; display: block;">
                            <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-27.254-143.396h-91.487c-20.386,0-36.596,16.21-36.596,36.595v32.934c0,20.386,16.525,32.934,36.907,32.934h14.323v40.252l36.436-40.252h40.417c20.382,0,40.251-16.21,40.251-36.595v-29.275C13.001-127.187-6.865-143.396-27.254-143.396z"/>
                            <path fill="none" stroke="#FFFFFF" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-52.87-4.331c0,12.74,9.215,21.952,21.959,21.952h21.952L20.32,46.896V17.621h13.662c12.814,0,23.17-10.445,23.066-23.256l-0.137-16.84c0-12.736-9.208-22.111-21.952-22.111"/>
                        </svg>
                    </div>
                </div>
            {% endif %}
            {% if project.video %}
                {% set link = project.video %}
                <a href="{{ link }}" class="play fancybox" data-type="iframe">
                    <span class="play-button"></span>
                    <span class="triangle"></span>
                </a>
            {% endif %}
        {% else %}
            {% set link = video.link %}
            {% if video.media %}
                {% thumbnail video.media, 'homepageVideo' with {'title': video.media.name, 'alt': video.media.name, 'class': 'img-responsive'} %}
                <a href="{{ link }}" class="play fancybox" data-type="iframe">
                    <span class="play-button"></span>
                    <span class="triangle"></span>
                </a>
            {% else %}
                <div class="bg--default bg--video"></div>
                <a href="{{ video.link }}" class="play fancybox" data-type="iframe">
                    <span class="play-button"></span>
                    <span class="triangle"></span>
                </a>
            {% endif %}
        {% endif %}
    </div>
